<div id="intro-manifest" class="wrapper-image">
	<img src="public/img/_temporary/pet-slide.jpg" alt="Nosso Manifesto">
</div> <!-- / intro-manifest -->

<div class="content-manifest">
	<div class="container">
		<div class="row align-center">
			<div class="col col-11 intro-text-manifest">
				<h1>Nosso Manifesto</h1>
				<p>Tendo em vista a grande dificuldade de encontrar, de maneira rápida, criadores que vendam pets de forma confiável e a falta de divulgação de ONGs, a REX é a empresa pioneira nos serviços de compra, adoção e venda de animais por meio digital. Trazemos inovação e qualidade na forma de encontrar um parceiro para a vida. Filtramos apenas canis e gatis que não praticam maus tratos e fornecemos ajuda em comunicação para ONGts, tudo reunido em uma só plataforma.</p>
				<p>Tendo em vista a grande dificuldade de encontrar, de maneira rápida, criadores que vendam pets de forma confiável e a falta de divulgação de ONGs, a REX é a empresa pioneira nos serviços de compra, adoção e venda de animais por meio digital. Trazemos inovação e qualidade na forma de encontrar um parceiro para a vida. Filtramos apenas canis e gatis que não praticam maus tratos e fornecemos ajuda em comunicação para ONGs, tudo reunido em uma só plataforma.</p>
				<p>Tendo em vista a grande dificuldade de encontrar, de maneira rápida, criadores que vendam pets de forma confiável e a falta de divulgação de ONGs, a REX é a empresa pioneira nos serviços de compra, adoção e venda de animais por meio digital. Trazemos inovação e qualidade na forma de encontrar um parceiro para a vida. Filtramos apenas canis e gatis que não praticam maus tratos e fornecemos ajuda em comunicação para ONGs, tudo reunido em uma só plataforma.</p>
			</div> <!-- / col -->
		</div> <!-- / row -->

		<div class="row align-center">
			<div class="col col-10">
				<div class="video-container">
					<iframe src="https://www.youtube.com/embed/L3wKzyIN1yk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</div> <!-- / video-container -->
			</div> <!-- / col -->
		</div> <!-- / row -->

		<div class="row align-center" id="mvv">
			<div class="col-10">
				<div class="row gutters">
					<div class="col col-4">
						<img src="public/img/_icons/missao.svg" alt="Missão">
						<h4>Missão</h4>
						<p>Conectar pessoas que querem adquirir, vender ou adotar um amigo para a vida e tornar a experiência de ter um bicho a mais completa e feliz possível.</p>
					</div> <!-- / col -->

					<div class="col col-4">
						<img src="public/img/_icons/visao.svg" alt="Visão">
						<h4>Visão</h4>
						<p>Ser a empresa pioneira nos serviços totalmente seguros de compra, adoção e venda de animais por sites e aplicativos. Trazemos inovação e qualidade na forma de encontrar um parceiro para a vida. </p>
					</div> <!-- / col -->

					<div class="col col-4">
						<img src="public/img/_icons/valores.svg" alt="Valores">
						<h4>Valores</h4>
						<p> Bem-estar animal <br>
							Comprometimento <br>
							Inovação <br>
							Transparência <br>
							Valorização da integração da pessoa com seu pet <br>
							Cuidados
						</p>
					</div> <!-- / col -->
				</div> <!-- / row -->
			</div> <!-- / col -->
		</div>
	</div> <!-- / container -->
</div> <!-- / content-manifest -->

<div id="what-we-deliver" class="bgParallax" style="background-image: url('public/img/_structure/background-deliver.jpg')">
	<div class="container">
		<div class="row">
			<div class="col col-12">
				<h4>O que entregamos?</h4>
			</div> <!-- / col -->
		</div> <!-- / row -->
	</div> <!-- / container -->
</div>

<div id="list-deliver">
	<div class="container">
		<div class="row gutters">
			<div class="col col-9">
				<div class="align-text-manifest">
					<h3>PARA CANIS, GATIS E ONGs</h3>
					<p>Rex é uma plataforma (site + aplicativo) que funciona conectando interesses. Nossa proposta é ser o melhor e maior canal de interação entre quem vende ou doa e quem procura um pet. <br> Somos a primeira marca a dar a real importância para esse processo de juntar criador ou ONG ao tutor, nos assegurando de ser um portal para criadores responsáveis e éticos, que cuidam com carinho, atenção e responsabilidade tanto dos pais quanto das ninhadas. Através de ferramentas de avaliação de usuários e do nosso acompanhamento de perto podemos garantir essa confiabilidade e ética.
					<br><br>
					Nesse contexto, as oportunidades aumentam muito, uma vez que o tutor tem na nossa plataforma a garantia de que: </p>
					<ul>
						<li>Vai encontrar o pet que procura, pois vai ser devidamente orientado por nós para chegar no bichinho que é a sua cara.</li>
						<li>Vai adquirir um pet de procedência certificada e ética.</li>
					</ul>
				</div>
			</div>  <!-- / col -->

			<div class="col col-3 hide-mobile">
				<img src="public/img/_icons/for-ongs.svg" alt="Para ONGs">
			</div> <!-- / col -->
		</div> <!-- / row -->

		<div class="row gutters">
			<div class="col col-3 hide-mobile">
				<img src="public/img/_icons/for-buy.svg" alt="Para ONGs">
			</div> <!-- / col -->

			<div class="col col-9">
				<div class="align-text-manifest">
					<h3>Para compradores e adotantes</h3>
					<p>Rex é uma plataforma (site + aplicativo) que funciona conectando interesses. Nossa proposta é ser o melhor e maior canal de interação entre quem vende ou doa e quem procura um pet. <br> Somos a primeira marca a dar a real importância para esse processo de juntar criador ou ONG ao tutor, nos assegurando de ser um portal para criadores responsáveis e éticos, que cuidam com carinho, atenção e responsabilidade tanto dos pais quanto das ninhadas. Através de ferramentas de avaliação de usuários e do nosso acompanhamento de perto podemos garantir essa confiabilidade e ética.
					<br><br>
					Nesse contexto, as oportunidades aumentam muito, uma vez que o tutor tem na nossa plataforma a garantia de que: </p>
					<ul>
						<li>Vai encontrar o pet que procura, pois vai ser devidamente orientado por nós para chegar no bichinho que é a sua cara.</li>
						<li>Vai adquirir um pet de procedência certificada e ética.</li>
					</ul>
				</div>
			</div>  <!-- / col -->


		</div> <!-- / row -->
	</div> <!-- / container -->
</div> <!-- / list-deliver -->

<div id="we-are">
	<div class="container">
		<div class="row">
			<div class="col col-12">
				<p>SOMOS A SUA NOVA FORMA DE TER UM MELHOR AMIGO</p>
				<a routerLink="/encontrar-melhor-amigo">Vamos Farejar</a>
			</div> <!-- / col -->
		</div> <!-- / row -->
	</div> <!-- / container -->
</div> <!-- / we-are -->

<app-footer></app-footer>