<div class="page-top bgParallax {{extraClass}}" [class.opened]="mobileSearchVisibility || alwaysVisible" data-parallax="scroll">
  <div class="center-search">
    <div class="put-bottom">
      <div class="container">
        <div class="row">
          <div class="col col-12">
            <form (ngSubmit)="onSearchSubmit()" #searchForm="ngForm" class="pet-search-form">
              <h3 *ngIf="showLabels" class="o-que-procura">O que você procura?</h3>
              <div class="row">
                <div class="col col-2" [class.hide-mobile]="hideSmallOnMobile">
                  <div class="first-infos">
                    <div class="infos">
                      <input type="checkbox" name="cachorro" [(ngModel)]="search.type.dog" id="cachorro" (change)="onTypeChange()">
                      <label for="cachorro">Cachorro</label>
                      
                      <input type="checkbox" name="gato" [(ngModel)]="search.type.cat" id="gato" (change)="onTypeChange()">
                      <label for="gato">Gato</label>
                    </div> <!-- / infos -->
                  </div> <!-- / first-infos -->

                  </div> <!-- / col -->
            
                <div class="col col-8">
                  <div class="row">
                    <div class="col col-4">
                      <div class="custom-select" style="z-index: 99999">
                        <label for="breed" *ngIf="showLabels">Raça</label>
                        <shared-selectize selectClass="custom" [label]="showLabels ? '' : 'Raça'" selectName="breed" [(selected)]="search.breed" [namedOptions]="breedList" (onEnter)="onSearchSubmit()"></shared-selectize>
                      </div> <!-- / custom-select -->
                    </div> <!-- / col -->
            
                    <div class="col col-3">
                      <div class="custom-select" style="z-index: 9999">
                        <label for="age" *ngIf="showLabels">Idade</label>
                        <shared-selectize selectClass="custom" [label]="showLabels ? '' : 'Idade'" selectName="age" [(selected)]="search.age_range" [options]="yearRangeList" (onEnter)="onSearchSubmit()"></shared-selectize>
                      </div> <!-- / custom-select -->
                    </div> <!-- / col -->
            
                    <div class="col col-2">
                        <div class="custom-select" style="z-index: 999">
                        <label for="size" *ngIf="showLabels">Porte</label>
                        <shared-selectize selectClass="custom" [label]="showLabels ? '' : 'Porte'" selectName="size" [(selected)]="search.size" [options]="sizeList" (onEnter)="onSearchSubmit()"></shared-selectize>
                      </div> <!-- / custom-select -->
                    </div> <!-- / col -->
            
                    <div class="col col-3">
                      <div class="custom-select with-button last" style="z-index: 99">
                        <label for="state" *ngIf="showLabels">Estado</label>
                        <shared-selectize selectClass="custom" [label]="showLabels ? '' : 'Estado'" selectName="state" [(selected)]="search.place_state" [options]="stateList" (onEnter)="onSearchSubmit()"></shared-selectize>
                      </div> <!-- / custom-select -->
            
                      <button id="button-search-pet"><img src="public/img/_icons/send-button-no-back.svg" alt="Buscar PET"></button>
                      
                    </div> <!-- / col -->
                  </div> <!-- / row -->
                </div> <!-- / col -->

                <div class="col col-2">
                  <div class="first-infos">
                    <div class="infos">
                      <input type="checkbox" name="canil" id="canil" [(ngModel)]="search.place_type.canil">
                      <label for="canil">Canil ou gatil</label>
                          
                      <input type="checkbox" name="ong" id="ong" [(ngModel)]="search.place_type.ong">
                      <label for="ong">ONG</label>
                    </div> <!-- / infos -->
                </div>

              </div> <!-- / col -->
            
               
              </div> <!-- / row -->
            </form>
          </div> <!-- / col -->
        </div> <!-- / row -->
      </div> <!-- / container -->
    </div> <!-- / put-bottom -->

</div> <!-- / page-top -->