<div class="item-card place-card" (clickOutside)="closeMenuIfVisible()">
  <div class="edit-trigger" *ngIf="!this.editMenuVisible" (click)="toggleEditMenu()">
    <span></span>
  </div> <!-- / edit-trigger -->

  <div class="menu-fast-edit" [class.opened]="editMenuVisible">
    <ul>
      <li><a (click)="openEditor()">Editar</a></li>
      <li><a href="#0">Exclui</a></li>
    </ul>
  </div> <!-- / menu-fast-edit -->

<!-- <a class="make-favorite" href="#0"><img src="public/img/_icons/heart.svg" alt="Heart"></a> -->
<div class="item-main" (click)="open()">
  <div class="img-item" (click)="open()">
    <img class="img-cover" [src]="place.main_file_url || 'public/img/_temporary/animal.jpg'" alt="{{place.name}}">
    <div class="item-name">
      <h4>{{ place.name }}</h4>
    </div>
  </div> <!-- / img-item -->
</div>

<div class="item-info">
  <div>
    
    <!-- <span class="gender" [class.male]="isMale()" [class.female]="isFemale()"></span> -->
    <ul>
      <li>{{ place.type | ownerTypeName }}:<li>
      <li *ngIf="place.address">{{ place.address | addressToArea }}</li>
    </ul>

    <div>
      <shared-rating-readonly *ngIf="place.rating"  [rating]="place.rating"></shared-rating-readonly>
    </div>
  </div>

  <div *ngIf="userOwner">
    <div class="rate">
      <div class="rated-item no-image">
        <p>Responsável:</p>
        <p>{{ userOwner.displayName }}</p>
        <p>{{ userOwner.email }}</p>
        <!-- <p>{{ place.owner_name }}</p> -->
        <shared-rating-readonly *ngIf="userOwner.rating" [rating]="userOwner.rating"></shared-rating-readonly>
      </div>

      <!-- <div class="{{ place.place_type | ownerType }}-image">
        <img [src]="place.owner_image_url || 'public/img/_temporary/temporary-logo.png'" alt="Logo">
      </div> -->
    </div> <!-- / rate -->
  </div>
</div> <!-- / item-info -->
</div> <!-- / place-card -->