<div style="background-color: #29BABC">
<shared-main-container>
  <div id="search-full" class="section-how-to search-full-home" data-section-name="search">
  <app-pet-search (onSearch)="onHomeSearchSubmit($event)" extraClass="wrapper-image" [includeCoverImage]="true" [alwaysVisible]="true"></app-pet-search>

  <div id="scroll-to-see-rex">
    <span>Role para conhecer a REX</span>
    <img src="public/img/_icons/arrow-to-see-rex.png" alt="Role para conhecer a REX">
  </div> <!-- / scroll-to-see-rex -->
</div>
  <!--<div id="list-animals" class="ads section">
    <div class="container" *ngIf="groupedResults">
      <div class="row gutters" *ngFor="let group of groupedResults;">
        <div class="col col-4" *ngFor="let pet of group;">
          <shared-pet-card [pet]="pet" [allowStats]="showCardStats" [forceLoadStats]="showCardStats"></shared-pet-card>
        </div>
      </div>
    </div>
  </div> -->

  <div class="section-how-to o-que-e-a-rex" data-section-name="o-que-e-a-rex">
    <div class="inner">
      <div class="center-section">
        <div class="container">
          <div class="row">
            <div class="col col-12">
              <h1>O que é a <strong>REX</strong>?</h1>
              <img src="public/img/_icons/dino-how-to.svg" alt="O que é a REX?">
              <div class="text">
                <h3>Sua nova forma de ter um <br>melhor amigo</h3>
                <p>Rex é um pet que encontrou uma família que o ama e respeita do jeitinho que ele é, diferente, e dessa forma ele vive feliz! Por isso, <strong>Rex assumiu a missão de fazer com que todos os pets e todos os tutores encontrem seus pares</strong> e dessa forma, possam viver uma longa e linda história de companheirismo, aventuras, e amor!</p>
              </div> <!-- / text -->
            </div> <!-- / col -->
          </div> <!-- / row -->
        </div> <!-- / container -->
      </div> <!-- / center-section -->
    </div> <!-- / inner -->
  </div> <!-- / section-how-to -->

  <div class="section-how-to por-que-existimos" data-section-name="por-que-existimos">
    <div class="inner">
      <div class="center-section">
        <div class="container">
          <div class="row">
            <div class="col col-12">
              <div class="text left">
                <h3>Por que existimos</h3>
                <p>A Rex nasce para ser a <strong>nova forma de encontrar um melhor amigo.</strong> Nossa maior preocupação é <strong>humanizar a compra, venda e adoção de pets, </strong> garantindo <strong>bichinhos bem cuidados</strong> e com suas necessidades bem atendidas e <strong>dentro da legislação.</strong></p>
                <p>Somos um canal que assegura a <strong>melhor experiência para o bichinho e seu tutor,</strong> tendo a certeza de que ele sairá de boas mãos e irá para mãos melhores ainda. <strong>A Rex facilita</strong> a conexão com seu companheiro da vida!</p>
              </div> <!-- / text -->

              <div class="mosaic-image">
                <img src="public/img/_temporary/mosaic.svg" alt="Mosaic">
              </div> <!-- / mosaic-image -->
            </div> <!-- / col -->
          </div> <!-- / row -->
        </div> <!-- / container -->
      </div> <!-- / center-section -->
    </div> <!-- / inner -->
  </div> <!-- / section-how-to -->


  <div class="section-how-to esquema" data-section-name="esquema">
    <div class="inner">
      <div class="center-section">
        <div class="container">
          <div class="row">
            <div class="col col-12">
              <div class="text">
                <h3>Dê uma olhada no nosso esqueminha <br> e entenda como a gente funciona!</h3>
                <ul class="list-esquema">
                  <li>
                    <img src="public/img/_icons/pesquise-pet-how.svg" alt="Pesquise seu pet">
                    <p><span>1</span>Pesquise o pet que <br> você deseja</p>
                  </li>

                  <li>
                    <img src="public/img/_icons/escolhe-o-pet.svg" alt="Escolha seu pet">
                    <p><span>2</span>Escolha o pet <br> certo para você</p>
                  </li>

                  <li>
                    <img src="public/img/_icons/conheca-seu-pet.svg" alt="Conheça seu pet">
                    <p><span>3</span>Conheça seu novo <br> melhor amigo</p>
                  </li>

                  <li>
                    <img src="public/img/_icons/feche-sua-adocao.svg" alt="Feche sua adoção">
                    <p><span>4</span>Feche sua adoção <br> ou compra <br> pela plataforma Rex</p>
                  </li>
                </ul>

                <h3 style="margin-top: 40px;">Quer entender com mais detalhes? Olha a próxima aba (: </h3>
              </div> <!-- / text -->  
            </div> <!-- / col -->
          </div> <!-- / row -->
        </div> <!-- / container -->
      </div> <!-- / center-section -->
    </div> <!-- / inner -->
  </div> <!-- / section-how-to -->

  <div class="section-how-to mergulhe" data-section-name="mergulhe">
    <div class="inner">
      <div class="center-section">
        <div class="container">
          <div class="row gutters">
            <div class="col col-5 hide-mobile">
              <img src="public/img/_icons/coleira.svg" alt="Coleira">
            </div> <!-- / col -->

            <div class="col col-7">
              <div class="text left">
                <h3>Mergulhe mais a fundo com a gente</h3>
                <p style="font-size: 1rem;">A Rex oferece diversas ferramentas que facilitam a conexão pet-tutor, possibilitando que ambos os lados saiam totalmente satisfeitos e o bichinho esteja sempre contente. </p>
                <br><br>
                <p style="font-size: 1rem;" class="para-navegar"> <strong>Para navegar na Rex é simples: </strong></p>
                <ul>
                  <li>Pesquise através de <strong>filtros</strong> a espécie que você deseja, se você  quer adotar ou comprar, o porte, idade e até mesmo o estilo de pet que você sonha!</li>
                  <li><strong>Escolha o focinho</strong> que mais combina com você.</li>
                  <li>Entre em contato com a ONG ou criador e marque de <strong>conhecer seu futuro bichinho!</strong></li>
                  <li>Feche a adoção ou compra pela plataforma Rex e <strong>ganhe muitas vantagens em produtos pet!</strong> Além disso, fechando pela Rex, você ainda ajuda a divulgar a ONG de onde veio o seu bicho e caso você tenha escolhido comprar, você <strong>ajuda o criador a adquirir boa avaliação</strong> na plataforma e <strong>colabora para tornar a compra/venda/adoção algo seguro para todos, principalmente para os bichinhos e excluir do mercado os criadores que tratam mal seus animais.</strong> </li>
                  <li>Por fim, fechando sua compra pela Rex, você <strong>ajuda com doações</strong> de dinheiro, medicamentos e ração as ONGs inscritas na plataforma!</li>
                </ul>
              </div> <!-- / text -->
            </div> <!-- / col -->
          </div> <!-- / row -->
        </div> <!-- / container -->
      </div> <!-- / center-section -->
    </div> <!-- / inner -->
  </div> <!-- / section-how-to -->


  <div class="section-how-to farejar" data-section-name="farejar">
    <div class="inner">
      <div class="center-section">
        <div class="container">
          <div class="row">
            <div class="col col-12">
              <div class="text">
                <h3>Agora é só farejar e escolher o <br> focinho que combina com você</h3>
                <a routerLink="/encontrar-melhor-amigo">vamos farejar!</a>
                <h3>Aproveita e deixa seu e-mail pra ficar <br> por dentro de novidades pet </h3>
                <form (ngSubmit)="subscribeToNewsletter()" [class.submitted]="subscribedToNewsletter">
                  <input type="email" type="text" name="email" id="email" [(ngModel)]="newsletterData.email" required>
                  <button type="submit">Ficar por dentro</button>
                </form>
              </div> <!-- / text -->
            </div> <!-- / col -->
          </div> <!-- / row -->
        </div> <!-- / container -->
      </div> <!-- / center-section -->

    <div id="back-to-top">
      <img src="public/img/_icons/arrow-scroll-to-see-rex.svg" alt="Role para conhecer a REX">
      <span>Voltar ao topo</span>
      
    </div> <!-- / scroll-to-see-rex -->

    </div> <!-- / inner -->

    <img class="hide-mobile" src="public/img/_icons/dino-border-coleira.svg" alt="Rex">
  </div> <!-- / section-how-to -->

  <shared-popup popupId="pop-up-confirm-newsletter" extraClass="confirm-popup" [(popupShown)]="subscribedToNewsletter">
    <div class="close-pop-up" routerLink="/">x</div>
    <img src="public/img/_icons/mascot-logout.svg" alt="Contato">
    <h5>MI-AU!</h5>
    <p>Muito obrigado pelo seu e-mail. <br> A partir de agora você receberá novidades do universo REX!</p>
    <a title="Continuar farejando" (click)="subscribedToNewsletter=false" >Continuar farejando</a>
  </shared-popup>


</shared-main-container>

</div>