<shared-main-container>
  <div id="fixed-mob-search">
    <app-pet-search (onSearch)="onHomeSearchSubmit($event)" [hideSmallOnMobile]="true" extraClass="wrapper-image" [includeCoverImage]="true"></app-pet-search>
  </div>
  <div id="list-animals" class="ads section">
    <div class="container" *ngIf="groupedResults">
      <div class="row gutters" *ngFor="let group of groupedResults;">
        <div class="col col-4" *ngFor="let pet of group;">
          <shared-pet-card [pet]="pet" [allowStats]="showCardStats" [forceLoadStats]="showCardStats"></shared-pet-card>
        </div>
      </div>
    </div>
  </div>
</shared-main-container>

<app-footer></app-footer>