<div class="item-card interest-card">
  

<!-- <a class="make-favorite" href="#0"><img src="public/img/_icons/heart.svg" alt="Heart"></a> -->
<div class="item-main" *ngIf="pet" >
  <div class="img-item">
    <img class="img-cover"[src]="pet.main_file_url || 'public/img/_temporary/animal.jpg'" alt="{{pet.name}}">
    <div class="item-name">
      <h4>{{ pet.name }}</h4>
    </div>
  </div> <!-- / img-item -->
</div>

<div class="item-info" *ngIf="place">
  <div>
    <p>Interesse: {{ interest.type }}</p>
    <div *ngIf="interest.rating && interest.rating > -1">
      <shared-rating-readonly *ngIf="interest.rating"  [rating]="interest.rating"></shared-rating-readonly>
    </div>
    <div *ngIf="(!interest.rating || interest.rating < 0)">
      <select name="rating" id="rating" [(ngModel)]="ratingForm.rating" required>
        <option *ngFor="let item of availableRatings" [ngValue]="item" >{{item}}</option>
      </select>
      <button class="finish-register" type="button" (click)="submitRating()" >Avaliar</button>
    </div>

    <div *ngIf="pet" style="margin-top:10px;">
      <p>Pet:</p>
      <ul>
        <li>{{ pet.name }}:<li>
        <li>{{ pet.type }}<li>
        <li>{{ pet.breed }}<li>
      </ul>
    </div>

    <div *ngIf="place" style="margin-top:10px;">
      <!-- <span class="gender" [class.male]="isMale()" [class.female]="isFemale()"></span> -->
      <p>Local:</p>
      <ul>
        <li>{{ place.name }}:<li>
        <li>{{ place.type | ownerTypeName }}<li>
        <li *ngIf="place.address">{{ place.address | addressToArea }}</li>
      </ul>

      <div>
        <shared-rating-readonly *ngIf="place.rating"  [rating]="place.rating"></shared-rating-readonly>
      </div>
    </div>
  </div>

  <div>
    <div class="rate">
      <div class="rated-item no-image">
        <div *ngIf="user">
          <p>Usuário:</p>
          <p>{{ user.displayName }}</p>
          <p>{{ user.email }}</p>
          <shared-rating-readonly *ngIf="user.rating"  [rating]="user.rating"></shared-rating-readonly>
        </div>
      </div>

      <!-- <div class="{{ place.place_type | ownerType }}-image">
        <img [src]="place.owner_image_url || 'public/img/_temporary/temporary-logo.png'" alt="Logo">
      </div> -->
    </div> <!-- / rate -->
  </div>
</div> <!-- / item-info -->
</div> <!-- / place-card -->