<shared-main-container class="cadastro">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="title-inner-page first-t">
          <h3>Bem-vindo ser humano!</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eu mauris eget dolor aliquet mattis quis tempus ipsum. Nulla at est lacus. Suspendisse vitae congue erat.</p>
        </div> <!-- / title-inner-page -->
      </div> <!-- / col -->
    </div> <!-- / row -->

    <div class="row form-cadastro">
      <form (ngSubmit)="save()" #userForm="ngForm" *ngIf="user" [class.submitted]="submitted">
        <div class="row gutters align-center">
          <div class="col col-4">
            <label for="nome">Nome</label>
            <input type="text" name="nome" id="nome" [(ngModel)]="user.displayName" required>
          </div> <!-- / col -->

          <div class="col col-4">
            <label for="cpf">CPF</label>
            <input type="text" [textMask]="{mask: cpfMask}" name="cpf" id="cpf" [(ngModel)]="user.cpf" required>
          </div> <!-- / col -->

          <div class="col col-3">
            <div class="on-off">
                <span class="option1">Fêmea</span>
                <span class="option2">Macho</span>
                <label class="switch">
                  <input type="checkbox" name="sexo" [(ngModel)]="gender_male" (change)="genderChanged()">
                  <span class="slider round"></span>
                </label>
              </div><!-- / on-off -->
          </div> <!-- / col -->
        </div> <!-- / row -->
        <div class="row gutters ">
          <div class="col col-12">
            <div class="row gutters">
               <div class="col col-4">
                  <label for="E-mail">E-mail</label>
                  <input type="email" name="email" id="email" [(ngModel)]="user.email" required>
                </div> <!-- / col -->

              <div class="col col-4">
                <label for="nome">Cidade</label>
                <input type="text" name="cidade" [(ngModel)]="user.address.city" required>
              </div>
              <div class="col col-4">
                <label for="nome">Estado</label>
                <div class="select-style-user">
                  <select name="state" id="state" [(ngModel)]="user.address.state" >
                    <option value="">Estado</option>
                    <option value="AC">Acre</option>
                    <option value="AL">Alagoas</option>
                    <option value="AP">Amapá</option>
                    <option value="AM">Amazonas</option>
                    <option value="BA">Bahia</option>
                    <option value="CE">Ceará</option>
                    <option value="DF">Distrito Federal</option>
                    <option value="ES">Espírito Santo</option>
                    <option value="GO">Goiás</option>
                    <option value="MA">Maranhão</option>
                    <option value="MT">Mato Grosso</option>
                    <option value="MS">Mato Grosso do Sul</option>
                    <option value="MG">Minas Gerais</option>
                    <option value="PA">Pará</option>
                    <option value="PB">Paraíba</option>
                    <option value="PR">Paraná</option>
                    <option value="PE">Pernambuco</option>
                    <option value="PI">Piauí</option>
                    <option value="RJ">Rio de Janeiro</option>
                    <option value="RN">Rio Grande do Norte</option>
                    <option value="RS">Rio Grande do Sul</option>
                    <option value="RO">Rondônia</option>
                    <option value="RR">Roraima</option>
                    <option value="SC">Santa Catarina</option>
                    <option value="SP">São Paulo</option>
                    <option value="SE">Sergipe</option>
                    <option value="TO">Tocantins</option>
                  </select>
                </div> <!-- / select-style-user -->
              </div>
              
            </div>
          </div>
          
        </div>

        <div class="row gutters align-center">
          <div class="col col-8">
            <div class="row gutters align-center">
              <div class="col col-6">
                <label for="password">Senha</label>
                <input type="password" name="password" id="password" [(ngModel)]="password" required>
              </div> <!-- / col -->

              <div class="col col-6">
                <label for="password_confirmation">Confirmar a senha</label>
                <input type="password" name="password_confirmation" id="password_confirmation" [(ngModel)]="password_confirmation" required>
              </div> <!-- / col -->
            </div>
          </div> <!-- / col -->

          

        </div> <!-- / row -->

        <div class="row">
          <div class="col col-12">
            <app-image-picker #selectedMainFileUpload label="Foto de perfil" inputName="foto_principal" [uploadBasePath]="mainImageBasePath" [(fileUrlModel)]="user.main_file_url"></app-image-picker>
            <app-gallery-picker #galleryPicker label="Fotos de capa" imageClass="cover-label" addExtraText="+" addExtraClass="more-cover" [currentPhotos]="user.gallery_images" [newPhotos]="galleryNewImages" [basePath]="galleryBasePath"></app-gallery-picker>
          </div> <!-- / col -->
        </div> <!-- / row -->

        <div class="row">
          <div class="col col-12">
            <div class="anchor">
              <img src="public/img/_icons/arrow-cadastro.svg" alt="Arrow">
            </div> <!-- / anchor -->
          </div> <!-- / col -->
        </div> <!-- / row -->

        <div class="row">
          <div class="col col-12">
            <div class="title-inner-page">
              <h3>Interesses</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eu mauris eget dolor aliquet mattis quis tempus ipsum. Nulla at est lacus. Suspendisse vitae congue erat.</p>
            </div> <!-- / title-inner-page -->
          </div> <!-- / col -->
        </div> <!-- / row -->

        <div class="row">
          <div class="col col-3">
            <div class="input-image">
              <input type="checkbox" name="interesses[]" id="racas_procuradas" [(ngModel)]="user.interesses.racas_procuradas">
              <label for="racas_procuradas">
                <img src="public/img/_icons/racas-procuradas_1.svg" alt="">
                <span>Raças mais procuradas</span>
              </label>
            </div> <!-- / input-image -->
          </div> <!-- / col -->

          <div class="col col-3">
            <div class="input-image">
              <input type="checkbox" name="interesses[]" id="racas_exoticas" [(ngModel)]="user.interesses.racas_exoticas">
              <label for="racas_exoticas">
                <img src="public/img/_icons/racas-exoticas.svg" alt="">
                <span>Raças exóticas</span>
              </label>
            </div> <!-- / input-image -->
          </div> <!-- / col -->

          <div class="col col-3">
            <div class="input-image">
              <input type="checkbox" name="interesses[]" id="sem_raca_definida" [(ngModel)]="user.interesses.sem_raca_definida">
              <label for="sem_raca_definida">
                <img src="public/img/_icons/sem-raca-definida.svg" alt="">
                <span>Sem raça definida</span>
              </label>
            </div> <!-- / input-image -->
          </div> <!-- / col -->

          <div class="col col-3">
            <div class="input-image">
              <input type="checkbox" name="interesses[]" id="encontrar_lar" [(ngModel)]="user.interesses.encontrar_lar">
              <label for="encontrar_lar">
                <img src="public/img/_icons/encontrar-um-lar.svg" alt="">
                <span>Encontrar um lar para um amigo peludo</span>
              </label>
            </div> <!-- / input-image -->
          </div> <!-- / col -->

        </div> <!-- / row -->

        <div class="row">
          <div class="col col-3">
            <div class="input-image">
              <input type="checkbox" name="interesses[]" id="comprar_produtos" [(ngModel)]="user.interesses.comprar_produtos">
              <label for="comprar_produtos">
                <img src="public/img/_icons/comprar-produtos.svg" alt="">
                <span>Comprar produtos</span>
              </label>
            </div> <!-- / input-image -->
          </div> <!-- / col -->

          <div class="col col-3">
            <div class="input-image">
              <input type="checkbox" name="interesses[]" id="ficar_por_dentro" [(ngModel)]="user.interesses.ficar_por_dentro">
              <label for="ficar_por_dentro">
                <img src="public/img/_icons/ficar-por-dentro.svg" alt="">
                <span>Ficar por dentro</span>
              </label>
            </div> <!-- / input-image -->
          </div> <!-- / col -->

          <div class="col col-3">
            <div class="input-image">
              <input type="checkbox" name="interesses[]" id="conseguir_descontos" [(ngModel)]="user.interesses.conseguir_descontos">
              <label for="conseguir_descontos">
                <img src="public/img/_icons/conseguir-descontos.svg" alt="">
                <span>Conseguir descontos</span>
              </label>
            </div> <!-- / input-image -->
          </div> <!-- / col -->

          <div class="col col-3">
            <div class="input-image">
              <input type="checkbox" name="interesses[]" id="informacoes" [(ngModel)]="user.interesses.informacoes">
              <label for="informacoes">
                <img src="public/img/_icons/melhor-amigo.svg" alt="">
                <span>Informações sobre a raça do meu melhor amigo</span>
              </label>
            </div> <!-- / input-image -->
          </div> <!-- / col -->

        </div> <!-- / row -->

        <div class="row">
          <div class="col col-12">
            <div class="anchor">
              <img src="public/img/_icons/arrow-cadastro.svg" alt="Arrow">
            </div> <!-- / anchor -->
          </div> <!-- / col -->
        </div> <!-- / row -->


        <div class="row">
          <div class="col col-12">
            <div class="title-inner-page">
              <h3>Raças de Interesse</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eu mauris eget dolor aliquet mattis quis tempus ipsum. Nulla at est lacus. Suspendisse vitae congue erat.</p>
            </div> <!-- / title-inner-page -->
          </div> <!-- / col -->
        </div> <!-- / row -->

        <div class="row align-center">
          <div class="col col-9">
            <input type="text" name="racas_de_interesse" id="racas_de_interesse" [(ngModel)]="insertedBreed" (keydown)="breedKeyDown($event)">
          </div>
        </div> <!-- / row -->

        <div class="row">
          <div class="col col-12">
            <ul class="default-tags">
              <li *ngFor="let breed of user.breeds; let i = index;">
                <div class="remove" (click)="removeBreed(breed)">x</div>
                {{breed}}
              </li>
            </ul>
          </div> <!-- / col -->
        </div> <!-- / row -->

        <div class="row">
          <div class="col col-12">
            <div class="anchor">
              <img src="public/img/_icons/arrow-cadastro.svg" alt="Arrow">
            </div> <!-- / anchor -->
          </div> <!-- / col -->
        </div> <!-- / row -->

        <div class="row">
          <div class="col col-12">
            <div class="title-inner-page">
              <h3>Rotina</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eu mauris eget dolor aliquet mattis quis tempus ipsum. Nulla at est lacus. Suspendisse vitae congue erat.</p>
            </div> <!-- / title-inner-page -->
          </div> <!-- / col -->
        </div> <!-- / row -->

        <div class="row">
          <div class="form-row">
            <div class="range">
              <span class="from">Casa</span>
              <input name="home_type" id="home_type" type="range" min="0" max="100" step="1" [(ngModel)]="user.profile.home_type">
              <span class="to">Apartamento</span>
            </div> <!-- / range -->

            <div class="range">
              <span class="from">Interior</span>
              <input name="home_location" id="home_location" type="range" min="0" max="100" step="1" [(ngModel)]="user.profile.home_location">
              <span class="to">Cidade</span>
            </div> <!-- / range -->

            <div class="range">
              <span class="from">Home Office</span>
              <input name="work_outside" id="work_away" type="range" min="0" max="100" step="1" [(ngModel)]="user.profile.work_away">
              <span class="to">Quase não paro em casa</span>
            </div> <!-- / range -->

            <div class="range">
              <span class="from">Fim de semana só em casa</span>
              <input name="weekend_outside" id="weekend_away" type="range" min="0" max="100" step="1" [(ngModel)]="user.profile.weekend_away">
              <span class="to">Fim de semana sempre fora</span>
            </div> <!-- / range -->

            <div class="range">
              <span class="from">Nunca viajo nas férias</span>
              <input name="travel_outside" id="travel_away" type="range" min="0" max="100" step="1" [(ngModel)]="user.profile.travel_away">
              <span class="to">Viajo sempre nas férias</span>
            </div> <!-- / range -->

          </div> <!-- / form-row -->
        </div> <!-- / row -->

        <div class="row">
          <div class="col col-12">
            <div class="anchor">
              <img src="public/img/_icons/arrow-cadastro.svg" alt="Arrow">
            </div> <!-- / anchor -->
          </div> <!-- / col -->
        </div> <!-- / row -->

        <div class="row">
          <div class="col col-12 success">
            <img src="public/img/_icons/icon-dino.svg" alt="Icon Dino">
            <h3>Bem-vindo!</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eu mauris eget dolor aliquet mattis quis tempus ipsum. Nulla at est lacus. Suspendisse vitae congue erat. Proin eget metus vitae ex vehicula tincidunt ac et turpis.</p>
            <button type="submit" title="Farejar por aí">Farejar por aí</button>
          </div> <!-- / col -->
        </div> <!-- / row -->

      </form>
    </div> <!-- / row -->
  </div> <!-- / container -->
</shared-main-container>

<app-footer></app-footer>