<div class="pop-up-login" [class.opened]="opened" (clickOutside)="close()">
  <div class="close-pop-up" (click)="close()">x</div>
  <div style="overflow: hidden;">
    <div class="welcome">
      <h4>Bem-vindo a REX!</h4>
      <span>faça seu login e fareje por aí...</span>
      <p>Snif snif snif...</p>
    </div>

    <img class="login-icon" src="public/img/_icons/dino-login.svg" alt="Login">

  </div>

  <form (ngSubmit)="loginManual()" #loginForm="ngForm">
    <div class="row gutters">
      <div class="col col-6">
        <input type="email" placeholder="E-mail" [(ngModel)]="loginData.email" name="email" required>
      </div>
      <!-- / col -->

      <div class="col col-6">
        <input type="password" placeholder="Senha" name="password" [(ngModel)]="loginData.password" required>
      </div>
      <!-- / col -->
    </div>
    <!-- / row -->

    <div class="row gutters register-login">
      <div class="col col-6">
        <span>Ainda não sou um REX!</span>
        <a (click)="register()">Me tornar um REX</a>
      </div>
      <!-- / col -->

      <div class="col col-6" style="text-align: right;">
        <p>Acesse também pelo
          <a (click)="loginWithFacebook()">
            <img src="public/img/_icons/facebook.svg" alt="Facebook">
          </a> ou pelo
          <a (click)="loginWithGoogle()">
            <img src="public/img/_icons/gplus.svg" alt="Google Plus">
          </a>
        </p>
      </div>
      <!-- / col -->

    </div>
    <!-- / row -->

    <button type="submit" [class.disabled]="!loginForm.form.valid" [disabled]="!loginForm.form.valid">Enviar</button>
  </form>
</div>
<!-- / pop-up-login -->