img,
legend,
svg {
    max-width: 100%
}
a {
  text-decoration: none;
}
.block-btn,
.block-btn::before {
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out
}
.mfp-arrow,
.slick-slider {
    -webkit-tap-highlight-color: transparent
}
*,
::after,
::before {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    -webkit-overflow-scrolling: touch;
    text-rendering: optimizeLegibility
}
[type=checkbox],
[type=radio],
legend {
    box-sizing: border-box;
    padding: 0
}
::-moz-focus-inner {
    border: 0;
    padding: 0
}
input[type="text"], input[type="email"], input[type="tel"], input[type="search"]{
    -webkit-appearance: none;
    -moz-appearance: none
}
::selection {
    background: #D10C27;
    color: #fff
}
::-moz-selection {
    background: #D10C27;
    color: #fff
}
ul {
    list-style: none
}
body {
    width: 100%!important;
    overflow-x: hidden!important;
    margin: 0
}
#main-content,
body,
html {
    height: 100%;
    width: 100%
}
.full-light-gray {
    background-color: #f9f9f9
}
.full-gray {
    background-color: #F7F9FC
}
button,
hr,
input {
    overflow: visible
}
audio,
canvas,
progress,
video {
    display: inline-block
}
progress,
sub,
sup {
    vertical-align: baseline
}
html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
    display: block
}
h1 {
    font-size: 2em;
    margin: .67em 0
}
figure {
    margin: 1em 40px
}
hr {
    box-sizing: content-box;
    height: 0
}
code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}
a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}
a:active,
a:hover {
    outline-width: 0
}
abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}
b,
strong {
    font-weight: 700
}
dfn {
    font-style: italic
}
mark {
    background-color: #ff0;
    color: #000
}
small {
    font-size: 80%
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative
}
sub {
    bottom: -.25em
}
sup {
    top: -.5em
}
audio:not([controls]) {
    display: none;
    height: 0
}
img,
svg {
    border-style: none;
    height: auto
}
svg:not(:root) {
    overflow: hidden
}
button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}
button,
select {
    text-transform: none
}
[type=reset],
[type=submit],
button,
html [type=button] {
    -webkit-appearance: button
}
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0
}
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
    outline: ButtonText dotted 1px
}
fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}
legend {
    color: inherit;
    display: table;
    white-space: normal
}
textarea {
    overflow: auto
}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}
[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}
[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}
::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}
summary {
    display: list-item
}
.qtip,
[hidden],
template {
    display: none
}