<header>
  <a id="trigger-mobile-parent" class="hide-desktop" href="javascript:;" (click)="toggleMobileProfileMenu()" *ngIf="currentUser" title=""><div id="trigger-menu-mobile"><span></span></div></a>
  <div id="trigger-menu" class="hide-mobile" (click)="toggleSibebar()" *ngIf="currentUser">
    <div class="icon-menu"></div>
    <!-- <div class="label-alert">
      <img src="public/img/_icons/alert.svg" alt="Icon Alert">
    </div> --> <!-- / label-alert -->
  </div> <!-- / trigger-menu -->

  <div id="logo">
    <a routerLink="/" title="Home" (click)="closeAllMobileMenus()">
      <img src="public/img/_structure/rex-logo.svg" alt="REX" title="REX">
    </a>
  </div> <!-- / logo -->

  <nav id="mobile-menu" class="hide-desktop">
    <ul>

      

      <!-- <li>
        <a title="Home"><img src="public/img/_icons/home.svg" alt=""></a>
      </li> -->

      <li *ngIf="mobileMenuAnchor">
        <a (click)="toggleMobileSearchMenu()" title=""><img src="public/img/_icons/adjustment.svg" alt=""></a>
      </li>

      <li>
        <a (click)="toggleMobileVisitorMenu()" title=""><img src="public/img/_icons/dino-white.svg" alt=""></a>
      </li>

    </ul>
  </nav> <!-- / mobile-menu -->

  <div class="sub-menu-profile hide-desktop" *ngIf="currentUser" [class.opened]="mobileProfile">
    <ul>
      <li *ngIf="currentPlace">
        <a [routerLink]="['/place', currentPlace.getOrCalculateSlug()]" (click)="closeAllMobileMenus()">
          <img src="public/img/_icons/user.svg" alt="User">
          <span>Meu perfil</span>
        </a>
      </li>

      <li>
        <a routerLink="/conta/meus-rexs" (click)="closeAllMobileMenus()">
          <img src="public/img/_icons/ad.svg" alt="Meus Rexs">
          <span>Anúncios</span>
        </a>
      </li>

      <li>
        <a routerLink="/conta/meus-rexs" (click)="closeAllMobileMenus()">
          <img src="public/img/_icons/config.svg" alt="Configurações">
          <span>Configurações</span>
        </a>
      </li>

      <!-- <li>
        <a href="">
          <img src="public/img/_icons/heart.svg" alt="Heart">
        </a>
      </li> -->
      <li *ngIf="currentUser?.isAdminUser()">
        <a routerLink="/admin/usuarios" (click)="closeAllMobileMenus()">
          <img src="public/img/_icons/user.svg" alt="Usuários">
           <span>Usuários</span>
        </a>
      </li>
      <li *ngIf="currentUser?.isAdminUser()">
        <a routerLink="/admin/empresas" (click)="closeAllMobileMenus()">
          <img src="public/img/_icons/ong.svg" alt="Empresas">
           <span>Empresas</span>
        </a>
      </li>
      <li *ngIf="currentUser?.isAdminUser()">
        <a routerLink="/admin/empresas" (click)="closeAllMobileMenus()">
          <img src="public/img/_icons/melhor-amigo.svg" alt="Empresas">
           <span>Empresas</span>
        </a>
      </li>
      

      <li *ngIf="currentPlace">
        <a routerLink="/conta/configurar-empresa" (click)="closeAllMobileMenus()">
          <img src="public/img/_icons/config.svg" alt="User">
           <span>Configurações</span>
        </a>
      </li>

      <li class="logout">
        <a (click)="logout()">
          <img src="public/img/_icons/logout.svg" alt="Logout">
           <span style="color: #603E6E;">Logout</span>
        </a>
      </li>
    </ul>	
  </div> <!-- / sub-menu-profile -->

	<div class="sub-menu-place-config hide-desktop" *ngIf="currentUser" [class.opened]="mobilePlaceConfig">
		 <ul>
		 	<li><a href="#">Dados <img src="public/img/_icons/eye.svg" alt="Dados"> </a></li>
		 	<li><a href="#">Fotos <img src="public/img/_icons/camera-white.svg" alt="Fotos"> </a></li>
		 	<li><a href="#">Perfil <img src="public/img/_icons/people-white.svg" alt="Perfil"> </a></li>
		 	<li><a href="#">Interesses <img src="public/img/_icons/interests.svg" alt="Interesses"> </a></li>
		 </ul>
  </div> <!-- / sub-menu-place-config -->
  
  <div class="sub-menu-visitor hide-desktop" [class.opened]="mobileVisitor">
    <ul>
      <li class="has-sub-menu" *ngIf="!currentUser">
        <a title="Cadastrar empresa" (click)="submenusVisibility.empresa=!submenusVisibility.empresa">Cadastrar empresa</a>
        <app-sub-menu [isVisible]="submenusVisibility.empresa">
          <li><a [class.active]="submenusVisibility.empresa" routerLink="/registro-canil" (click)="closeAllMobileMenus()" title="Sou um canil">Sou um canil</a></li>
          <li><a [class.active]="submenusVisibility.empresa" routerLink="/registro-ong" (click)="closeAllMobileMenus()" title="Sou uma ONG">Sou uma ONG</a></li>
          <li><a [class.active]="submenusVisibility.empresa" routerLink="/contato" (click)="closeAllMobileMenus()" title="Quero fazer uma parceria">Quero fazer uma parceria</a></li>
        </app-sub-menu>
      </li>
      <li><a routerLink="/encontrar-melhor-amigo" (click)="closeAllMobileMenus()" title="Encontre seu melhor amigo">Encontre seu melhor amigo</a></li>
      <li *ngIf="!currentUser"><a (click)="login()" title="Login">Login</a></li>
      <li><a routerLink="/contato" title="Contato"  (click)="closeAllMobileMenus()">Contato</a></li>
    </ul>
   </div> <!-- / sub-menu-profile -->

  
   <nav id="main-menu" role="menu" class="hide-mobile">
    <ul>
      <li class="item-menu">
        <a routerLink="/nosso-manifesto" title="Manifesto">Manifesto</a>
      </li>
      <li class="item-menu">
        <a routerLink="/encontrar-melhor-amigo" title="Encontre seu melhor amigo">Encontre seu melhor amigo</a>
      </li>
      <li  *ngIf="!currentUser" class="item-menu has-sub-menu" (mouseenter)="submenusVisibility.empresa=true" (mouseleave)="submenusVisibility.empresa=false">
        <a title="Sou uma empresa..." (click)="submenusVisibility.empresa=true">Cadastre sua empresa</a>
        <app-sub-menu [isVisible]="submenusVisibility.empresa">
          <li><a [class.active]="submenusVisibility.empresa" routerLink="/registro-canil" title="Sou um canil">Sou um canil</a></li>
          <li><a [class.active]="submenusVisibility.empresa" routerLink="/registro-ong" title="Sou uma ONG">Sou uma ONG</a></li>
          <li><a [class.active]="submenusVisibility.empresa" routerLink="/contato" title="Quero fazer uma parceria">Quero fazer uma parceria</a></li>
        </app-sub-menu>
      </li>
      <!-- <li class="item-menu">
        <a href="#" title="Nosso Manifesto">Nosso Manifesto</a>
      </li> -->
      
      <li class="item-menu">
        <a routerLink="/contato" title="Contato">Late com a gente</a>
      </li>
      <li class="item-menu" *ngIf="!currentUser">
        <a (click)="login()" title="Login">Login</a>
      </li>
    </ul>
  </nav> <!-- menu desktop -->
</header>