<div class="item-card user-card" (clickOutside)="closeMenuIfVisible()">
    <!-- <div class="edit-trigger" *ngIf="allowEdit && !this.editMenuVisible" (click)="toggleEditMenu()">
      <span></span>
    </div> <!-- / edit-trigger -->
  
    <!-- <div class="menu-fast-edit" *ngIf="allowEdit" [class.opened]="editMenuVisible">
      <ul>
        <li><a href="#0">Exclui</a></li>
      </ul>
    </div> <!-- / menu-fast-edit -->
  
  <!-- <a class="make-favorite" href="#0"><img src="public/img/_icons/heart.svg" alt="Heart"></a> -->
  <div class="item-main" (click)="open()">
    <div class="img-item" (click)="open()">
      <img class="img-cover" [src]="user.main_file_url || 'public/img/_temporary/animal.jpg'" alt="{{user.displayName}}">
      <div class="item-name">
        <h4>{{ user.displayName }}</h4>
      </div>
    </div> <!-- / img-item -->
  </div>
  
  <div class="item-info">
    <div>
      
      <span class="gender" [class.male]="user.gender == 'male'" [class.female]="user.gender == 'female'"></span>
      <ul>
        <li>{{ user.email }}</li>
        <!-- <li *ngIf="user.address">{{ user.address | addressToArea }}</li> -->
      </ul>
  
      <div>
        <shared-rating-readonly *ngIf="user.rating" [rating]="user.rating"></shared-rating-readonly>
      </div>
    </div>
  </div> <!-- / item-info -->

  <div *ngIf="ownedPlace">
    <div class="rate">
      <div class="company rated-item {{ ownedPlace.type | ownerType }}">
        <p>{{ ownedPlace.type | ownerTypeName }}:</p>
        <p>{{ ownedPlace.name }}</p>
        <shared-rating-readonly *ngIf="ownedPlace.rating" [rating]="ownedPlace.rating"></shared-rating-readonly>
      </div>

      <div class="{{ ownedPlace.type | ownerType }}-image">
        <img [src]="ownedPlace.main_file_url || 'public/img/_temporary/temporary-logo.png'" alt="Logo">
      </div>
    </div> <!-- / rate -->
  </div>
</div> <!-- / place-card -->