<div class="profile-pet">
  <app-pet-search (onSearch)="onSearchSubmit($event)" [hideSmallOnMobile]="true" [showLabels]="false"></app-pet-search> 

  <div class="slide-pet">
    <ul>
      <li class="wrapper-image" *ngIf="place.main_file_url">
        <img class="cover-image" [src]="place.main_file_url" alt="Slide Place">
      </li>
      <li class="wrapper-image" *ngFor="let image of place.gallery_images;">
        <img class="cover-image" [src]="image.url" alt="Slide Place">
      </li>
    </ul>
  </div>
  <!-- / slide-pet -->

  <!-- <div class="actions-pet hide-desktop">
    <a href="#" style="width: 100%; padding-left: 0; border: 0;"><img src="assets/img/_icons/message-green.svg" alt="Marcar um encontro">Marcar um encontro</a>
  </div> -->
  <!-- / actions-pet -->

  <div id="pet">
    <div class="container">
      <div class="row gutters">

        <div class="col col-9 descricao-inner-pet">
          <div id="descricao">
            <h1>{{ place.name }}</h1>
            <!-- INFORMACOES DA ONG NO MOBILE -->
            <div class="info-pet-mobile hide-desktop">
              <ul>
                <li>{{ place.address | addressToArea }}</li>
                <li>
                  <small>
                    <strong>Horários de Funcionamento</strong>
                  </small>
                </li>
                <li>De {{place.weekDaysStart | weekDayName }} a {{place.weekDaysEnd | weekDayName }}: {{place.weekHoursStart}}
                  – {{place.weekHoursEnd}}</li>
                <!-- <li>Sábado: 9h – 20h</li> -->
                <!-- <li>Domingo: 14h – 18h</li> -->
              </ul>

              <div class="info-mobile-ong">
                <img [src]="place.type == 'ong' ? 'public/img/_icons/ong.svg' : 'public/img/_icons/ong.svg'" alt="ONG">
                <!-- <img src="public/img/_icons/verified.svg" alt="Verificado"> -->
              </div>
            </div>
            <!-- / info-pet-mobile -->

            <!-- ACABA AQUI -->


            <div class="label-page" style="margin-top: 0;">Descrição</div>
            <p>{{ place.description }}</p>
            <div class="tags-inner" *ngIf="place.tags && place.tags.length > 0">
              <h5>Tags</h5>
              <span *ngFor="let tag of place.tags" class="tag" style="background-color: #603E6E;">{{tag}}</span>
            </div>
            <div class="tags-inner" *ngIf="place.breeds && place.breeds.length > 0">
              <h5>Raças</h5>
              <span *ngFor="let breed of place.breeds" class="tag" style="background-color: #603E6E;">{{breed}}</span>
            </div>

          </div>
          <!-- / descricao -->

          <div id="proposta">
            <div class="label-page">Proposta</div>
            <p>{{ place.proposal }}</p>
          </div>
          <!-- / motivo -->

          <div id="quem-precisa">
            <div class="label-page">Quem precisa de um lar</div>
          </div>
          <!-- / sobre-a-raca -->

        </div>
        <!-- / col -->
        <!-- TRECHO COM AS INFORMAÇOES DO PET PARA DESKTOP -->
        <div class="col col-3 hide-mobile">
          <div class="sidebar-pet first">
            <h4>{{ place.name }}</h4>
            <img [src]="place.type == 'ong' ? 'public/img/_icons/ong.svg' : 'public/img/_icons/ong.svg'" [alt]="place.type">
            <table class="animal" cellpadding="0" cellspacing="0">
              <tr>
                <td>{{ place.address | addressToArea }}</td>
                <td align="right" rowspan="2">
                  <!-- <img class="verificado" src="public/img/_icons/verified.svg" alt="Verificado"> -->
                </td>
              </tr>

              <tr>
                <td>
                  <small>Horários de Funcionamento</small>
                </td>
              </tr>
              <tr>
                <td>
                  <ul>
                    <li>De {{place.weekDaysStart | weekDayName }} a {{place.weekDaysEnd | weekDayName }}: {{place.weekHoursStart}}
                        – {{place.weekHoursEnd}}</li>
                    <!-- <li>Sábado: 9h - 20h</li>
                    <li>Domingo: 14h - 28h</li> -->
                  </ul>
                </td>
              </tr>

              <tr>
                <td>
                  <div class="rating">
                    <span [class.full]="place.rating > 0">☆</span>
                    <span [class.full]="place.rating > 1">☆</span>
                    <span [class.full]="place.rating > 2">☆</span>
                    <span [class.full]="place.rating > 3">☆</span>
                    <span [class.full]="place.rating > 4">☆</span>
                  </div>
                  <!-- / rating -->
                </td>
              </tr>


            </table>

            <!-- <div class="actions-pet can-be-fixed">
              <a href="#">
                <img src="assets/img/_icons/message-green.svg" alt="Marcar um encontro">Marcar um encontro</a>
            </div> -->
          </div>
          <!-- / sidebat-pet -->


        </div>
        <!-- / col -->
      </div>
      <!-- / row -->
    </div>
    <!-- / container -->
  </div>
  <!-- / pet -->

  <div class="slide-pets-full">
    <div class="animal" *ngFor="let pet of pets;">
      <a [routerLink]="['/pet', pet.getOrCalculateSlug()]">
        <div class="img-animal">
          <img class="img-cover" [src]="pet.main_file_url || 'public/img/_temporary/animal.jpg'" [alt]="pet.name">
          <div class="animal-name">
            <h4>{{pet.name}}</h4>
            <span class="type-choose">{{ pet.offer_type | offerTypeName }}</span>
          </div>
        </div>
        <!-- / img-animal -->
      </a>

      <div class="animal-info">
        <div>
          <span class="gender female"></span>
          <span class="animal-size big" [class.selected]="pet.size == 'big'"></span>
          <span class="animal-size medium" [class.selected]="pet.size == 'medium'"></span>
          <span class="animal-size small" [class.selected]="pet.size == 'small'"></span>
          <ul>
            <li>Raça:
              <strong>{{ pet.breed }}</strong>
            </li>
            <li>Idade:
              <strong>{{ pet.age }} anos</strong>
            </li>
            <li *ngIf="pet.place_address">{{ pet.place_address | addressToArea }}</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- / slides-pet -->

  </div>

  <app-footer></app-footer>