<div *ngIf="popupVisible" class="popup {{extraClass}}" [id]="popupId" [class.opened]="popupShown" (clickOutside)="clickedOutsidePopup()">
	<div class="close-pop-up" (click)="closePopup()">x</div>
	<ng-content></ng-content>
</div>