@font-face {
    font-family: 'Cairo';
    src: url('public/fonts/Cairo-ExtraLight.eot');
    src: url('public/fonts/Cairo-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('public/fonts/Cairo-ExtraLight.woff') format('woff'),
        url('public/fonts/Cairo-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Cairo';
    src: url('public/fonts/Cairo-SemiBold.eot');
    src: url('public/fonts/Cairo-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('public/fonts/Cairo-SemiBold.woff') format('woff'),
        url('public/fonts/Cairo-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Cairo';
    src: url('public/fonts/Cairo-Regular.eot');
    src: url('public/fonts/Cairo-Regular.eot?#iefix') format('embedded-opentype'),
        url('public/fonts/Cairo-Regular.woff') format('woff'),
        url('public/fonts/Cairo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cairo';
    src: url('public/fonts/Cairo-Black.eot');
    src: url('public/fonts/Cairo-Black.eot?#iefix') format('embedded-opentype'),
        url('public/fonts/Cairo-Black.woff') format('woff'),
        url('public/fonts/Cairo-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Sequel';
    src: url('public/fonts/Sequel-Regular.eot');
    src: url('public/fonts/Sequel-Regular.eot?#iefix') format('embedded-opentype'),
        url('public/fonts/Sequel-Regular.woff') format('woff'),
        url('public/fonts/Sequel-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cairo';
    src: url('public/fonts/Cairo-Bold.eot');
    src: url('public/fonts/Cairo-Bold.eot?#iefix') format('embedded-opentype'),
        url('public/fonts/Cairo-Bold.woff') format('woff'),
        url('public/fonts/Cairo-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cairo';
    src: url('public/fonts/Cairo-Light.eot');
    src: url('public/fonts/Cairo-Light.eot?#iefix') format('embedded-opentype'),
        url('public/fonts/Cairo-Light.woff') format('woff'),
        url('public/fonts/Cairo-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
