body {
	overflow-y: auto !important;
}
/* Visible classes*/

@media only screen and (max-width: 768px) {
	.hide-mobile {
		display: none !important;
	}
}

@media only screen and (min-width: 768px) {
	.hide-desktop {
		display: none !important;
	}
}

.section {
	padding: 40px 0;
}

/* img classes */

img.img-cover {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.label {
	display: inline-block;
	padding: 3px;
	font-size: 0.6rem;
	color: #fff;
	background-color: $red;
	border-radius: 100%;
}

#confirm-logout {
	position: fixed;
	width: 100%;
	max-width: 450px;
	top: 50%;
	left: 50%;
	display: none;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	background-color: $green_water;
	padding: 20px;
	z-index: 9999999999;
	img {
		width: 35%;
		float: right;
	}

	div {
		width: 60%;
		float: left;
	}
	h5 {
		color: #fff;
		font-weight: 400;
		font-size: 1.2rem;
		line-height: 1.5;
	}

	a {
		display: inline-block;
		padding: 8px 20px;
		background-color: rgba(#fff, 0.4);
		margin-right: 15px;
		margin-top: 25px;
		color: #fff;
		font-size: 0.9rem;
		@include transition(0.2s);
		&:hover {
			background-color: rgba(#fff, 0.6);
			@include transition(0.2s);
		}
	}
}

.title-page {
	margin-bottom: 0;
}

/* The switch - the box around the slider */
.on-off {
	position: relative;
	display: table;
		> span {
	  	position: absolute;
	  	font-size: 0.7rem;
	  	font-weight: 300;
	  	top: 0;
		color: #fff;
	  	&.option1 {
	  		left: 13px;
	  	}

	  	&.option2 {
	  		right: -10px;
	  	}
	  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 40px;
  margin-top: 20px;
}

/* Hide default HTML checkbox */
.switch input {
	display:none !important;
	}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  border: 2px solid #fff;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  left: 4px;
  bottom:3px;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgba(#fff, 0.3);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(58px);
  -ms-transform: translateX(58px);
  transform: translateX(58px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.wrapper-image {
	position: relative;
	.cover-image {
		object-fit: cover;
		width: 100%;
		position: absolute;
		height: 100%;
		top: 0;
		left: 0;
		z-index: -1;
	}
}

.put-bottom {
	position: absolute;
	width: 100%;
	bottom: 0;
}

.custom-select {
	position: relative;
	background-color: #fff;
	height: 52px;
	border-right: 1px solid #e5e5e5;
	label {
		position: absolute;
		width: 100%;
		height: 20px;
		line-height: 20px;
		padding-left: 8px;
		cursor: pointer;
		font-size: 0.8rem;
		z-index:9;
		color: #603E6E;
	}
	.selectize-input, .selectize-control {
		border: 0;
		position: absolute;
		width: 100%;
		height: 100%;
		bottom: 0;
		line-height: 52px;
		z-index: 8;
		overflow: inherit;
		box-shadow: none !important;
		border-radius: 0;
		left: 0;
	}

	.selectize-control.single .selectize-input:after {
		top: 23%;
		border-color: #603E6E transparent transparent transparent
	}

	.selectize-dropdown {
		background-color: #603E6E;
		border: 0;
		color: #fff;
		.active, .selected {
			background-color: darken(#603E6E, 10%);
			color: #fff;
		}
	}

	&.last {
		margin-right: 20px;
	}
}

@media only screen and (max-width: 768px) {
	.custom-select.last {
		margin-right: 0;
	}
}