<shared-main-container>
  <div id="list-users" class="ads">
    <div class="container">
      <div class="row gutters" *ngFor="let group of groupedResults;">
        <div class="col col-4" *ngFor="let user of group;">
          <admin-user-card [user]="user"></admin-user-card>
        </div>
      </div>
    </div>
  </div>
</shared-main-container>

<app-footer></app-footer>