.first-infos input[type="text"], .first-infos .select-style, .first-infos .select-style select {
	height: 32px;
	line-height: 32px;
}

.first-infos .select-style {
	max-width: 106px;
}

.first-infos .infos input[type="checkbox"] + label, .first-infos .infos input[type="radio"] + label {
	top: 18px;
}