<form (ngSubmit)="submitForm()" #petForm="ngForm" *ngIf="pet" [class.submitted]="submitted">
  <legend><img src="public/img/_icons/arrow.svg" alt="Arrow" (click)="closeForm()"> <span>Cadastres seu Rex</span></legend>
  <div class="form-row">
    <app-image-picker #selectedMainFileUpload label="Foto principal" inputName="foto_principal" uploadBasePath="petMainImage" [(fileUrlModel)]="pet.main_file_url"></app-image-picker>

    <div class="first-infos">
      <input type="text" placeholder="Nome do Peludinho" name="nome_do_peludinho" [(ngModel)]="pet.name" required>
      <div class="select-style" style="width: 100%; max-width: none; background-position: 98% center;">
        <select style="width: 110%; " name="breed" id="breed" [(ngModel)]="pet.breed" required>
          <option *ngFor="let state of breedList" [ngValue]="state == placeholderBreed ? null : state" [disabled]="state == placeholderBreed">{{state}}</option>
        </select>
      </div> <!-- / select-style -->

      <div class="select-style">
        <select name="type" id="type" [(ngModel)]="pet.type" (change)="onTypeChange()" required>
          <option *ngFor="let state of typeList" [ngValue]="state.code" [disabled]="state.code == null">{{state.name}}</option>
        </select>
      </div> <!-- / select-style -->
      <div class="select-style">
        <select name="offer_type" id="offer_type" [(ngModel)]="pet.offer_type" required>
          <option *ngFor="let state of offerTypeList" [ngValue]="state.code" [disabled]="state.code == null">{{state.name}}</option>
        </select>
      </div> <!-- / select-style --> 
      <div class="infos">
        <div class="infos">
          <input type="radio" name="gender" id="female" value="female" [(ngModel)]="pet.gender" required>
          <label for="female">Fêmea</label>
          
          <input type="radio" name="gender" id="male" value="male" [(ngModel)]="pet.gender" required>
          <label for="male">Macho</label>
        </div> <!-- / infos -->
      </div> <!-- / infos -->
      
      
      <div class="select-style" style="margin-right: 0;">
        <select name="age" id="age" [(ngModel)]="pet.age" required>
          <option *ngFor="let state of yearList" [ngValue]="state.code" [disabled]="state.code == null">{{state.name}}</option>
        </select>
      </div> <!-- / select-style -->

      <div class="select-style">
        <select name="age_month" id="age_month" [(ngModel)]="pet.age_month" required>
          <option *ngFor="let state of monthList" [ngValue]="state.code" [disabled]="state.code == null">{{state.name}}</option>
        </select>
      </div> <!-- / select-style -->

      <div class="infos">
        <input type="radio" name="estimada" [value]="true" id="estimada" [(ngModel)]="pet.estimated_age">
        <label for="estimada">Estimada</label>

        <input type="radio" name="estimada" [value]="false" id="correta" [(ngModel)]="pet.estimated_age">
        <label for="correta">Correta</label>
      </div> <!-- / infos -->

      <div class="select-style">
        <select name="size" id="size" [(ngModel)]="pet.size" required>
          <option *ngFor="let state of sizeList" [ngValue]="state.code" [disabled]="state.code == null">{{state.name}}</option>
        </select>
      </div> <!-- / select-style -->
    </div> <!-- / first-infos -->
    

  </div> <!-- / form-row -->

  <div class="form-row pedigree first-infos">
    
  </div> <!-- / form-row -->

  <div class="form-row pedigree first-infos">
    <div class="infos">
      <span class="label-adjacent">
        Possui pedigree?
      </span> <!-- / label -->

      <div class="infos">
        <input type="radio" name="pedigree" id="nao" value="false" [(ngModel)]="pet.pedigree">
        <label for="nao">Não</label>

        <input type="radio" name="pedigree" id="sim_documentada" value="doc" [(ngModel)]="pet.pedigree">
        <label for="sim_documentada">Sim, documentada</label>

        <input type="radio" name="pedigree" id="sim_microchipado" value="chip" [(ngModel)]="pet.pedigree">
        <label for="sim_microchipado">Sim, microchipado</label>						
      </div> <!-- / infos -->
    </div> <!-- / infos -->
  </div> <!-- / form-row -->

  <div class="form-row">
    <textarea name="breve_descricao" id="breve_descricao" placeholder="Faça uma breve descrição" [(ngModel)]="pet.description" required></textarea>
  </div> <!-- / form-row -->

  <div class="form-row">
    <div class="range">
      <span class="from">Calmo</span>
      <input name="calmo_agitado" id="calmo_agitado" type="range" min="0" max="100" step="1" [(ngModel)]="pet.profile.calm" required>
      <span class="to">Agitado</span>
    </div> <!-- / range -->

    <div class="range">
      <span class="from">Tranquilo</span>
      <input name="tranquilo_gosta_de_latir" id="tranquilo_gosta_de_latir" type="range" min="0" max="100" step="1" [(ngModel)]="pet.profile.easy" required>
      <span class="to">Gosta de Latir</span>
    </div> <!-- / range -->

    <div class="range">
      <span class="from">Carinhoso</span>
      <input name="carinhoso_no_seu_canto" id="carinhoso_no_seu_canto" type="range" min="0" max="100" step="1" [(ngModel)]="pet.profile.caring" required>
      <span class="to">No seu canto</span>
    </div> <!-- / range -->

    <div class="range">
      <span class="from">Sociável</span>
      <input name="sociavel_timido" id="sociavel_timido" type="range" min="0" max="100" step="1" [(ngModel)]="pet.profile.social" required>
      <span class="to">Tímido</span>
    </div> <!-- / range -->

    <div class="range">
      <span class="from">Faz muitos amigos peludos</span>
      <input name="amigavel_territorialista" id="amigavel_territorialista" type="range" min="0" max="100" step="1" [(ngModel)]="pet.profile.friendly" required>
      <span class="to">Territorialista</span>
    </div> <!-- / range -->

  </div> <!-- / form-row -->

  <div class="form-row">
    <textarea name="motivo" id="motivo" placeholder="Qual o motivo pelo qual você não pode mais ficar com esse peludinho" [(ngModel)]="pet.reason" required></textarea>
  </div> <!-- / form-row -->

  <div class="form-row">
    <span class="label-adjacent">
      É castrado?
    </span> <!-- / label -->

    <div class="checkbox-group first-infos">
      <div class="infos">
        <input type="radio" name="castrado" id="nao_castrado" [value]="false" [(ngModel)]="pet.castrado">
        <label for="nao_castrado">Não</label>

        <input type="radio" name="castrado" id="sim_castrado" [value]="true" [(ngModel)]="pet.castrado">
        <label for="sim_castrado">Sim</label>
      </div>
    </div>
  </div>
  <div class="form-row">
    <span class="label-adjacent">
      Vacinas
    </span> <!-- / label -->
    <div class="checkbox-group first-infos">
        <div class="infos">
        <input type="checkbox" name="v8" id="v8" [(ngModel)]="pet.vacinas.v8">
        <label for="v8">V8</label>

        <input type="checkbox" name="v10" id="v10" [(ngModel)]="pet.vacinas.v10">
        <label for="v10">V10</label>

        <input type="checkbox" name="v8_2d" id="v8_2d" [(ngModel)]="pet.vacinas.v8_2d">
        <label for="v8_2d">V8 (2D)</label>

        <input type="checkbox" name="v10_2d" id="v10_2d" [(ngModel)]="pet.vacinas.v10_2d">
        <label for="v10_2d">V10 (2D)</label>

        <input type="checkbox" name="v8_3d" id="v8_3d" [(ngModel)]="pet.vacinas.v8_3d">
        <label for="v8_3d">V8 (3D)</label>

        <input type="checkbox" name="v10_3d" id="v10_3d" [(ngModel)]="pet.vacinas.v10_3d">
        <label for="v10_3d">V10 (3D)</label>

        <input type="checkbox" name="giardiase" id="giardiase" [(ngModel)]="pet.vacinas.giardiase">
        <label for="giardiase">Giárdiase</label>

        <input type="checkbox" name="giardiase_2d" id="giardiase_2d" [(ngModel)]="pet.vacinas.giardiase_2d">
        <label for="giardiase_2d">Giárdiase (2D)</label>

        <input type="checkbox" name="gripecanina_2d" id="gripecanina_2d" [(ngModel)]="pet.vacinas.gripecanina_2d">
        <label for="gripecanina_2d">Gripe Canina (2D)</label>

        <input type="checkbox" name="antirabica" id="antirabica" [(ngModel)]="pet.vacinas.antirabica">
        <label for="antirabica">Anti-rábica</label>

      </div> <!-- / infos -->
    </div> <!-- / checkbox-group -->
  </div> <!-- / form-row -->

  <div class="form-row" id="upload-many-photos">
    <app-gallery-picker #galleryPicker [currentPhotos]="pet.gallery_images" [newPhotos]="galleryNewImages" [basePath]="galleryBasePath"></app-gallery-picker>
  </div> <!-- / form-row -->

  <div class="form-row row-submit">
    <img src="public/img/_icons/pow.svg" alt="Pow">
    <button type="submit">próximas patas</button>
  </div> <!-- / form-row -->
</form>