<shared-main-container>
  <div id="list-animals" class="ads">
    <div class="container">
      <div class="row gutters">
        <div class="col col-12">
          <h1 class="title-page">Meus Rexs</h1>
        </div> <!-- / col -->
      </div> <!-- / row -->
      <div *ngIf="groupedResults && groupedResults.length > 0">
        <div class="row gutters" *ngFor="let group of groupedResults;">
          <div class="col col-4" *ngFor="let pet of group;">
            <shared-pet-card [pet]="pet" [allowEdit]="true" [allowStats]="true" [userStat]="userStat" (editClicked)="editPet($event)" (petRemoved)="petRemoved()"></shared-pet-card>
          </div>
        </div>
      </div>
      <div *ngIf="groupedResults && groupedResults.length == 0">
        <div class="row gutters">
          <div class="col col-4">
            <p class="no-has-pets">Você ainda não possui Rexs cadastrados :(</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</shared-main-container>

<div id="trigger-add-ad" class="hide-mobile" (click)="addPet()">
  <span>+</span>
</div> <!-- / add-ad -->

<div id="add-ad" [class.opened]="showForm">
  <logged-pet-form [hidden]="!showForm" [pet]="selectedPet" (formClosed)="petFormClosed()" (petSaved)="petSaved($event)"></logged-pet-form>
</div>

<app-footer></app-footer>