<shared-popup popupId="pop-up-chamado" extraClass="pop-up-chamado" [(popupShown)]="interestSaved">
  <img src="public/img/_icons/icon-chamado.svg" alt="Seu chamado foi ouvido!">
  <h4>Graaawr!</h4>
  <p>Seu chamado foi enviado pras minhas tutoras <br> <strong>entraremos em contato com você em breve!</strong></p>
  <p>Obrigada por confiar na REX!</p>
  <a (click)="interestSaved=false">Continuar farejando</a>
</shared-popup>

<div class="profile-pet">
  <app-pet-search (onSearch)="onSearchSubmit($event)" [hideSmallOnMobile]="true" [showLabels]="false"></app-pet-search> 

  <div class="slide-pet">
    <div class="views" *ngIf="pet && currentUser && (pet.user.id == currentUser.id || currentUser.isAdminUser())">{{ views() }} views</div>
    <ul>
      <li class="wrapper-image" *ngIf="pet.main_file_url">
        <img class="cover-image" [src]="pet.main_file_url" alt="Slide Pet">
        <a [href]="pet.main_file_url" class="swipebox" rel="gallery-pet"></a>
      </li>
      <li class="wrapper-image" *ngFor="let image of pet.gallery_images;">
        <img class="cover-image" [src]="image.url" alt="Slide Pet">
        <a [href]="image.url" class="swipebox" rel="gallery-pet"></a>
      </li>
    </ul>
  </div> <!-- / slide-pet -->

  <div class="actions-pet hide-desktop" *ngIf="!currentUser || currentUser.id != pet.user.id">
    <a (click)="requestStat('meeting')"><img src="public/img/_icons/message-green.svg" alt="Marcar um encontro">Marcar <br> um encontro</a>
    <a (click)="requestStat('friend')"><img src="public/img/_icons/dino-green.svg" alt="Encontei meu melhor amigo">Encontrei meu <br> melhor amigo!</a>
  </div> <!-- / actions-pet -->

  <div id="pet">	
    <div class="container">
      <div class="row gutters">
        
        <div class="col col-9 descricao-inner-pet">
          <div id="descricao">
            <h1>{{ pet.name }}</h1>
            <!-- INFORMACOES DO ANIMAL NO MOBILE -->
            <div class="info-pet-mobile hide-desktop">
              <ul>
                <li>Raça: {{ pet.breed }}</li>
                <li>Idade: {{ pet.age }} anos</li>
                <li *ngIf="pet.place_address">{{ pet.place_address | addressToArea }}</li>
              </ul>

              <div class="info-mobile-animal animal">
                <img src="public/img/_icons/pegada-white.svg" alt="Pegada">
                <img *ngIf="pet.genderObj()" class="male-female" [src]="pet.genderObj().icon" [alt]="pet.genderObj().name">
                <div class="animal-info">
                  <span class="animal-size big" [class.selected]="pet.size == 'big'"></span>
                  <span class="animal-size medium" [class.selected]="pet.size == 'medium'"></span>
                  <span class="animal-size small" [class.selected]="pet.size == 'small'"></span>
                </div>
              </div>
            </div> <!-- / info-pet-mobile -->

            <!-- ACABA AQUI -->


            <div class="label-page" style="margin-top: 0;">Descrição</div>
            <p>{{ pet.description }} </p>
            
            <div class="features-inner-pet">
              <div class="range">
                  <span class="from">Calmo</span>
                  <input disabled name="" id="" type="range" min="0" max="100" step="1" [(ngModel)]="pet.profile.calm">
                  <span class="to">Agitado</span>
                </div> <!-- / range -->

                <div class="range">
                  <span class="from">Tranquilo</span>
                  <input disabled name="" id="" type="range" min="0" max="100" step="1" [(ngModel)]="pet.profile.easy">
                  <span class="to">Late para todo mundo</span>
                </div> <!-- / range -->

                <div class="range">
                  <span class="from">Carinhoso</span>
                  <input disabled name="" id="" type="range" min="0" max="100" step="1" [(ngModel)]="pet.profile.caring">
                  <span class="to">No seu canto</span>
                </div> <!-- / range -->

                <div class="range">
                  <span class="from">Sociável com humanos</span>
                  <input disabled name="" id="" type="range" min="0" max="100" step="1" [(ngModel)]="pet.profile.social">
                  <span class="to">Não se dá bem com outros</span>
                </div> <!-- / range -->

                <div class="range">
                  <span class="from">Faz muitos amigos peludos</span>
                  <input disabled name="" id="" type="range" min="0" max="100"  step="1" [(ngModel)]="pet.profile.friendly">
                  <span class="to">Territorialista</span>
                </div> <!-- / range -->
              </div> <!-- / features -->
            </div> <!-- / descricao -->

            <div id="motivo">
              <div class="label-page">Motivo</div>
              <p>{{pet.reason}}</p>
            </div> <!-- / motivo -->

            <div id="cuidados">
              
              <div class="label-page">Cuidados</div>

              <div class="cares">
                <span class="care" [class.active]="pet.castrado">Castrado</span>
                <span class="care" [class.active]="pet.vacinas.v8">V8</span>
                <span class="care" [class.active]="pet.vacinas.v8_2d">V8 (2D)</span>
                <span class="care" [class.active]="pet.vacinas.v8_3d">V8 (3D)</span>
                <span class="care" [class.active]="pet.vacinas.v10">V10</span>
                <span class="care" [class.active]="pet.vacinas.v10_2d">V10 (2D)</span>
                <span class="care" [class.active]="pet.vacinas.v10_3d">V10 (3D)</span>
                <span class="care" [class.active]="pet.vacinas.giardiase">Giárdise</span>
                <span class="care" [class.active]="pet.vacinas.giardiase_2d">Giárdise (2D)</span>
                <span class="care" [class.active]="pet.vacinas.gripecanina_2d">Gripe Canina (2D)</span>
                <span class="care" [class.active]="pet.vacinas.antirabica">Anti-rábica</span>
              </div> <!-- / care -->
            </div> <!-- / cuidaos -->

            <div id="pedigree">

              <div class="label-page">Pedigree</div>
              <p>{{ pet.pedigree | pedigreeToString}}</p>
            </div> <!-- / pedigree -->

            <div id="quem-somos" *ngIf="place">

              <div class="label-page">Quem está cuidado de mim</div>
              <div class="who-is-care-me" [routerLink]="['/place', place.getOrCalculateSlug()]">
                <div class="who-is-cover">
                  <img [src]="place?.main_file_url || 'public/img/_temporary/temporary-logo.png'" [alt]="place?.name">
                </div> <!-- / wrapper-image -->
                
                <div class="who-is-description">
                  <h4>{{ pet.owner_name }}</h4>
                  <span *ngIf="pet.place_address">{{ pet.place_address | addressToArea }}</span>
                  <div class="rating" *ngIf="place?.rating">
                    <span [class.full]="place.rating > 0">☆</span>
                    <span [class.full]="place.rating > 1">☆</span>
                    <span [class.full]="place.rating > 2">☆</span>
                    <span [class.full]="place.rating > 3">☆</span>
                    <span [class.full]="place.rating > 4">☆</span>
                  </div> <!-- / rating -->
                </div> <!-- / who-is-description -->

                <p *ngIf="place?.presentation">{{ place?.presentation }}</p>
                <p *ngIf="place?.proposal">{{ place?.proposal }}</p>
              </div> <!-- / who-is-care-me -->

            </div> <!-- / quem-somos -->

            <div id="sobre-a-raca" *ngIf="breed">
              <div class="label-page">Sobre a raça</div>
              <p>{{breed.description}}</p>
            </div> <!-- / sobre-a-raca -->

        </div> <!-- / col -->
        <!-- TRECHO COM AS INFORMAÇOES DO PET PARA DESKTOP -->
        <div class="col col-3 hide-mobile">
          <div class="sidebar-pet first">
            <h4>{{pet.name}}</h4>
            <img src="public/img/_icons/pegada-white.svg" alt="Pegada">
            <table class="animal" cellpadding="0" cellspacing="0">
              <tr>
                <td>Raça: {{pet.breed}}</td>
                <td align="right" rowspan="2"><img *ngIf="pet.genderObj()" class="male-female" [src]="pet.genderObj().icon" [alt]="pet.genderObj().name"></td>
              </tr>

              <tr>
                <td>Idade: {{pet.age}} anos</td>
              </tr>

              <tr class="animal-info">
                <td *ngIf="pet.place_address">{{ pet.place_address | addressToArea }}</td>
                <td align="right">
                  <div>
                    <span class="animal-size big" [class.selected]="pet.size == 'big'"></span>
                    <span class="animal-size medium" [class.selected]="pet.size == 'medium'"></span>
                    <span class="animal-size small" [class.selected]="pet.size == 'small'"></span>
                  </div>
                </td>
              </tr>

            </table>

            <div class="actions-pet can-be-fixed" *ngIf="!currentUser || currentUser.id != pet.user.id">
              <a (click)="requestStat('meeting')"><img src="public/img/_icons/message-green.svg" alt="Marcar um encontro">Marcar um encontro</a>
              <a (click)="requestStat('friend')"><img src="public/img/_icons/dino-green.svg" alt="Encontei meu melhor amigo">Encontrei meu melhor amigo!</a>
            </div>
          </div> <!-- / sidebat-pet -->

          
        </div> <!-- / col -->
      </div> <!-- / row -->
    </div> <!-- / container -->
  </div> <!-- / pet -->

</div>

<app-footer></app-footer>