<div class="upload-foto">
  <span *ngIf="label && label.length > 0">{{label}}</span>
  <label *ngFor="let photo of currentPhotos; let i = index;" for="fotos-{{i}}" class="item-picture current-image {{imageClass}}">
    <img [src]="photo.url" alt="Foto {{ i + 1 }}">
  </label>
  <label *ngFor="let photo of newPhotos; let i = index;" for="new-fotos-{{i}}" class="item-picture new-image {{imageClass}}">
    <img [src]="photo.url" alt="Foto {{ i + 1 }}">
  </label>
  <input type="file" name="new_gallery_foto" id="new_gallery_foto" (change)="galleryFileSelected($event)" multiple="true">
  <label *ngIf="photosCount() < photoLimit" for="new_gallery_foto" [class]="imageClass + ' ' +  (addExtraText && photosCount() > 0 ? addExtraClass : '')" >
    <span *ngIf="addExtraText && photosCount() > 0" [class]="addExtraClass">{{addExtraText}}</span>
    <img *ngIf="!addExtraText || photosCount() == 0" src="public/img/_icons/camera.svg" alt="Câmera" class="placeholder">
  </label>
</div> <!-- / upload-fotos-secundarias -->