.wrapper-button {
	display: table;
    margin: 20px auto 0;
    position: relative;
    button.save {
		position: absolute;
		outline: none;
		border: 0;
	    font-size: 0.9rem;
	    text-transform: lowercase;
	    top: 64px;
	    right: -50px;
	    color: #F8AD33;
	    text-decoration: underline;
	}
}
.next, .finish-register {
	position: relative;
}

@media only screen and (max-width: 768px) {
	.select-custom-inner.select-state {
		width: 100% !important;
		max-width: 100% !important;
	}
}

.content-tab-page .clone-field {
	line-height: 35px !important;
	font-size: 0.9rem !important;
}