<shared-main-container>
  <div class="my-profile-page" *ngIf="!showSuccess" style="padding: 40px 0;">
    <div class="container">
      <div class="row gutters">
        <div class="col col-3 cadastro-empresa">
          <div class="my-data switch-content hide-mobile" *ngIf="canSeeForm()">
            <ul>
              <li data-content-tab="1" [class.active]="step == 1" (click)="goToStep(1)">
                <img src="public/img/_icons/ola.svg" alt="Olá">Olá</li>
              <li data-content-tab="2" [class.active]="step == 2" (click)="goToStep(2)">
                <img src="public/img/_icons/regulamento.svg" alt="Regulamento">Regulamento</li>
              <li data-content-tab="3" [class.active]="step == 3" (click)="goToStep(3)">
                <img src="public/img/_icons/eye.svg" alt="Apresentação">Apresentação</li>
              <li data-content-tab="4" [class.active]="step == 4" (click)="goToStep(4)">
                <img src="public/img/_icons/camera-white.svg" alt="Fotos">Fotos</li>
              <li data-content-tab="5" [class.active]="step == 5" (click)="goToStep(5)">
                <img src="public/img/_icons/manual.svg" alt="Manual">Manual</li>
              <!-- <li data-content-tab="6" [class.active]="step == 6" (click)="goToStep(6)">
                <img src="public/img/_icons/icon-question.svg" alt="Questionário">Questionário</li> -->
            </ul>
          </div>
          <!-- / my-data -->
        </div>
        <!-- / col -->

        <div class="col col-9">
          <div class="content-tab-page current" id="content-tab-page-1" [class.current]="step == 1">
            <h3>Graawr</h3>
            <div class="description" *ngIf="canSeeForm()">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eu mauris eget dolor aliquet mattis quis tempus
              ipsum. Nulla at est lacus. Suspendisse vitae congue erat.</div>

            <div class="description you-are-logged" *ngIf="!canSeeForm()">Você já está cadastrado, por favor saia através do menu, para efetuar seu cadastro como {{ typeName }}.</div>

            <form (ngSubmit)="goToStep(2)" #step1Form="ngForm" *ngIf="canSeeForm()" [class.submitted]="submitted.step_1">
              <div class="row gutters">
                <div class="col col-6">
                  <input type="text" name="name" placeholder="Razão Social" [(ngModel)]="place.name" required>
                  <input type="text" [textMask]="{mask: cnpjMask}" name="cnpj" placeholder="CNPJ" [(ngModel)]="place.cnpj" required>
                  <input type="email" name="email" placeholder="E-mail" [(ngModel)]="user.email" required [disabled]="user && user.id">

                  <input type="text" [textMask]="{mask: phoneMask}" name="phone" placeholder="Telefone" [(ngModel)]="place.address.phone" required>

                  <input type="text" name="endereco" placeholder="Endereço" [(ngModel)]="place.address.street" required>

                  <div class="row">
                      <div class="col col-9">
                          <input type="text" name="cidade" placeholder="Cidade" [(ngModel)]="place.address.city" required>
                      </div>
                      <!-- / col -->

                      <div class="col col-3">
                          <div class="select-custom-inner select-state">
                              <select name="state" id="state" [(ngModel)]="place.address.state" >
                                <option *ngFor="let state of stateList" [ngValue]="state.code" [disabled]="state.code == null">{{state.name}}</option>
                            </select>
                          </div>
                         <!-- <shared-selectize selectClass="custom" selectName="state" [(selected)]="place.address.state" [options]="stateList"></shared-selectize> -->
                      </div>  <!-- / col -->

                  </div> <!-- / row -->

                  <div class="row">
                      <div class="col col-9">
                          <input type="text" name="cep" placeholder="CEP" [(ngModel)]="place.address.postal_code" required>
                      </div> <!-- / col -->
                  </div> <!-- / row -->

                  <input *ngIf="!user || !user.id" type="password" name="password" placeholder="Senha" [(ngModel)]="password" [class.ng-invalid]="step1Form.form.errors?.password_confirmation" required>
                  <input *ngIf="!user || !user.id" type="password" name="password_confirmation" placeholder="Confirme a senha" [class.ng-invalid]="step1Form.form.errors?.password_confirmation" [(ngModel)]="password_confirmation" required>

                  <input type="text" name="user_name" placeholder="Nome do Responsável" [(ngModel)]="user.displayName" required>

                </div>
                <!-- / col-6 -->

                <div class="col col-6">
                  
                  <div class="select-custom-inner select-state" style="width: 98%; max-width: 98%; background-position: 97.5% center;">
                      <select style="width: 100%;" name="newBreed" id="newBreed" [(ngModel)]="newBreed">
                        <option value="">Raça que cria</option>
                    <option *ngFor="let state of breedList" [ngValue]="state == placeholderBreed ? null : state" [disabled]="state == placeholderBreed">{{state}}</option>
                  </select>

                </div> 
                  <div class="clone-field" (click)="addNewBreed()" style="margin-top: 10px;">Adicionar mais raças (crio mais que uma)</div>
                  <input *ngFor="let breed of place.breeds; let i = index;" type="text" name="breed-{{i}}" placeholder="Raça" [(ngModel)]="place.breeds[i]" disabled>
                </div>
                <!-- / col -->
              </div>
              <!-- / row -->


              <div class="wrapper-button">
                <div class="next" *ngIf="canSeeForm()">
                  <button class="finish-register" type="submit">
                    <img src="public/img/_icons/arrow-cadastro.svg" alt="">
                  </button>
                 
                </div>
                <button *ngIf="canSeeForm() && place.id" class="save" type="button" (click)="saveStep()">Salvar</button>
              </div>
            </form>
          </div>
          <!-- / content-tab-page -->



          <div class="content-tab-page" id="content-tab-page-2" [class.current]="step == 2" *ngIf="canSeeForm()">
            <h3>Regulamento</h3>
            <div class="text-company">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pharetra felis id ultrices consectetur. Donec
                ullamcorper augue ut eros consequat, id rutrum metus luctus. Morbi vestibulum, nunc a laoreet vehicula, risus
                libero finibus dolor, eget sollicitudin nisl quam non odio. Donec hendrerit faucibus tortor at congue. In
                commodo tortor eget orci mattis, eget finibus mi finibus. Aenean quam elit, ornare id nunc ut, maximus suscipit
                lectus. Fusce convallis odio vel tortor rhoncus, in lacinia risus volutpat. Mauris tempus, mi in luctus varius,
                magna nisl laoreet turpis, non tincidunt nisl ligula in purus. Suspendisse rhoncus massa et neque ullamcorper,
                et pharetra nunc sodales. Vivamus rhoncus quis mi a porta. In a tempus tortor, eget egestas erat. Aenean
                ut erat nec turpis rhoncus pretium volutpat non dolor. Duis fermentum rhoncus arcu, sollicitudin auctor turpis
                placerat sed. Sed id rhoncus arcu. Vivamus molestie elit non tincidunt maximus.</p>

              <p>
                <strong>Curabitur commodo dolor in ipsum placerat rhoncus. </strong>
              </p>
              <p>Vivamus aliquet quam eget purus mattis, vel ullamcorper mauris varius. Morbi aliquet est molestie tellus cursus,
                ac auctor orci maximus. Duis venenatis auctor ex, et rutrum ante pharetra eget. Sed at volutpat libero. Nam
                vitae quam leo. Nunc vitae faucibus enim. Curabitur malesuada dui vel magna dignissim ultricies. Nulla rhoncus,
                est eu volutpat scelerisque, nisi lacus tincidunt massa, ut aliquam neque nulla vitae urna. Integer at nibh
                nec enim pretium gravida non nec sapien. Duis malesuada arcu sit amet posuere convallis. Quisque sed ante
                ante. Ut ultrices felis mauris. Pellentesque habitant morbi tristique senectus et netus et malesuada fames
                ac turpis egestas. Sed vitae fringilla ex. Sed mollis efficitur pretium.</p>

              <p>Sed eget tellus eu nulla suscipit vestibulum sed in elit. Proin aliquet nisl nec nisi vestibulum tincidunt.
                Curabitur porta vestibulum massa, vel placerat eros sagittis sit amet. Vestibulum ante ipsum primis in faucibus
                orci luctus et ultrices posuere cubilia Curae; Vivamus pellentesque augue ac blandit faucibus. Quisque egestas
                quam felis. Ut purus ipsum, condimentum quis mauris vitae, pellentesque maximus massa. Praesent urna augue,
                commodo id orci id, sollicitudin tempus mauris. Integer eget justo quis mi porta ultrices eu at metus. Praesent
                eu nulla dui. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>

              <p>Sed eget tellus eu nulla suscipit vestibulum sed in elit. Proin aliquet nisl nec nisi vestibulum tincidunt.
                Curabitur porta vestibulum massa, vel placerat eros sagittis sit amet. Vestibulum ante ipsum primis in faucibus
                orci luctus et ultrices posuere cubilia Curae; Vivamus pellentesque augue ac blandit faucibus. Quisque egestas
                quam felis. Ut purus ipsum, condimentum quis mauris vitae, pellentesque maximus massa. Praesent urna augue,
                commodo id orci id, sollicitudin tempus mauris. Integer eget justo quis mi porta ultrices eu at metus. Praesent
                eu nulla dui. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
            </div>
            <!-- / text-company -->
              
            <div class="wrapper-button">
              <div class="next" (click)="goToStep(3)">
                <img src="public/img/_icons/arrow-cadastro.svg" alt="Próximo">
              </div>
              <button *ngIf="canSeeForm() && place.id" class="save" type="button" (click)="saveStep()">Salvar</button>
            </div>

          </div>
          <!-- / content-tab-page -->

          <div class="content-tab-page" id="content-tab-page-3" [class.current]="step == 3" *ngIf="canSeeForm()">
            <h3>Apresentação</h3>
            <form (ngSubmit)="goToStep(4)" #step3Form="ngForm" *ngIf="canSeeForm()" [class.submitted]="submitted.step_3">
              <div class="text-company">
                <h4>Quem sou</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pharetra felis id ultrices consectetur. Donec
                  ullamcorper augue ut eros consequat, id rutrum metus luctus. Morbi vestibulum, nunc a laoreet vehicula,
                  risus libero finibus dolor, eget sollicitudin nisl quam non odio. Donec hendrerit faucibus tortor at congue.
                  In commodo tortor eget orci mattis, eget finibus mi finibus. Aenean quam elit, ornare id nunc ut, maximus
                  suscipit lectus. Fusce convallis odio vel tortor rhoncus, in lacinia risus volutpat. Mauris tempus, mi
                  in luctus varius, magna nisl laoreet turpis, non tincidunt nisl ligula in purus. Suspendisse rhoncus massa
                  et neque ullamcorper, et pharetra nunc sodales. Vivamus rhoncus quis mi a porta. In a tempus tortor, eget
                  egestas erat. Aenean ut erat nec turpis rhoncus pretium volutpat non dolor. Duis fermentum rhoncus arcu,
                  sollicitudin auctor turpis placerat sed. Sed id rhoncus arcu. Vivamus molestie elit non tincidunt maximus.</p>

                <textarea name="presentation" [(ngModel)]="place.presentation" required></textarea>

                <h4>Proposta</h4>
                <p>
                  <strong>Curabitur commodo dolor in ipsum placerat rhoncus. </strong>
                </p>
                <p>Vivamus aliquet quam eget purus mattis, vel ullamcorper mauris varius. Morbi aliquet est molestie tellus
                  cursus, ac auctor orci maximus. Duis venenatis auctor ex, et rutrum ante pharetra eget. Sed at volutpat
                  libero. Nam vitae quam leo. Nunc vitae faucibus enim. Curabitur malesuada dui vel magna dignissim ultricies.
                  Nulla rhoncus, est eu volutpat scelerisque, nisi lacus tincidunt massa, ut aliquam neque nulla vitae urna.
                  Integer at nibh nec enim pretium gravida non nec sapien. Duis malesuada arcu sit amet posuere convallis.
                  Quisque sed ante ante. Ut ultrices felis mauris. Pellentesque habitant morbi tristique senectus et netus
                  et malesuada fames ac turpis egestas. Sed vitae fringilla ex. Sed mollis efficitur pretium.</p>

                <textarea name="proposal" [(ngModel)]="place.proposal" required></textarea>

                <h4>Tags</h4>
                <p>Sed eget tellus eu nulla suscipit vestibulum sed in elit. Proin aliquet nisl nec nisi vestibulum tincidunt.
                  Curabitur porta vestibulum massa, vel placerat eros sagittis sit amet.</p>

                <input type="text" name="tags" id="tags" placeholder="Digite suas tags (separe por , ou aperte enter)" [(ngModel)]="insertedTag" (keydown)="tagKeyDown($event)">
                <div class="tags">
                  <span *ngFor="let tag of place.tags; let i = index;" class="tag" style="background-color: #2BBABC;">{{tag}}</span>
                  <!-- <span class="tag" style="background-color: #EE4224;">Pastor Alemão</span>
                  <span class="tag" style="background-color: #2BBABC;">Poodle</span> -->
                </div>

                <h4>Horário de funcionamento</h4>
                <p>Sed eget tellus eu nulla suscipit vestibulum sed in elit. Proin aliquet nisl nec nisi vestibulum tincidunt.
                  Curabitur porta vestibulum massa, vel placerat eros sagittis sit amet.</p>

                <div class="horario-de-funcionamento">
                  <div class="select-custom-inner">
                    <select name="weekDaysStart" id="weekDaysStart" [(ngModel)]="place.weekDaysStart" required>
                      <option *ngFor="let item of weekDays" [ngValue]="item.code" [disabled]="item.code == null">{{item.name}}</option>
                    </select>
                  </div>
                  <span>a</span>
                  <div class="select-custom-inner">
                    <select name="weekDaysEnd" id="weekDaysEnd" [(ngModel)]="place.weekDaysEnd" required>
                      <option *ngFor="let item of weekDays" [ngValue]="item.code" [disabled]="item.code == null">{{item.name}}</option>
                    </select>
                  </div>
                  <span>das</span>
                  <div class="select-custom-inner">
                    <select name="weekHoursStart" id="weekHoursStart" [(ngModel)]="place.weekHoursStart" required>
                      <option value=""></option>
                      <option value="06:00">06:00</option>
                      <option value="07:00">07:00</option>
                      <option value="08:00">08:00</option>
                      <option value="09:00">09:00</option>
                      <option value="10:00">10:00</option>
                      <option value="11:00">11:00</option>
                      <option value="12:00">12:00</option>
                      <option value="13:00">13:00</option>
                      <option value="14:00">14:00</option>
                      <option value="15:00">15:00</option>
                      <option value="16:00">16:00</option>
                      <option value="17:00">17:00</option>
                      <option value="18:00">18:00</option>
                      <option value="19:00">19:00</option>
                      <option value="20:00">20:00</option>
                      <option value="21:00">21:00</option>
                      <option value="22:00">22:00</option>
                      <option value="23:00">23:00</option>
                      <option value="24:00">24:00</option>
                      <option value="01:00">01:00</option>
                      <option value="02:00">02:00</option>
                      <option value="03:00">03:00</option>
                      <option value="04:00">04:00</option>
                      <option value="05:00">05:00</option>
                    </select>
                  </div>
                  <!--- / select-custom-inner -->
                  <span>às</span>
                  <div class="select-custom-inner">
                    <select name="weekHoursEnd" id="weekHoursEnd" [(ngModel)]="place.weekHoursEnd" required>
                      <option value=""></option>
                      <option value="06:00">06:00</option>
                      <option value="07:00">07:00</option>
                      <option value="08:00">08:00</option>
                      <option value="09:00">09:00</option>
                      <option value="10:00">10:00</option>
                      <option value="11:00">11:00</option>
                      <option value="12:00">12:00</option>
                      <option value="13:00">13:00</option>
                      <option value="14:00">14:00</option>
                      <option value="15:00">15:00</option>
                      <option value="16:00">16:00</option>
                      <option value="17:00">17:00</option>
                      <option value="18:00">18:00</option>
                      <option value="19:00">19:00</option>
                      <option value="20:00">20:00</option>
                      <option value="21:00">21:00</option>
                      <option value="22:00">22:00</option>
                      <option value="23:00">23:00</option>
                      <option value="24:00">24:00</option>
                      <option value="01:00">01:00</option>
                      <option value="02:00">02:00</option>
                      <option value="03:00">03:00</option>
                      <option value="04:00">04:00</option>
                      <option value="05:00">05:00</option>
                    </select>
                  </div>
                  <!-- / select-custom-inner -->
                </div>
                <!-- / horario-de-funcionamento -->
              </div>
              <!-- / text-company -->
              <div class="wrapper-button">
                <div class="next" *ngIf="canSeeForm()">
                  <button class="finish-register" type="submit">
                    <img src="public/img/_icons/arrow-cadastro.svg" alt="Próximo">
                  </button>
                </div>
                <button *ngIf="canSeeForm() && place.id" class="save" type="button" (click)="saveStep()">Salvar</button>
              </div> <!-- / wrapper-button -->
            </form>
          </div>
          <!-- / content-tab-page -->

          <div class="content-tab-page" id="content-tab-page-4" [class.current]="step == 4" *ngIf="canSeeForm()">
            <h3>Fotos</h3>
            <form (ngSubmit)="goToStep(5)" #step4Form="ngForm" *ngIf="canSeeForm()" [class.submitted]="submitted.step_4">
              <div class="text-company">
                <h4>Perfil</h4>
                <div class="row gutters">
                  <div class="col col-10">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pharetra felis id ultrices consectetur.
                      Donec ullamcorper augue ut eros consequat, id rutrum metus luctus. Morbi vestibulum, nunc a laoreet
                      vehicula, risus libero finibus dolor, eget sollicitudin nisl quam non odio. Donec hendrerit faucibus
                      tortor at congue. In commodo tortor eget orci mattis, eget finibus mi finibus. Aenean quam elit, ornare
                      id nunc ut, maximus suscipit lectus. Fusce convallis odio vel tortor rhoncus, in lacinia risus volutpat.
                      Mauris tempus, mi in luctus varius, magna nisl laoreet turpis, non tincidunt nisl ligula in purus.
                      Suspendisse rhoncus massa et neque ullamcorper, et pharetra.</p>
                  </div>
                  <!-- / col -->

                  <div class="col col-2">
                    <app-image-picker #selectedMainFileUpload inputName="main_file" uploadBasePath="placeMainImage" [(fileUrlModel)]="place.main_file_url"></app-image-picker>
                  </div>
                  <!-- / col -->
                </div>
                <!-- / row -->

                <h4>Local</h4>
                <p>Vivamus aliquet quam eget purus mattis, vel ullamcorper mauris varius. Morbi aliquet est molestie tellus
                  cursus, ac auctor orci maximus. Duis venenatis auctor ex, et rutrum ante pharetra eget. Sed at volutpat
                  libero. Nam vitae quam leo. Nunc vitae faucibus enim. Curabitur malesuada dui vel magna dignissim ultricies.
                  Nulla rhoncus, est eu volutpat scelerisque, nisi lacus tincidunt massa, ut aliquam neque nulla vitae urna.
                  Integer at nibh nec enim pretium gravida non nec sapien. Duis malesuada arcu sit amet posuere convallis.
                  Quisque sed ante ante. Ut ultrices felis mauris. Pellentesque habitant morbi tristique senectus et netus
                  et malesuada fames ac turpis egestas. Sed vitae fringilla ex. Sed mollis efficitur pretium.</p>

                <app-gallery-picker #galleryPicker [currentPhotos]="place.gallery_images" [newPhotos]="galleryNewImages" [basePath]="galleryBasePath"></app-gallery-picker>

                <h4>Capa</h4>
                <p>Sed eget tellus eu nulla suscipit vestibulum sed in elit. Proin aliquet nisl nec nisi vestibulum tincidunt.
                  Curabitur porta vestibulum massa, vel placerat eros sagittis sit amet.</p>

                <app-image-picker #selectedCoverFileUpload containerClass="upload-foto capa" inputName="cover_file" uploadBasePath="placeCoverImage" [(fileUrlModel)]="place.cover_file_url"></app-image-picker>

              </div>
              <!-- / text-company -->
              
              <div class="wrapper-button">
                <div class="next" *ngIf="canSeeForm()">
                  <button class="finish-register" type="submit">
                    <img src="public/img/_icons/arrow-cadastro.svg" alt="Próximo">
                  </button>
                </div>
                <button *ngIf="canSeeForm() && place.id" class="save" type="button" (click)="saveStep()">Salvar</button>
              </div>
            </form>
          </div>
          <!-- / content-tab-page -->

          <div class="content-tab-page" id="content-tab-page-5" [class.current]="step == 5" *ngIf="canSeeForm()">
            <h3>Manual</h3>
            <form (ngSubmit)="saveStep()" #step4Form="ngForm" *ngIf="canSeeForm()" [class.submitted]="submitted.step_5">
              <div class="text-company">
                <h4>Clientes</h4>
                <p>Vivamus aliquet quam eget purus mattis, vel ullamcorper mauris varius. Morbi aliquet est molestie tellus
                  cursus, ac auctor orci maximus. Duis venenatis auctor ex, et rutrum ante pharetra eget. Sed at volutpat
                  libero. Nam vitae quam leo. Nunc vitae faucibus enim. Curabitur malesuada dui vel magna dignissim ultricies.
                  Nulla rhoncus, est eu volutpat scelerisque, nisi lacus tincidunt massa, ut aliquam neque nulla vitae urna.
                  Integer at nibh nec enim pretium gravida non nec sapien. Duis malesuada arcu sit amet posuere convallis.
                  Quisque sed ante ante. Ut ultrices felis mauris. Pellentesque habitant morbi tristique senectus et netus
                  et malesuada fames ac turpis egestas. Sed vitae fringilla ex. Sed mollis efficitur pretium.</p>

                <div style="border: 1px solid #0A879D; padding: 50px; width: 100%; text-align: center; margin-top: 10px;">Vídeo</div>

                <h4>Animais</h4>
                <p>Vivamus aliquet quam eget purus mattis, vel ullamcorper mauris varius. Morbi aliquet est molestie tellus
                  cursus, ac auctor orci maximus. Duis venenatis auctor ex, et rutrum ante pharetra eget. Sed at volutpat
                  libero. Nam vitae quam leo. Nunc vitae faucibus enim. Curabitur malesuada dui vel magna dignissim ultricies.
                  Nulla rhoncus, est eu volutpat scelerisque, nisi lacus tincidunt massa, ut aliquam neque nulla vitae urna.
                  Integer at nibh nec enim pretium gravida non nec sapien. Duis malesuada arcu sit amet posuere convallis.
                  Quisque sed ante ante. Ut ultrices felis mauris. Pellentesque habitant morbi tristique senectus et netus
                  et malesuada fames ac turpis egestas. Sed vitae fringilla ex. Sed mollis efficitur pretium.</p>

                <div style="border: 1px solid #0A879D; padding: 50px; width: 100%; text-align: center; margin-top: 10px;">Vídeo</div>

                <h4>Clientes</h4>
                <p>Vivamus aliquet quam eget purus mattis, vel ullamcorper mauris varius. Morbi aliquet est molestie tellus
                  cursus, ac auctor orci maximus. Duis venenatis auctor ex, et rutrum ante pharetra eget. Sed at volutpat
                  libero. Nam vitae quam leo. Nunc vitae faucibus enim. Curabitur malesuada dui vel magna dignissim ultricies.
                  Nulla rhoncus, est eu volutpat scelerisque, nisi lacus tincidunt massa, ut aliquam neque nulla vitae urna.
                  Integer at nibh nec enim pretium gravida non nec sapien. Duis malesuada arcu sit amet posuere convallis.
                  Quisque sed ante ante. Ut ultrices felis mauris. Pellentesque habitant morbi tristique senectus et netus
                  et malesuada fames ac turpis egestas. Sed vitae fringilla ex. Sed mollis efficitur pretium.</p>

                <div style="border: 1px solid #0A879D; padding: 50px; width: 100%; text-align: center; margin-top: 10px;">Tempo de resposta</div>

              </div>
              <!-- / text-company -->

    
              <div class="next" *ngIf="canSeeForm()">
                <button class="finish-register" type="submit">
                  <img src="public/img/_icons/arrow-cadastro.svg" alt="Próximo">
                  <span>Salvar</span>
                </button>
              </div>
            </form>


          </div>
          <!-- / content-tab-page -->

         <!-- <div class="content-tab-page" id="content-tab-page-6" [class.current]="step == 6" *ngIf="canSeeForm()">
            <h3>Questionário</h3>
            <form (ngSubmit)="saveStep()" #step6Form="ngForm" *ngIf="canSeeForm()" [class.submitted]="submitted.step_6">
              <div class="text-company">
                <h4>Clientes</h4>
                <p>Vivamus aliquet quam eget purus mattis, vel ullamcorper mauris varius. Morbi aliquet est molestie tellus
                  cursus, ac auctor orci maximus. Duis venenatis auctor ex, et rutrum ante pharetra eget. Sed at volutpat
                  libero. Nam vitae quam leo. Nunc vitae faucibus enim. Curabitur malesuada dui vel magna dignissim ultricies.
                  Nulla rhoncus, est eu volutpat scelerisque, nisi lacus tincidunt massa, ut aliquam neque nulla vitae urna.
                  Integer at nibh nec enim pretium gravida non nec sapien. Duis malesuada arcu sit amet posuere convallis.
                  Quisque sed ante ante. Ut ultrices felis mauris. Pellentesque habitant morbi tristique senectus et netus
                  et malesuada fames ac turpis egestas. Sed vitae fringilla ex. Sed mollis efficitur pretium.</p>


                <h4>Animais</h4>
                <p>Vivamus aliquet quam eget purus mattis, vel ullamcorper mauris varius. Morbi aliquet est molestie tellus
                  cursus, ac auctor orci maximus. Duis venenatis auctor ex, et rutrum ante pharetra eget. Sed at volutpat.</p>
                <ul>
                  <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </li>
                  <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </li>
                  <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </li>
                  <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </li>
                  <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </li>
                  <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </li>
                  <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </li>
                  <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </li>
                  <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </li>
                </ul>


                 <h4>Tempo de Resposta</h4>
                <p>Vivamus aliquet quam eget purus mattis, vel ullamcorper mauris varius. Morbi aliquet est molestie tellus
                  cursus, ac auctor orci maximus. Duis venenatis auctor ex, et rutrum ante pharetra eget. Sed at volutpat.</p>
                <ul>
                  <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </li>
                  <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </li>
                  <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </li>
                  <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </li>
                  <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </li>
                  <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </li>
                  <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </li>
                  <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </li>
                  <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </li>
                </ul>

               </div>
              <!-- / text-company -->

          

              <!-- <button class="finish-register" type="submit">
                <img src="public/img/_icons/arrow-cadastro.svg" alt="Feito">
              </button>
            </form>


          </div>
          <!-- / content-tab-page -->





        </div>
        <!-- / col -->
      </div>
      <!-- / row -->
    </div>
    <!-- / container -->
  </div>
  <div class="register-success" *ngIf="showSuccess">
    <img src="public/img/_icons/dino-green-bordered.svg" alt="Dino">
    <h2>GRAAWR!</h2>
    <h4>Você é o mais novo dinossauro da Rex!</h4>

    <div>
      <h5>Use seu poder com sabedoria</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pharetra felis id ultrices consectetur. Donec ullamcorper augue ut eros consequat, id rutrum metus luctus. Morbi vestibulum, nunc a laoreet vehicula, risus libero finibus dolor, eget sollicitudin nisl quam non odio. Donec hendrerit faucibus tortor at congue. In commodo tortor eget orci mattis, eget finibus mi finibus. Aenean quam elit, ornare id nunc ut, maximus suscipit lectus. Fusce convallis odio vel tortor rhoncus, in lacinia risus volutpat. </p>

      <a routerLink="/" title="Farejar por aí">Farejar por aí</a>
    </div>
  </div> <!-- / register-success -->
</shared-main-container>