<div>
    <app-header (toggleSidebarTriggered)="sidebarVisible=!sidebarVisible" [currentUser]="currentUser" (loginTriggered)="showLogin()"></app-header>
    
    <app-sidebar *ngIf="currentUser" [currentUser]="currentUser" [sidebarVisible]="sidebarVisible" (sidebarShown)="sidebarShown()" (sidebarHidden)="sidebarHidden()"></app-sidebar>
    
    <div class="mask-page" [@pageMaskOpacity]="pageMaskVisibility" [@pageMaskDisplay]="pageMaskVisibility" (click)="hideSidebar()"></div>
    
    <div id="confirm-logout">
      <div>
        <h5>Deseja mesmo fazer o <strong>logout</strong> da sua conta REX?</h5>
        <a href="#0" id="no">Não</a>
        <a href="#0" id="yes">Sim</a>
      </div>
    
      <img src="public/img/_icons/mascot-logout.svg" alt="Logout">
    </div> <!-- / confirm-logout -->
    
    <router-outlet></router-outlet>

    <app-login [(opened)]="loginVisible" *ngIf="!currentUser" (onLogin)="onLogin()" (onLoginExit)="onLoginExit()"></app-login>
</div>

<div id="global-loading" [class.visible]="loadingVisible" class="loading">
  <div class="loading-center">
    <div class="walking-paws">
      <img src="public/img/_icons/walk-patas.svg" alt="Walking" />
      <div class="cover-walking-paws"></div>
    </div>
  </div> <!-- / loading-center -->
</div>