<footer class="footer-block">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="copyright"> 
          <span>&copy; REX, inc.</span>
          <nav id="menu-footer">
            <ul>
              <li><a href="/termos-e-condicoes" title="Termos e Condições">Termos e Condições</a></li>
              <li><a href="/contato" title="Dúvidas">Tive um problema</a></li>
            </ul>
          </nav> <!-- / menu-footer -->
        </div> <!-- / copyright -->

       <img class="apoio hide-mobile" src="public/img/_structure/apoio.png" alt="Apoio">
       
        <div class="logo-social">
          <div class="redes-sociais-footer">
            <a href="#"><img src="public/img/_icons/facebook-footer.svg"></a>
            <a href="#"><img src="public/img/_icons/instagram-footer.svg"></a>
          </div> <!-- / redes-sociais-footer -->

          <div class="logo-footer">
            <img src="public/img/_icons/dino-border.svg" alt="Dino">
          </div>
        </div> <!-- / logo-social -->
        
      </div> <!-- / col -->
    </div> <!-- / row -->
  </div> <!-- / container -->
</footer>