<shared-popup popupId="pop-up-confirm-removal" extraClass="confirm-popup" [(popupShown)]="show_remove">
	<img src="public/img/_icons/mascot-logout.svg" alt="Contato">
	<h5>MI-AU!</h5>
  <p>Tem certeza que deseja remover esse Rex?</p>
  <div class="actions">
    <a (click)="confirmRemoval()" title="Remover este Rex">Sim, pode remover!</a>
    <a class="cancel" (click)="cancelRemoval()" title="Cancelar">Cancelar</a>
  </div>
</shared-popup>

<div class="animal" (clickOutside)="closeMenuIfVisible()">
    <div class="edit-trigger" *ngIf="allowEdit && !this.editMenuVisible" (click)="toggleEditMenu()">
      <span></span>
    </div> <!-- / edit-trigger -->

    <div class="menu-fast-edit" *ngIf="allowEdit" [class.opened]="editMenuVisible">
      <ul>
        <li><a (click)="openPetEditor()">Editar</a></li>
        <li><a (click)="removePet($event)">Exclui</a></li>
      </ul>
    </div> <!-- / menu-fast-edit -->

    <div class="interest-info" *ngIf="allowStats">
      <ul>
        <li>
          <div class="statistic">
            <img src="public/img/_icons/message.svg" alt="Encontro">
            <div class="label">{{stat("meeting", pet)}}</div>
          </div>
        </li>
        <li>
          <div class="statistic">
            <img src="public/img/_icons/dino.svg" alt="Melhor amigo">
            <div class="label">{{stat("friend", pet)}}</div>
          </div>
        </li>
      </ul>
    </div>

  <!-- <a class="make-favorite" href="#0"><img src="public/img/_icons/heart.svg" alt="Heart"></a> -->
  <a class="animal-main" [routerLink]="['/pet', pet.getOrCalculateSlug()]" (click)="open()">
    <div class="img-animal">
      <img class="img-cover" [src]="pet.main_file_url || 'public/img/_temporary/animal.jpg'" alt="{{pet.name}}">
      <div class="animal-name">
        <h4>{{ pet.name }}</h4>
        <span class="type-choose">{{ pet.offer_type | offerTypeName }}</span>
      </div>
    </div> <!-- / img-animal -->
  </a>

  <a class="animal-info" [routerLink]="['/pet', pet.getOrCalculateSlug()]" (click)="open()">
    <div>
      <span class="gender" [class.male]="isMale()" [class.female]="isFemale()"></span>
      <span class="animal-size big" [class.selected]="isSize('big')"><div *ngIf="isSize('big')" class="tooltip-animal">Animal de grande porte</div></span>
      <span class="animal-size medium" [class.selected]="isSize('medium')"><div *ngIf="isSize('medium')" class="tooltip-animal">Animal de médio porte</div></span>
      <span class="animal-size small" [class.selected]="isSize('small')"><div *ngIf="isSize('small')" class="tooltip-animal">Animal de pequeno porte</div></span>
      <ul>
        <li>Raça: <strong>{{ pet.breed }}</strong></li>
        <li>Idade: <strong>{{ pet.age }} anos</strong></li>
        <li *ngIf="pet.place_address">{{ pet.place_address | addressToArea }}</li>
      </ul>
    </div>

    <div *ngIf="pet">
      <div class="rate">
        <div class="{{ pet.place_type | ownerType }}">
          <p>{{ pet.place_type | ownerTypeName }}:</p>
          <p>{{ pet.owner_name }}</p>
          <shared-rating-readonly [rating]="pet.owner_rating"></shared-rating-readonly>
        </div>

        <div class="{{ pet.place_type | ownerType }}-image">
          <img [src]="pet.owner_image_url || 'public/img/_temporary/temporary-logo.png'" alt="Logo">
        </div>
      </div> <!-- / rate -->
    </div>
  </a> <!-- / animal-info -->
</div> <!-- / animal -->