<shared-main-container>
  <div id="list-places" class="ads">
    <div class="container">
      <div class="row gutters" *ngFor="let group of groupedResults;">
        <div class="col col-4" *ngFor="let place of group;">
          <admin-place-card [place]="place"></admin-place-card>
        </div>
      </div>
    </div>
  </div>
</shared-main-container>

<app-footer></app-footer>