<div id="sidebar-menu" class="hide-mobile" [class.opened]="sidebarVisible">
  <div class="img-profile">
    <img class="img-cover" [src]="currentUser.main_file_url || (currentPlace ? currentPlace.main_file_url : null)  || 'public/img/_temporary/profile.jpg'" alt="Perfil">
  </div> <!-- / img-profile -->

  <nav id="menu-profile">
    <div class="name-user">
      {{ currentUser.displayName || currentPlace?.name }}
    </div>

    <ul>
      <li *ngIf="currentPlace">
        <a [routerLink]="['/place', currentPlace.getOrCalculateSlug()]" (click)="hideSidebar()">
          <img src="public/img/_icons/user.svg" alt="User">
          <span>Meu Perfil</span>
        </a>
      </li>

      <li>
        <a routerLink="/conta/meus-rexs" (click)="hideSidebar()">
          <img src="public/img/_icons/ad.svg" alt="Ad">
          <span>Meus Rexs</span>
          <!-- <div class="label">32</div> -->
        </a>
      </li>

      <li *ngIf="currentUser?.isAdminUser()">
        <a routerLink="/admin/usuarios" (click)="hideSidebar()">
          <img src="public/img/_icons/user.svg" alt="Usuários">
          <span>Usuários</span>
          <!-- <div class="label">32</div> -->
        </a>
      </li>

      <li *ngIf="currentUser?.isAdminUser()">
        <a routerLink="/admin/empresas" (click)="hideSidebar()">
          <img src="public/img/_icons/ong.svg" alt="Empresas">
          <span>Empresas</span>
          <!-- <div class="label">32</div> -->
        </a>
      </li>

      <li *ngIf="currentUser?.isAdminUser()">
        <a routerLink="/admin/interesses" (click)="hideSidebar()">
          <img src="public/img/_icons/melhor-amigo.svg" alt="Empresas">
          <span>Interesses</span>
          <!-- <div class="label">32</div> -->
        </a>
      </li>

      <li *ngIf="currentUser?.isAdminUser()">
        <a routerLink="/admin/assinantes" (click)="hideSidebar()">
          <img src="public/img/_icons/melhor-amigo.svg" alt="Empresas">
          <span>Assinantes</span>
          <!-- <div class="label">32</div> -->
        </a>
      </li>

      <!-- <li>
        <a href="">
          <img src="public/img/_icons/heart.svg" alt="Heart">
          <span>Favoritos</span>
        </a>
      </li> -->

      <li *ngIf="currentPlace">
        <a routerLink="/conta/configurar-empresa" (click)="hideSidebar()">
          <img src="public/img/_icons/config.svg" alt="User">
          <span>Configurações</span>
        </a>
      </li>

      <li class="logout">
        <a (click)="logout()">
          <img src="public/img/_icons/logout.svg" alt="Logout">
          <span>Logout</span>
        </a>
      </li>

    </ul>


    <!-- <div class="footer-sidebar-menu">
      <a href="">Termos e Condições</a>
      <a href="">Estou tendo problemas</a>
    </div> footer-sidebar-menu -->

    <div class="copyright">
      REX &copy; 2017
    </div> <!-- / copyright -->
  </nav> <!-- / menu-profile -->
</div>