<shared-popup popupId="pop-up-confirm-contact" extraClass="confirm-popup" [(popupShown)]="sent" (popupClosing)="redirectToRoot()">
	<img src="public/img/_icons/mascot-logout.svg" alt="Contato">
	<h5>MI-AU!</h5>
	<p>Muito obrigado pelo seu contato. <br> Responderemos assim que ouvirmos seu uivado!</p>
	<a title="Continuar farejando" (click)="sent=false">Continuar farejando</a>
</shared-popup>

<main class="contact-page">
	<div class="contact-page-center">
		<div class="container">
			<div class="row">
				<div class="col col-12">
					<h1>GRaaawr!</h1>
					<p>Está com alguma dúvida? Quer ser nosso parceiro? Quer dar um feedback? Uiva pra gente que a gente uiva de volta para você!</p>
				</div> <!-- / col -->
			</div> <!-- / row -->
			<form (ngSubmit)="send()" #contactForm="ngForm" [class.submitted]="submitted">
				<div class="row align-center">
					<div class="col col-8">
						<label for="nome">Nome</label>
						<input type="text" name="nome" id="nome" [(ngModel)]="contactData.displayName" required>
					</div> <!-- / col -->
				</div> <!-- / row -->	

				<div class="row align-center">
					<div class="col col-8">
						<label for="email">E-mail</label>
						<input type="email" name="email" id="email" [(ngModel)]="contactData.email" required>
					</div> <!-- / col -->
				</div> <!-- / row -->	

				<div class="row align-center">
					<div class="col col-8">
						<label for="assunto">Assunto</label>
						<input type="text" name="subject" id="subject" [(ngModel)]="contactData.subject" required>
					</div> <!-- / col -->
				</div> <!-- / row -->

				<div class="row align-center">
					<div class="col col-8">
						<label for="mensagem">Mensagem</label>
						<textarea id="message" name="message" [(ngModel)]="contactData.message" required></textarea>
					</div> <!-- / col -->
				</div> <!-- / row -->

				<div class="row align-center">
					<div class="col col-8">
						<button type="submit">Envie seu miado!</button>
					</div> <!-- / col -->
				</div> <!-- / row -->





			</form>
		</div> <!-- / container -->
	</div> <!-- / center -->
</main>

<app-footer></app-footer>