/* list places */
.item-card {
	position: relative;
	margin-top: 20px;
	a.make-favorite {
		position: absolute;
		display: block;
		width: 15px;
		top: 15px;
		right:15px;
		z-index: 9;
	}
	.img-item {
		width: 100%;
		height: 250px;
		position: relative;
	}

	.item-name {
		position: absolute;
		width: 100%;
		bottom: 0;
		padding: 10px;
		h4 {
			color: #fff;
			font-size: 1.8rem;
			display: inline-block;
		}

		span {
			float: right;
			display: inline-block;
			color: #fff;
			text-transform: uppercase;
			font-size: 0.7rem;
			margin-top: 16px;
			letter-spacing: 1px;
		}
	}

	.item-info {
		margin-top: 10px;
		span {
			display: inline-block;
			max-width: 40px;
		}

		span.gender {
			width: 38px;
			height: 38px;
			background-size: 100% 100%;
			background-position: center center;
		}

		span.gender.male {
			background-image: url('public/img/_icons/male.svg');
		}

		span.gender.female {
			background-image: url('public/img/_icons/female.svg');
		}

		> div {
			float: left;
			ul {
				li {
					font-size: 0.8rem;
					margin-top: 7px;
				}
			}
		}

		> div:first-of-type {
			width: 40%;
		}

		> div:last-of-type {
			width: 58%;
			margin-left: 2%;
		}
	}

	.rate {
		background-color: $green_water;
		padding: 10px;
		height: 105px;
		overflow: hidden;
		.rated-item {
			text-align: right;
			float: left;
      width: 50%;
      &.no-image {
        width: 100%;
      }
			p {
				margin-bottom: 0;
				font-size: 0.7rem;
				color: #fff;
			}

			span {
				color: #fff;
				position: relative;
				font-size: 0.8rem;
				display: inline-block;
				margin-right: 2px;
				margin-top: 5px;
				&:last-child {
					margin-right: 0;
				}
				&::before {
					content: "\2605";
	   				position: absolute;
				}
			}
		}

		.people {
			@extend .company;
			p:nth-of-type(2) {
				font-size: 0.9rem;
				margin-top: 3px;
			}
		}

		.company-image {
			height: 100%;
			width: 40%;
			background-color: #fff;
			position: relative;
			float: right;
			img {
				position: absolute;
				width: 80%;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				-webkit-transform: translate(-50%, -50%);
				-moz-transform: translate(-50%, -50%);
				-ms-transform: translate(-50%, -50%);
				-o-transform: translate(-50%, -50%);

			}
		}

		.people-image {
			height: 100%;
			width: 40%;
			float: right;
		}
	}
}

@media only screen and (max-width: 768px) {
	.item-info {
		span {
			transform: scale(0.6);
			margin-right: -10px;
		}
	}
}