select, input, .form-row select, .form-row input {
  &.ng-pristine{
    font-style: italic;
    color: lighten($green_water, 5%);
  }

  &.ng-invalid:not(.ng-pristine), &.ng-invalid.ng-touched {
    color: lighten(red, 5%) !important;
    border-color: lighten(red, 5%) !important;
    @include placeholder-color(lighten(red, 5%) !important);
  }
}
input[type="radio"], .form-row input[type="radio"] {
  &.ng-invalid:not(.ng-pristine), &.ng-invalid.ng-touched {
    border-color: solid 1px lighten(red, 5%) !important;
  }
}
form.submitted {
  select, input, .form-row select, .form-row input {
    &.ng-invalid {
      color: lighten(red, 5%) !important;
      border-color: lighten(red, 5%) !important;
      @include placeholder-color(lighten(red, 5%) !important);
    }
  }
  input[type="radio"], .form-row input[type="radio"] {
    &.ng-invalid {
      border-color: solid 1px lighten(red, 5%) !important;
    }
  }
}