body.loading {
	background-color: #008A99;
}

#global-loading {
  position: fixed;
  top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
  display: none;
  background-color: #008A99;
  opacity: 0.9;
  z-index: 199999999;
	&.visible {
		display: block;
	}
}

.loading-center {
  opacity: 1;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	width: 80%;
	max-width: 350px;
}

.walking-paws {
	width: 100%;
}

.cover-walking-paws  {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #008A99;
	top: 0;
	right: 0;
	animation: walkingPaws 3s steps(8, end) infinite;
}

@keyframes walkingPaws {
	to {
		transform: translateX(100%);
	}
}