a {
	cursor: pointer !important;
}

body {
	font-family: $default_font;
	&.fixed {
		position: fixed;
	}
}

html {
	padding-top: 50px;
}

html.opened {
	padding-top: 100px;
}

/* header */

header {
	height: 50px;
	background-color: #B0ECEB;
	display: table;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999999999;
}

/*@media only screen and (min-width: 768px) {
	header {
		position: absolute;
		top: 0;
		left: 0;
	}
} */

#trigger-menu {
	height: 50px;
	width: 50px;
	background-color: $green_water;
	cursor: pointer;
	float: left;
	z-index: 9999999;
	position: relative;
	margin-right: -30px;
	.label-alert {
		position: absolute;
		width: 15px;
		height: 15px;
		background-color: $red;
		border-radius: 100%;
		bottom: -7px;
		right: -7px;
		img {
			width: 63%;
			position: relative;
			top: -3px;
			left: 3px;
		}
	}
	.icon-menu {
		display: block;
		width: 50%;
		height: 3px;
		background-color: #fff;
		position: relative;
		top: 23px;
		left: 12px;
		&::after, &::before {
			content: '';
			position: absolute;
			height: 3px;
			width: 100%;
			background-color: #fff;
		}

		&::before {
			top: -8px;
		}

		&::after {
			top: 8px;
		}
	}
}

#logo {
	width: 75px;
	float: left;
	margin-left: 45px;
	margin-top: 8px;
}

#mobile-menu {
	height: 50px;
	float: right;
	ul {
		li {
			float: left;
			a {
				display: block;
				height: 50px;
				width: 50px;
				text-align: center;
				img {
					height: 23px;
					display: inline-block;
					margin-top: 13px;
				}
			}
		&:nth-child(1) a {
			background-color: #603D6E
		}

		&:nth-child(2) a {
			background-color: #0A879D
		}

		}
	}
}

#trigger-mobile-parent {
			background-color: $green_water;
			width: 50px;
			height: 50px;
			display: block;
			position: relative;
			float: left;
			#trigger-menu-mobile {
				width: 100%;
				height: 100%;
				span {
					display: block;
					width: 50%;
					height: 3px;
					background-color: #fff;
					position: relative;
					top: 23px;
					left: 12px;
					&::after, &::before {
						content: '';
						position: absolute;
						left: 0;
						height: 3px;
						width: 100%;
						background-color: #fff;
					}

					&::before {
						top: -8px;
					}

					&::after {
						top: 8px;
					}
				}
			}
		}

.sub-menu-profile {
	height: 50px;
	display: table;
	width: 100%;
	position: relative;
	background-color: $green_water;
	display: none;
	#trigger-add-ad-mobile {
		color: #31BABA;
		position: absolute;
		cursor: pointer;
		font-size: 1.3rem;
		left: 20px;
		top: 10px;
	}
	ul {
		li {
			width: 100%;
			a {
				display: block;
			    width: 100%;
			    text-align: left;
			    padding: 20px 20px;
			    padding-left: 70px;
			    font-size: 1.3rem;
			        border-top: 1px solid rgba(255,255,255,0.6);
			    color: #fff;
			    position: relative;
				
			}

		
			img {
				position: absolute;
				top: 24px;
				left: 24px;
				height: 18px;
				display: inline;
			}
		}
	}
}

.sub-menu-profile.opened {
	display: table;
}

.sub-menu-place-config {
	position: absolute;
	top: 100px;
	right: 0;
	display: none;
	&.opened {
		display: block;
	}
	ul {
		li {
			a {
				display: block;
				position: relative;
				background-color: #AAD8DD;
				padding: 12px 25px;
				padding-right: 35px;
				text-align: right;
				color: #fff;
				border-bottom: 1px solid rgba(255,255,255,0.5);
				img {
					max-height: 15px;
				    width: 15px;
				    position: absolute;
				    top: 18px;
				    right: 11px;
				}
			}

			&:last-child {
				a {
					border-bottom: 0;
				}
			}
		}
	}
}

.sub-menu-visitor {
	position: absolute;
	top: 50px;
	right: 0;
	display: none;
	width: 100%;
	&.opened {
		display: block;
	}
	ul {
		li {
			&:first-of-type {
				a {
					border-top: 1px solid rgba(255,255,255,0.5);
				}
			}
			a {
				display: block;
				position: relative;
				background-color: #B0ECEB;
				padding: 15px;
				text-align: center;
				color: #36365D;
				font-family: 'Sequel', sans-serif;
				border-bottom: 1px solid rgba(255,255,255,0.5);
				img {
					max-height: 15px;
				    width: 15px;
				    position: absolute;
				    top: 18px;
				    right: 11px;
				}
			}

			.sub-menu {
				li {
					a {
						font-family: 'Cairo';
						color: #fff;
						text-transform: none;
						background-color: #008A99;
					}
				}
			}

			&:last-child {
				a {
					border-bottom: 0;
				}
			}
		}
	}
}

main {
	padding-bottom: 40px;
}

#main-menu {
	float: right;
	font-family: 'Sequel', sans-serif;
	text-transform: uppercase;
	font-size: 0.8rem;
	ul {
		> li.item-menu {
			float: left;
			margin-right: 45px;
			display: inline-block;
			margin-top: 11px;
			position: relative;
			> a {
				font-size: 0.8rem;
				color: $blue;
				display: block;
				border: 2px solid transparent;
				padding: 4px 12px;
				padding-top: 5px;
				@include transition(0.2s);
				&:hover, &.active {
					border-color: #008A99;
					@include transition(0.2s);	
				}
			}

			&.has-sub-menu {
				position: relative;
				.sub-menu {
					position: absolute;
					top: 102%;
					min-width: 200px;
					display: none;
					> li {
						> a {
							display: block;
							padding: 15px;
							background-color: #008A99;
							color: #fff;
							font-family: 'Cairo', sans-serif;
							text-transform: none;
							font-weight: 300;
							font-size: 0.9rem;
							@include transition(0.2s);
							&:hover {
								background-color: darken(#008A99, 5%);
								@include transition(0.2s);
							}
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 768px) {
	#logo {
		margin-left: 10px;
	}
}

/* sidebar menu */

#sidebar-menu {
	transform: translateX(-300px);
	-webkit-transform: translateX(-300px);
	-moz-transform: translateX(-300px);
	-ms-transform: translateX(-300px);
	-o-transform: translateX(-300px);
	@include transition(0.3s);
	width: 250px;
	background-color: $dark_blue;
	position: fixed;
	height: calc(100% - 50px);
	top: 50px;
	overflow: auto;
	z-index: 999999999;
	.img-profile {
		width: 100%;
		height: 250px;
	}

	.name-user {
		padding: 40px 20px 30px;
		font-family: 'Sequel', sans-serif;
		color: #fff;
		font-size: 1.3rem;
	}

	#menu-profile {
		ul {
			li {
				a {
					display: block;
					padding: 10px 20px;
					width: 100%;
					margin-bottom: 5px;
					position: relative;
					@include transition(0.2s);
					.label {
						float: right;
					}
					span {
						color: #fff;
					    position: absolute;
					    left: 54px;
					    top: 7px;
					    font-weight: 300;
					}
					&:hover {
						background-color: rgba(#fff, 0.2);
						@include transition(0.2s);
					}
					img {
						height: 15px;
					}
				}

				&:last-child {
					margin-top: 25px;
					a {
						span {
							color: #603D6E;
						}
					}
				}
			}
		}
	}
}

.footer-sidebar-menu {
	margin-top: 50px;
	padding: 0 20px;
	margin-bottom: 50px;
	a {
		display: block;
		margin-bottom: 10px;
		color: #603D6E;
	}
}

#sidebar-menu.opened {
	transform: none;
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	@include transition(0.3s);
}

.copyright {
	padding: 0 20px;
	color: #fff;
	font-weight: 30px;
	margin-bottom: 40px;
	float: left;
}

.logo-social {
	float: right;
	margin-top: 6px;
	.redes-sociais-footer {
		float: left;
		a {
			display: block;
			margin-bottom: 8px;
		}
		img {
			width: 27px;
		}
	}

	.logo-footer {
		float: left;
		margin-left: 8px;
		img {
			height: 65px;
		}
	}
}


.mask-page {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(#000, 0.8);
	top: 0;
	left: 0;
	z-index: 999999;
	display: none;
	&.opened {
		display: block;
	}
}

/* list animals */
.animal-main:hover {
	.img-animal::after {
		opacity: 1;
		@include transition(0.2s);
	}
}
.animal {
	position: relative;
	margin-top: 20px;
	a.make-favorite {
		position: absolute;
		display: block;
		width: 15px;
		top: 15px;
		right:15px;
		z-index: 9;
	}
	.img-animal {
		width: 100%;
		height: 250px;
		position: relative;
		margin-bottom: 10px;
		&::after {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: rgba(0,0,0,.3);
			top: 0;
			left: 0;
			@include transition(0.2s);
			opacity: 0;
		}

		&::before {
			content: '';
			position: absolute;
			width: 100%;
			left: 0;
			z-index: 1;
			bottom: 0;
			height: 100%;
			opacity: 0.5;
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0, transparent), color-stop(91%, rgba(0, 0, 0, 0.6)), color-stop(99%, rgba(0, 0, 0, 0.65)));
			background: linear-gradient(to bottom, transparent 0, rgba(0, 0, 0, 0.6) 91%, rgba(0, 0, 0, 0.65) 99%);
			transition: max-height 0.3s cubic-bezier(0, 1, 0, 1);
			-webkit-transition: max-height 0.3s cubic-bezier(0, 1, 0, 1);
			 -moz-transition: max-height 0.3s cubic-bezier(0, 1, 0, 1);
			 -ms-transition: max-height 0.3s cubic-bezier(0, 1, 0, 1);
			-o-transition: max-height 0.3s cubic-bezier(0, 1, 0, 1);
		}
	}

	.animal-name {
		position: absolute;
		width: 100%;
		bottom: 0;
		padding: 10px;
		z-index: 9;
		h4 {
			color: #fff;
			font-size: 1.8rem;
			display: inline-block;
		}

		span {
			float: right;
			display: inline-block;
			color: #fff;
			text-transform: uppercase;
			font-size: 0.7rem;
			margin-top: 16px;
			letter-spacing: 1px;
		}
	}

	.animal-info {
		margin-top: 10px;
		span {
			display: inline-block;
			max-width: 40px;
		}

		span.gender {
			width: 30px;
			height: 30px;
			background-size: 100% 100%;
			background-position: center center;
		}

		span.gender.male {
			background-image: url('public/img/_icons/male.svg');
			width: 25px;
			height: 26px;
		}

		span.gender.female {
			background-image: url('public/img/_icons/female.svg');
			width: 23px;
			height: 30px;
		}

		span.animal-size {
			background-image: url('public/img/_icons/animal-size.svg');
			background-repeat: no-repeat;
			position: relative;
			&.selected {
				.tooltip-animal {
					position: absolute;
				    top: -26px;
				    right: -93px;
				    width: 130px;
				    text-align: center;
				    font-size: 0.7rem;
				    color: #fff;
				    padding: 5px;
				    background-color: #0A879D;
				    opacity: 0;
				    &::after {
				    	content: '';
				    	position: absolute;
				    	width: 0; 
						height: 0; 
						border-left: 8px solid transparent;
						border-right: 8px solid transparent;
						border-top: 8px solid #0A879D;
						bottom: -6px;
						left: 5px;
						@include transition(0.2s);
				    }
				}

				&:hover {
					.tooltip-animal {
						opacity: 1;
						@include transition(0.2s);
					}
				}
			}
		}

		span.animal-size.big {
			width: 35px;
			height: 35px;
			background-size: 65px 65px;
			background-position: -12px 6px;
			&.selected {
				background-position: -12px -32px;
			}
		}

		span.animal-size.medium {
			width: 30px;
			height: 30px;
			background-size: 55px 55px;
			background-position: -12px 6px;
			&.selected {
				background-position: -12px -27px;
			}
		}

		span.animal-size.small {
			width: 26px;
			height: 26px;
			background-size: 50px 50px;
			background-position: -11px 4px;
			&.selected {
				background-position: -11px -25px;
			}
		}

		> div {
			float: left;
			ul {
				li {
					font-size: 0.8rem;
					margin-top: 7px;
					color: #282828;
				}
			}
		}

		> div:first-of-type {
			width: 40%;
		}

		> div:last-of-type {
			width: 58%;
			margin-left: 2%;
		}
	}

	.rate {
		background-color: $green_water;
		padding: 10px;
		height: 105px;
		overflow: hidden;
		.company {
			text-align: right;
			float: left;
			width: 50%;
			p {
				margin-bottom: 0;
				font-size: 0.7rem;
				color: #fff;
			}

			span {
				color: #fff;
				position: relative;
				font-size: 0.8rem;
				display: inline-block;
				margin-right: -7px;
				margin-top: 5px;
				&:last-child {
					margin-right: 0;
				}
				&::before {
					content: "\2605";
	   				position: absolute;
				}
			}
		}

		.people {
			@extend .company;
			p:nth-of-type(2) {
				font-size: 0.9rem;
				margin-top: 3px;
			}
		}

		.company-image {
			height: 100%;
			width: 40%;
			background-color: #fff;
			position: relative;
			float: right;
			img {
				object-fit: cover;
				position: absolute;
				width: 100%;
				height: 100%;
			}
		}

		.people-image {
			height: 100%;
			width: 40%;
			float: right;
			background-color: #fff;
			position: relative; 
			img {
				object-fit: cover;
				position: absolute;
				width: 100%;
				height: 100%;
			}
		}
	}
}

@media only screen and (max-width: 768px) {
	.animal-info {
		span {
			transform: scale(0.6);
			margin-right: -10px;
		}
	}

	.animal .animal-info span.animal-size.selected .tooltip-animal {
		display: none;
	}
}

.interest-info {
	position: absolute;
	top: 0;
	right: -15px;
	ul {
		li {
			a, .statistic {
				display: block;
				width: 40px;
				height: 40px;
				background-color: #fff;
				text-align: center;
				line-height: 40px;
				position: relative;
				border: 2px solid #60296E;
				margin-bottom: -1px;
				img {
					width: 25px;
					display: inline;
				}

				.label {
					position: absolute;
					bottom: -5px;
					font-size: 0.5rem;
					right: -5px;
					width: 15px;
					height: 15px;
					z-index: 9;
					line-height: 10px;
				}
			}
		}
	}
}

@media only screen and (min-width: 768px) {
	.ads {
		.animal {
			padding-right: 25px;
			.animal-info {
				> div {
					width: 50% !important;
					margin: 0 !important;
				}
			}
		}

		.item-card {
			padding-right: 25px;
			.item-info {
				> div {
					width: 50% !important;
					margin: 0 !important;
				}
			}
		}
	}
}

@media only screen and (max-width: 768px) {
	.interest-info {
		right: 0;
		z-index: 9;
		ul {
			li {
				float: left;
				a, .statistic {
					.label {
						right: -1px;
						bottom: -17px;
						border-radius: 0;
						width: calc(100% + 2px);
					}
				}
			}
		}
	}
}

.edit-trigger {
	height: 35px;
	cursor: pointer;
	position: absolute;
	z-index: 99;
	top: 0px;
	right: 25px;
	padding-top: 20px;
	padding-right: 10px;
	padding-left: 20px;
	padding-bottom: 20px;
	span {
		display: block;
		width: 6px;
		height: 6px;
		border-radius: 100%;
		background-color: #fff;
		position: relative;
		@include transition(0.2s);
		&::after, &::before {
			content: '';
			position: absolute;
			width: 6px;
			height: 6px;
			background-color: #fff;
			border-radius: 100%;
			@include transition(0.2s);
		}

		&::after {
			top: 8px;
		}

		&::before {
			top: -8px;
		}
	}

	&:hover span, &:hover span::before, &:hover span::after {
		background-color: #00879D;
		@include transition(0.2s);
	}
}

.menu-fast-edit {
	position: absolute;
	top: 0;
	right: 25px;
	z-index: 9;
	transform: scale(0);
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform-origin: 100% 0;
	@include transition(0.2s);
	a {
		display: block;
		padding: 14px 25px;
		text-transform: uppercase;
		color: #fff;
		font-size: 0.8rem;
		background-color: $green_water;
		&:hover {
			background-color: lighten($green_water, 5%);
		}
	}
}

.menu-fast-edit.opened {
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	@include transition(0.2s);
}


@media only screen and (max-width: 768px) {
	.edit-trigger {
		top: 80px;
		right: 10px;
		padding-top: 0px;
		padding-right: 0px;
		padding-left: 0px;
		padding-bottom: 0px;
	}

	.menu-fast-edit {
		top: 63px;
		right: 0;
	}
}


#trigger-add-ad {
	position: fixed;
	height: calc(100% - 50px);
	width: 50px;
	background-color: rgba($green_water, 0.8);
	top: 50px;
	cursor: pointer;
	right: 0;
	span {
		color: #fff;
		font-size: 2rem;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
	}
}

#add-ad {
	width: 100%;
	background-color: #79C3CA; 
	position: fixed;
	height: calc(100% - 50px);
	top: 100px;
	right: 0;
	z-index: 9999;
	overflow: auto;
	transform: translateX(100%);
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	-ms-transform: translateX(100%);
	-o-transform: translateX(100%);
	@include transition(0.2s);
	form {
		padding: 30px;
		legend {
			color: #fff;
			cursor: pointer;
			font-weight: bold;
			margin-bottom: 20px;
			span {
				position: relative;
				top: -1px;
				left: 6px;
				font-size: 1.2rem;
			}
			img {
				width: 10px;
			}
		}
	}
}

.upload-foto {
	label {
		img.ng-star-inserted:not(.placeholder) {
			object-fit: cover;
		    width: 100% !important;
		    height: 100% !important;
		}

	&.ng-star-inserted {
			img:not(.placeholder) {
				object-fit: cover;
			    width: 100% !important;
			    height: 100% !important;
			}
		}
	}
}

#upload-many-photos {

	.upload-foto {
		width: 100% !important;
	}
}

#add-ad.opened {
	transform: translateX(0);
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	@include transition(0.2s);
}

.form-row {
	margin-top: 15px;
	display: table;
	width: 100%;
}

@media only screen and (min-width: 768px) {
	#add-ad {
		width: 64.5%;
		top: 50px;
	}

	.form-row {
		padding: 0 20px;
	}
}

.upload-foto {
	float: left;
	width: 200px;
	span {
		color: #fff;
		display: inline-block;
		position: relative;
		top: -45px;
		margin-right: 10px;
	}

	input[type="file"] {
		display: none;
		position: absolute;
		top: -500000px;
		left: -500000px;
	}

	label {
		display: inline-block;
		width: 90px;
		height: 90px;
		background-color: #fff;
		position: relative;
		cursor:pointer;
		text-align: center;
		line-height: 100px;
		&.new-image {
			margin-left: 3px;
			vertical-align: top;
		}
		img {
			height: 20px;
			display: inline;
		}
	}
}

.first-infos {
	width: calc(100% - 220px);
	margin-left: 20px;
	float: left;
	input[type="text"] {
		width: 100%;
		outline: none;
		border: 0;
		font-size: 0.9rem;
		color: $green_water;
		padding: 10px;
		height: 40px;
		background-color: #fff;
	}

	::-webkit-input-placeholder {
	  color: $green_water;
	}
	::-moz-placeholder {
	  color: $green_water;
	}
	:-ms-input-placeholder {
	  color: $green_water;
	}
	:-moz-placeholder {
	  color: $green_water;
	}

	.select-style {
	   background: url('public/img/_icons/select-style.svg') no-repeat 90% center;
	   background-size: 10px 7px;
	   height: 40px;
	   background-color: #fff;
	   overflow: hidden;
	   max-width: 100px;
	   display: inline-block;
	   line-height: 40px;
	   margin-right: 10px;
	   margin-top: 10px;
	}

	.select-style select {
	   background: transparent;
	   border: none;
	   font-size: 14px;
	   color: $green_water;
	   height: 40px;
	   padding: 5px;
	   width: 268px;
	}

	.infos {
		display: inline-block;
		vertical-align: top;
		input[type="checkbox"], input[type="radio"] {
			display: none;
			opacity: 0;
			& + label {
				padding-left: 20px;
				position: relative;
				cursor: pointer;
				color: #fff;
				margin-right: 10px;
				font-weight: 300;
				top: 22px;
			}
			& + label::after, & + label::before {
				content: '';
				position: absolute;
				left: 0;
			}

			& + label::after {
				width:15px;
				height: 15px;
				background-color: #fff;
				left: 0;
				top: 8px;
			}

			& + label::before {
				width: 11px;
				height: 11px;
				background-color: $green_water;
				top: 10px;
				left: 2px;
				position: absolute;
				z-index: 2;
				transform: scale(0);
				-webkit-transform: scale(0);
				-moz-transform: scale(0);
				-ms-transform: scale(0);
				-o-transform: scale(0);
				@include transition(0.1s);
			}

			&:checked + label::before {
				transform: scale(1);
				-webkit-transform: scale(1);
				-moz-transform: scale(1);
				-ms-transform: scale(1);
				-o-transform: scale(1);
				@include transition(0.1s);
			}
		}
	}
}


.select-style-user {
	   background: url('public/img/_icons/select-style.svg') no-repeat 96% center;
	   background-size: 10px 7px;
	   height: 40px;
	   background-color: #fff;
	   overflow: hidden;
	   max-width: 100%;
	   border-radius: 40px;
	   display: inline-block;
	   line-height: 40px;
	   margin-right: 10px;
	   margin-top: 5px;
	   width: 100%;
	}

	.select-style-user select {
	   background: transparent;
	   border: none;
	   font-size: 14px;
	   color: $green_water;
	   height: 40px;
	   padding: 5px;
	   width: 120%;
	}

@media only screen and (max-width: 768px) {
	.upload-foto {
		width: 60px;
		height: 60px;
		span {
			top: 0;
			word-wrap: normal;
		}

		label {
			display: block;
			width: 70px;
			height: 70px;
			line-height: 80px;
			margin-top: 10px;
		}
	}

	.first-infos {
		width: calc(100% - 90px);
		margin-left: 20px;
		margin-top: 46px;
		.infos {
			width: 100%;
		}
		.select-style {
			width: 48%;
			max-width: none;
			margin-right: 2%;
		}

		.select-style:nth-of-type(2) {
			margin-right: 0;
		}
	}
	
	input[type="checkbox"], input[type="radio"] {
		& + label[for=""] {
			top: 10px;
		}
	}

	.first-infos .infos input[type="checkbox"] + label::after, .first-infos .infos input[type="radio"] + label::after {
		width: 30px;
		height: 30px;
	}

	.first-infos .infos input[type="checkbox"] + label::before, .first-infos .infos input[type="radio"] + label::before {
		width: 26px !important;
		height: 26px !important;
	}
	.first-infos .infos input[type="checkbox"] + label, .first-infos .infos input[type="radio"] + label {
		padding-left: 40px;
		padding-top: 10px;
		margin-bottom: 10px;
	}
	.pedigree {
		.infos {
			label {
				display: block;
				margin-bottom: 10px;
				&::after {
					top: 0 !important;
				}

				&::before {
					top: 2px !important;
				}
				
			}
		}
	}
}

.pedigree {
	label {
		top: 0 !important;
	}
}

.pedigree.first-infos {
	width: 100%;
	margin-left: 0;
	margin-top: 40px;
	clear: both;
}

.label-adjacent {
	color: #fff;
	display: inline-block;
	margin-right: 10px;
}

.form-row {
	textarea {
		margin-top: 20px;
		font-size: 0.9rem;
		resize: none;
		height: 110px;
		padding: 10px;
		background-color: #fff;
		outline: none;
		border: 0;
		width: 100%;
		color: $green_water;
	}


	::-webkit-input-placeholder {
	  color: $green_water;
	}
	::-moz-placeholder {
	  color: $green_water;
	}
	:-ms-input-placeholder {
	  color: $green_water;
	}
	:-moz-placeholder {
	  color: $green_water;
	}
}

.range {
	text-align: center;
	margin-bottom: 10px;
}

input[type=range] {
  -webkit-appearance: none;
  display: inline-block;
  margin: 0 10px;
  min-width: 200px;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: none;
  outline: none !important;
  background: #fff;
  border-radius: 1.3px;
  border: none;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: none;
  border: none;
  height: 8px;
  width: 8px;
  border-radius: 100%;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3px;
  &:hover {
  	background-color: #EC422E;
  }
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #fff;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: none;
  outline: none !important;
  background: #fff;
  border-radius: 1.3px;
  border: none;
}
input[type=range]::-moz-range-thumb {
  box-shadow: none;
  border: none;
  height: 8px;
  width: 8px;
  border-radius: 100%;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3px;
  &:hover {
  	background-color: #EC422E;
  }
}
input[type=range]::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: none;
  outline: none !important;
  background: #fff;
  border-radius: 1.3px;
  border: none;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  box-shadow: none;
  border: none;
  height: 8px;
  width: 8px;
  border-radius: 100%;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3px;
  &:hover {
  	background-color: #EC422E;
  }
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

span.to, span.from {
	display: inline-block;
	min-width: 180px;
	color: #fff;
	font-size: 0.9rem;
	position: relative;
	top: 2px;
}

span.from {
	text-align: right;
}

span.to {
	text-align: left;
}

@media only screen and (max-width: 768px) {
	span.to, span.from {
		width: 50px;
		min-width: 0;
		vertical-align: middle;
		top: 0;
		font-size: 0.7rem;
	}

	input[type=range] {
		width: calc(100% - 190px);
		min-width: 0;
		margin: 0 15px;
	}

	.range {
		margin-bottom: 20px;
	}
}

.checkbox-group {
	float: none !important;
	display: inline-block;
	vertical-align: top;
	label {
		margin-bottom: 10px !important;
		top: 0 !important;
		display: inline-block;
		&::after {
			top: 0 !important
		}

		&::before {
			top: 2px !important;
		}
	}
}

@media only screen and (max-width: 768px) {
	.checkbox-group {
		width: 100% !important;
		margin-top: 20px !important;
		margin-left: 0 !important;
	}
}

.form-row:last-of-type {
	margin-bottom: 20px;
	overflow: hidden;
}

.row-submit {
	overflow: hidden;
	margin-top: 40px;
	clear: both;
	text-align: right;
	img {
		height: 24px;
		display: inline-block;
		vertical-align: middle;
		margin-right: 10px;
	}

	button {
		display: inline-block;
		padding: 6px 15px;
		background-color: #fff;
		color: $green_water;
		height: 30px;
		background-color: #fff;
		border: 0;
		cursor: pointer;
		border-radius: 0;
		@include transition(0.2s);
		&:hover {
			background-color: darken($green_water, 10%);
			color: #fff;
			@include transition(0.2s);
		}
	}
}

@media only screen and (max-width: 768px) {
	.row-submit {
		clear: both;
		margin-top: 80px;
		float: none;
		text-align: center;
	}
}

/* cadastro page */
main.cadastro {
	background-image: url('public/img/_structure/background-cadastro.png');
	background-size: cover;
	background-position: center center;
	display: table;
	width: 100%;
	padding: 40px 0;
}

.title-inner-page {
	text-align: center;
	&:not(.first-t) {
		margin-top: 80px;
	}
	h3 {
		font-size: 1.5rem;
		color: #fff;
		text-transform: uppercase;
		margin-top: 0;
		margin-bottom: 20px;
		font-family: 'Cairo', sans-serif;
		font-weight: bold;
	}

	p {
		color: #fff;
		max-width: 75%;
		margin: 0 auto;
		line-height: 1.4;
		margin-bottom: 40px;
	}
}

@media only screen and (min-width: 768px) {
	main.cadastro {
		padding: 70px 0;
	}

	.title-inner-page {
		h3 {
			font-size: 2.6rem;
			>span {
				font-family: 'Cairo';
				font-size: 3rem;
			}
		}
	}
}

.form-cadastro {
	form {
		display: block;
		width: 100%;
	}
	label {
		color: #fff;
		font-size: 0.9rem;
		margin-left: 20px;
	}

	input {
		display: block;
		outline: none;
		border-radius: 40px;
		background-color: #fff;
		margin-top: 5px;
		height: 40px;
		padding: 0 15px;
		width: 100%;
		border: 0;
		margin-bottom: 25px;
	}

	input[type="range"] {
		display: inline-block !important;
		width: auto;
		height: auto;
		padding: 0;
	}

	.upload-foto {
		margin-right: 10px;
		width: auto;
		overflow: hidden;
		label {
			margin-left: 0;
			width: 140px;
			height: 140px;
			background-color: #fff;
			line-height: 150px;
			&.cover-label {
				width: 250px;
			}
			&.more-cover {
				width: 45px;
			    font-size: 3rem;
			    margin-top: 0;
			    position: relative;
			    line-height: 130px;
			    color: #FAAE1B;
			    span {
			    	margin-right: 0;
			    }
			}
		}
		span {
			top: 0;
			display: block;
			margin-bottom: 8px;
			color: #fff;
		}
	}

	.success {
		margin-top: 100px;
		text-align: center;
		img {
			height: 140px;
		}

		h3 {
			font-size: 3.5rem;
			margin-top: 20px;
			color: #fff;
			text-transform: uppercase;
			margin-bottom: 20px;
			font-family: 'Sequel', sans-serif;
			font-weight: 400;
		}

		p {
			color: #fff;
			max-width: 75%;
			margin: 0 auto;
			line-height: 1.4;
			margin-bottom: 40px;
		}

		a {
			display: inline-block;
			padding: 8px 16px;
			color: #FAAE1B;
			border: 2px solid #FAAE1B;
			text-decoration: underline;
			border-radius: 30px;
		}

		button {
			display: table;
			margin: 0 auto;
			padding: 8px 15px;
			color: #FAAE1B;
			border: 2px solid #FAAE1B;
			border-radius: 20px;
			background-color: transparent;
			outline: none;
			cursor: pointer;
			@include transition(0.2s);
			&:hover {
				background-color: #FAAE1B;
				color: #fff;
				@include transition(0.2s);
			}
		}
	}
}

@media only screen and (max-width: 768px) {
	.form-cadastro {
		.upload-foto {
			width: 120px;
			height: 120px;
			&.more-cover {
				width: auto;
			}
			label {
				width: 120px;
				height: 120px;
				line-height: 110px;
				&.cover-label {
					width: 100%;
				}
				&.more-cover {
					margin-top: 29px;
				    font-size: 2rem;
				    line-height: 90px;
				}
			}
		}
	}

	.form-cadastro {
		form {
			input {
				margin-bottom: 10px;
			}
		}
	}
}

.anchor {
	width: 45px;
	margin: 0 auto;
	margin-top: 50px;
	clear: both;
	position: relative;
	img {
		cursor: pointer;
	}
	span {
		color: #FAAE1B;
		font-size: 0.8rem;
		text-decoration: underline;
		position: absolute;
		top: 17px;
		right: -35px;
		cursor: pointer;
	}
}

.input-image {
	img {
		display: block;
		height: 140px;
		margin: 0 auto;
	}

	label {
		cursor: pointer;
		opacity: 0.3;
		img {
			opacity: 0.6;
			@include transition(0.2s);
		}
		span {
			display: block;
			text-align: center;
			max-width: 60%;
			line-height: 1.4;
			margin: 15px auto 0;
		}
	}

	input {
		display: none;
	}

	input:checked + label {
		img {
			opacity: 1;
			@include transition(0.2s);
		}
	}
}

ul.default-tags {
	text-align: center;
	margin-top: 30px;
	li {
		display: inline-block;
		height: 35px;
		border-radius: 35px;
		position: relative;
		text-align: left;
		min-width: 300px;
		line-height: 35px;
		margin-bottom: 20px;
		font-size: 0.9rem;
		margin-right: 20px;
		padding-left: 25px;
		background-color: rgba(#fff, 0.6);
		cursor: pointer;
		.remove {
			position: absolute;
			top: -1px;
			left: 11px;
		}
	}
}

.page-top {
	width: 100%;
	height: 250px;
	padding-bottom: 20px;
	position: relative;
	z-index: 999;
	background-image: url('public/img/_structure/banner-busca.jpg');
	h3 {
		color: #fff;
		font-size: 1.4rem;
		margin-bottom: 14px;
	}
	.put-bottom {
		bottom: 30px;
	}

	.first-infos {
		float: none;
		width: 100%;
		margin-top: 0 !important;
		margin-left: 0;
		.infos {
			input[type="checkbox"]+label {
				top: 0;
			}
		}
	}
}

@media only screen and (min-width: 768px) {
	#search-full {
		position: relative;
		.page-top {
			height: 100%;
			background-image: url('public/img/_structure/banner-busca-final.jpg');
			background-size: cover;
			background-repeat: no-repeat;
		}
		.center-search {
			position: absolute;
			width: 100%;
			height: auto;
			top: 50%;
			transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			-o-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			.put-bottom {
				bottom: 0;
				position: static;
			}

			.pet-search-form {
				background-color: rgba(#603E6E, 0.8);
				position: relative;
				h3, input, label, button {
					position: relative;
					z-index: 2;
				}

				.first-infos .infos {
					width: 100%;
				}

				label {
					z-index: 9;
				}
				&::after {
					content: '';
				    position: absolute;
				    width: 100%;
				    left: 0;
				    z-index: 1;
				    bottom: 0;
				    height: 100%;
				    opacity: 0.5;
				    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, transparent), color-stop(91%, rgba(0, 0, 0, 0.6)), color-stop(99%, rgba(0, 0, 0, 0.65)));
				    background: linear-gradient(to bottom, transparent 0, rgba(0, 0, 0, 0.6) 91%, rgba(0, 0, 0, 0.65) 99%);
				    transition: max-height 0.3s cubic-bezier(0, 1, 0, 1);
				    -webkit-transition: max-height 0.3s cubic-bezier(0, 1, 0, 1);
				    -moz-transition: max-height 0.3s cubic-bezier(0, 1, 0, 1);
				    -ms-transition: max-height 0.3s cubic-bezier(0, 1, 0, 1);
				    -o-transition: max-height 0.3s cubic-bezier(0, 1, 0, 1);
				}
				padding: 20px;
				.first-infos {
					position: relative;
					top: 35px;
				}
			}
		}
	}
}


@media only screen and (max-width: 768px) {

	#search-full.search-full-home {
		height: 100%;
		.page-top {
			height: 100%;
			background-image: url('public/img/_structure/banner-busca-final.jpg');
			background-size: cover;
			background-repeat: no-repeat;
		}
		.center-search {
			position: absolute;
			width: 100%;
			height: auto;
			top: 50%;
			transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			-o-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			.put-bottom {
				bottom: 0;
				position: static;
			}
		}
	}

	.page-top {
		background-image: url('public/img/_temporary/banner-busca-mobile.jpg');
		background-size: cover !important;
		background-attachment: inherit !important;
		background-position: center center;
		background-repeat: no-repeat;
		height: auto;
		padding: 40px 0;
		display: none;
		&.opened {
			display: block;
		}
		.put-bottom {
			position: relative;
			bottom: 0;
		}
	}

	.custom-select {
		margin-top: 10px;
		&.last {
			margin-bottom: 20px;
		}
	}

	.pet-search-form {
		opacity: 0.6;
	}
}


@media only screen and (min-width: 768px) {
	.profile-pet {
	.page-top {
		height: auto;
		padding: 8px 0;
		background-image: none !important;
		background-color: #603E6E;
		#button-search-pet {
			height: 35px;
			width: 17%;
			img {
				height: 30px;
			}
		}
		.first-infos {
			margin-top: 8px !important;
		}
		.custom-select {
			height: 35px;
			&.last {
				width: 76%;
			}
			.selectize-control, .selectize-input {
				line-height: 35px;
				padding: 0;
				input, .item {
					position: absolute;
					width: 100% !important;
					height: 100%;
					top: 0;
					left: 0;
					padding: 0 10px !important;
				}
			}

			.selectize-input::after {
				top: 50%;
			}
		}
		.put-bottom {
			position: relative;
			bottom: 0;
		}
	}
}
}



.custom-select.last {
	width: 65%;
	&.with-button {
		float: left;
		margin-right: 0 !important;
	}
}

#button-search-pet {
	float: left;
	height: 52px;
	border: 3px solid #fff !important;
	background-color: #603E6E;
	@include transition(0.2s);
	width: 25%;
	padding: 0 4px;
	outline: none;
	border: 0;
	cursor: pointer;
	&:hover {
		background-color: darken(#603E6E, 10%);
		@include transition(0.2s);
	}
	img {
		display: block;
		width: 100%;
		height: 15px;
	}
}

@media only screen and (max-width: 768px) {
	#button-search-pet {
		width: 45px;
		margin-top: 10px;
	}

	.custom-select.last {
		&.last {
			width: calc(100% - 45px);
		}
	}
}

.slide-pet {
	position: relative;
	width: 100%;
	height: 350px;
	.views {
		position: absolute;
		padding: 8px 16px;
		background-color: rgba(#fff, 0.7);
		color: #6D6E71;
		top: 20px;
		left: 20px;
		z-index: 9;
	}
	ul {
		li {
			display: block;
			width: 100%;
			height: 350px;
			cursor: pointer;
			position: relative;
			a.swipebox {
				position: absolute;
				width: 100%;
				height: 100%;
				background-color: rgba(#000, 0.3);
				top: 0;
				left: 0;
			}
		}
	}

	.slick-arrow {
		position: absolute;
		height: 30px;
		top: 50%;
		margin-top: -15px;
		cursor: pointer;
		z-index: 9999;
		&.prev-arrow {
			left: 15px;
		}

		&.next-arrow {
			right: 15px;
		}
	}
}

#pet {
	padding: 50px 0;
}

.navegation-active {
	background-color: #fff;
	padding: 10px;
	&.scroll-to-fixed-fixed {
		top: 70px !important;
		z-index: 999999 !important;
	}
	li {
		position: relative;
		margin-bottom: 30px;
		color: #231F20;
		font-family: 'Cairo', sans-serif;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 0.8rem;
		padding-left: 40px;

		span {
			display: block;
			position: relative;
			top: 7px;
		}
		.page-local:not(.ong-profile) {
			position: absolute;
		    width: 30px;
		    left: 0;
		    top: 0;
		    height: 30px;
		    background-image: url('public/img/_icons/pegadas.svg');
		    background-size: 25px;
		    background-repeat: no-repeat;
		    background-position: center -22px;
		    @include transition(0.2s);
		    &::after {
				content:'';
				position: absolute;
				width: 1px;
				height: 30px;
				bottom: -22px;
				left: 50%;
				background-color: #0A879D;
			}

			&.active {
				 background-position: center 6px;
				 @include transition(0.2s);
			}

		}

		.page-local.ong-profile {
			position: absolute;
			width: 20px;
			height: 20px;
			border-radius: 100%;
			border: 1px solid #0A879D;
			@include transition(0.2s);
			top: 0;
			left: 0;
			&::after {
				content: '';
			    position: absolute;
			    width: 1px;
			    height: 26px;
			    bottom: -26px;
			    left: 50%;
			    background-color: #0A879D;
			}

			&.active {
				background-color: #0A879D;
				@include transition(0.2s)
			}

			& + span {
				top: 3px;
				left: -10px;
			}
		}

		&:last-child {
			.page-local::after {
				display: none;
			}
		}
	}
}

.descricao-inner-pet {
	h1 {
		margin-top: 0;
		font-size: 3.8rem;
		line-height: 1;
		margin-bottom: 15px;
	}

	p {
		line-height: 1.4;
	}

	span.to, span.from {
		color: #231F20;
	}

	input[type=range]::-webkit-slider-runnable-track {
		background: #FAAE1B;
	}

	input[type=range]::-webkit-slider-thumb {
		background: #FAAE1B;
	}

	input[type=range]:focus::-webkit-slider-runnable-track {
		background: #FAAE1B;
	}

	input[type=range]::-moz-range-track  {
		background: #FAAE1B;
	}

	input[type=range]::-moz-range-thumb  {
		background: #FAAE1B;
	}

	input[type=range]::-ms-track {
		background: #FAAE1B;
	}

	input[type=range]::-ms-fill-lower {
		background: #FAAE1B;
	}

	.features-inner-pet {
		margin-top: 25px;
	}
}

.label-page {
	display: table;
	padding: 4px 8px;
	margin-bottom: 15px;
	background-color: #027173;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 0.7rem;
	margin-top:30px;
}


.cares {
	span.care {
		display: inline-block;
		position: relative;
		padding-left: 22px;
		margin-bottom: 15px;
		margin-right: 15px;
		&::before {
			content: '';
			position: absolute;
			width: 15px;
			left: 0;
			top: 2px;
			height: 15px;
			border: 2px solid #027173;
		}

		&.active::before {
			background-color: #027173;
		}
	}
}

.who-is-care-me {
	background-color: #AAD8DD;
	padding: 20px;
	overflow: hidden;
	width: 100%;
	.who-is-cover {
		width: 60px;
		height: 60px;
		background-color: #fff;
		position: relative;
		float: left;
		margin-bottom: 10px;
		img {
			position: absolute;
			width: 80%;
			top: 50%;
			left: 10%;
			transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
		}
	}

	.who-is-description {
		float: left;
		margin-left: 10px;
		span {
			display: block;
			font-size: 0.8rem;
			margin-top: 5px;
		}
	}

	p {
		line-height: 1.6;
		clear: both;
		font-size: 0.9rem;
	}
}

footer.footer-block {
	clear: both;
	background-color: #0A879D;
	padding: 15px 0;
	padding-top: 19px;
	position: relative;
	.apoio {
		height: 70px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
	}
	.copyright {
		float: left;
		margin-bottom: 0;
	}
	#menu-footer {
		ul li {
			font-size: 0.9rem;
			margin-top: 10px;
			img {
				width: 80px;
				position: relative;
				margin-top: -40px;
			}
			&:last-child {
				margin-right: 0;
				color: #fff;
			}
			a {
				display: block;
				&:hover {
					text-decoration: underline;
				}
				color: #fff;
			}
		}
	}
}

.sidebar-pet {
	background-color: #FAAE1B;
	padding: 20px;
	position: relative;
	margin-bottom: 15px;
	h4 {
		color: #fff;
		font-size: 1.2rem;
		text-transform: uppercase;
		margin: 0;
		max-width: 80%;
	}

	> img {
		position: absolute;
		width: 25px;
		top: 25px;
		right: 25px;
	}

	table {
		width: 100%;
		tr.animal-info {
			td {
				> div {
					text-align: right;
					span {
						display: inline-block;
						transform: scale(0.6);
						-webkit-transform: scale(0.6);
						-moz-transform: scale(0.6);
						-ms-transform: scale(0.6);
						-o-transform: scale(0.6);
						margin-right: -10px;
					}
				}
			}
		}
		td {
			font-size: 0.8rem;
			color: #fff;
			padding-top: 8px;
			img.male-female {
				width: 30px;
			}

			 img.verificado {
			 	width: 45px;
			 }

			 small {
			 	font-weight: bold;
			 }

			ul li {
				margin-bottom: 5px;
			}
			 .rating > span {
			 	color: #fff;
			 	margin-right: 5px;
			 }

			 .rating > span.full::before {
			 	color: #fff;
			 }
		}
	}
}

.actions-pet {
	margin-top: 10px;
	&.scroll-to-fixed-fixed {
		top: 50px !important;
		margin-top: 0 !important;
		z-index: 99999 !important;
	}
	a {
		display: block;
		padding: 8px;
		background-color: #0A879D;
		color: #fff;
		width: 100%;
		font-size: 0.8rem;
		margin-bottom: 10px;
		padding-left: 40px;
		position: relative;
		@include transition(0.2s);
		&:hover {
			background-color: darken(#0A879D, 10%);
			@include transition(0.2s);
		}
		img {
			width: 20px;
			position: absolute;
			top: 8px;
			left: 8px;
		}

		&:last-of-type {
			margin-bottom: 0;
			img {
				top: 6px;
			}
		}
	}
}

@media only screen and (max-width: 768px) {
	.actions-pet {
		margin-top: 0;
		overflow: hidden;
		a {
			margin: 0;
			width: 50%;
			display: inline-block;
			float: left;
			font-size: 1rem;
			line-height: 1.5;
			text-align: center;
			img {
				top: 50%;
				left: 15px;
				width: 25px;
				transform: translateY(-50%);
				-webkit-transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				-o-transform: translateY(-50%);
			}

			&:last-of-type {
				border-left: 1px solid #fff;
				img {
					top: 50%;
					transform: translateY(-50%);
					-webkit-transform: translateY(-50%);
					-moz-transform: translateY(-50%);
					-ms-transform: translateY(-50%);
					-o-transform: translateY(-50%);
				}
			}
		}
	}
}

.rating {
  unicode-bidi: bidi-override;
}
.rating > span {
  display: inline-block !important;
  position: relative;
  width: 1.1em;
}
.rating > span.full::before{
   content: "\2605";
   position: absolute;
   color: #FAAE1B;
}

@media only screen and (min-width: 768px) {
	.sidebar-pet.first {
		margin-top: -85px;
	}
}

@media only screen and (max-width: 768px) {
	.descricao-inner-pet h1 {
		font-size: 3rem;
		font-weight: bold;
	}
}

.info-pet-mobile {
	overflow: hidden;
	margin-bottom: 25px;
	ul {
		font-size: 1rem;
		float: left;
		li {
			margin-bottom: 8px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.info-mobile-animal, .info-mobile-ong {
	background-color: #FAAE1B;
	padding: 10px;
	margin-top: 0;
	img {
		height: 20px;
		margin-right: 10px;
		&:nth-child(2) {
			margin-right: 0;
		}
	}
	float: right;
	.animal-info {
		margin-top: 0;
		span {
			margin-right: 0;
			margin-left: -10px;
		}
	}
}

.info-mobile-ong {
	img {
		display: block;
		height: 40px;
		margin: 0 auto
	}
}

.tags-inner {
	margin-top: 10px;
	h5 {
		margin-bottom: 10px;
	}
	span {
		display: inline-block;
		padding: 8px;
		font-size: 0.8rem;
		color: #fff;
		border-radius: 15px;
	}
}

.slide-pets-full {
	position: relative;
	z-index: 9;
	margin: 0 -10px;
	margin-top: -40px;
	margin-bottom: 50px;
	.slick-slide {
		margin: 0 10px;
	}

	.slick-arrow {
		position: absolute;
		height: 30px;
		top: 35%;
		margin-top: -15px;
		cursor: pointer;
		z-index: 9;
		&.prev-arrow {
			left: 15px;
		}

		&.next-arrow {
			right: 15px;
		}
	}	
}

.reviews .reviews-list{
	background-color: #AAD8DD;
	padding: 20px;
	margin-top: -15px;
}

.reviews {
	margin-bottom: 50px;
	blockquote {
		font-size: 0.9rem;
		margin-top: 10px;
		line-height: 1.4;
		color: #231F20;
	}
}

.review-wrapper {
	margin-bottom: 20px;

	&:last-of-type {
		margin-bottom: 0;
	}
}

.name-review {
	overflow: hidden;
	margin-bottom: 20px;
	.author {
		float: left;
		margin-top: 3px;
	}

	.rating {
		float: right;
		> span {
			color: #FAAE1B;
		}
	}
}

@media only screen and (min-width: 768px) {
	.my-profile-page {
		padding: 50px;
		position: relative;
	}
}

.my-data {
	width: 220px;
	position: absolute;
	top: 50px;
	left: 50px;
	z-index: 9;
	ul {
		li {
			position: relative;
			cursor: pointer;
			padding: 15px;
			padding-left: 35px;
			background-color: #AAD8DD;
			color: #fff;
			width: 180px;
			@include transition(0.2s);
			&:hover {
				background-color: #05869C;
				@include transition(0.2s);
			}
			&.active {
				padding-right: 35px;
				width: 220px;
				background-color: #05869C;
				@include transition(0.2s);
			}
			img {
				max-height: 15px;
				width: 15px;
				position: absolute;
				top: 18px;
				left: 11px;
			}
		}
	}
}

.data-content-profile {
	padding: 20px;
	background-color: #EBF5F7;
	position: relative;
	button {
		position: absolute;
		display: table;
		padding: 12px 22px;
		color: #fff;
		background-color: #EE4023;
		outline: none;
		border: 0;
		font-size: 0.8rem;
		cursor: pointer;
		bottom: -15px;
		right: 20px;
	}
	table {
		width: 100%;
		td {
			width: 33%;
			color: #606A70;
			font-size: 0.9rem;
		}

		input[type="text"], input[type="email"], input[type="tel"], input[type="password"] {
			width: 100%;
			color: #606A70;
			border: 0;
			outline: none;
			background-color: transparent;
			border-bottom: 1px solid #606A70;
			padding: 8px 0;
			font-family: 'Cairo';
			&.filled {
				border-bottom: 0;
				cursor: default;
			}
		}

		span.edit-field {
			color: #EE4023;
			cursor: pointer;
			&:hover {
				text-decoration: underline;
			}
		}
	}

	.upload-foto {
		margin-bottom: 15px;
		&.capa {
			width: 100%;
		}
		span {
			display: block;
			top: 0;
			color: #606A70;
			font-size: 0.8rem;
			margin-bottom: 8px;
		}

		label {
			background-color: #05869C;
			font-size: 3rem;
			color: #F9AC1A;
			line-height: 95px;
			width: 110px;
			height: 110px;
			&[for="capa"] {
				height: 130px;
				line-height: 115px;
				width: 100%;
			}
		}
	}

	label {
		display: block;
		font-size: 0.8rem;
		margin-bottom: 5px;
		color: #606A70;
	}

	textarea {
		width: 100%;
		border: 0;
		outline: 0;
		height: 160px;
		background-color: #fff;
		padding: 15px;
		font-size: 0.8rem;
		margin-bottom: 10px;
	}

	&.interests {
		table {
			td:nth-child(odd) {
				width: 10%;
			}

			tr:nth-child(1) td {
				padding-bottom: 10px;
			}

			td {
				padding-bottom: 20px;
			}

			input[type="text"] {
				width: 100%;
				border-radius: 40px;
				border: 2px solid #EE4023;
				padding-left: 15px;
				padding-right: 15px;
			}
		}

		span.to, span.from {
			color: #EE4023;
		}

		input[type=range] {
			min-width: 45px;
		}

		input[type=range]::-webkit-slider-runnable-track {
		  background: #EE4023;
		}
		input[type=range]::-webkit-slider-thumb {
		  background: #EE4023;
		}
		input[type=range]:focus::-webkit-slider-runnable-track {
		  background: #EE4023;
		}
		input[type=range]::-moz-range-track {
		  background: #EE4023;
		}
		input[type=range]::-moz-range-thumb {
		  background: #EE4023;
		}
		input[type=range]::-ms-track {
		  background: #EE4023;
		}
		input[type=range]::-ms-fill-lower {
		  background: #EE4023;
		}
		input[type=range]::-ms-fill-upper {
		  background: #EE4023;
		}
		input[type=range]::-ms-thumb {
		 
		  background: #EE4023;cursor: pointer;
		}
		input[type=range]:focus::-ms-fill-lower {
		  background: #3071a9;
		}
		input[type=range]:focus::-ms-fill-upper {
		  background: #367ebd;
		}
	}
}

@media only screen and (min-width: 768px) {
	.data-content-profile {
		padding-left: 300px;
		padding-right: 100px;
		margin-left: 50px;
		margin-top: 25px;
		padding-bottom: 35px;
		padding-top: 35px;
		button {
			right: 100px;
		}
	}
}

@media only screen and (max-width: 768px) {
	.data-content-profile {
		button {
			position: relative;
			margin: 0 auto;
			right: auto;
			bottom: 0;
			margin-top: 15px;
		}
	}
}

.interests-radio {
	input[type="checkbox"] {
		display: none;
		& + label {
			position: relative;
			padding-left: 25px;
			cursor: pointer;
			display: inline-block;
			margin-right: 15px;
			margin-bottom: 15px;
			&::before {
				content: '';
				position: absolute;
				width: 18px;
				height: 18px;
				border: 2px solid #EE4023;
				border-radius: 100%;
				top: -2px;
				left: 0;
			}

			&::after {
				content: '';
				width: 12px;
				height: 12px;
				background-color: #EE4023;
				border-radius: 100%;
				position: absolute;
				top: 1px;
				left: 3px;
				transform: scale(0);
				-webkit-transform: scale(0);
				-moz-transform: scale(0);
				-ms-transform: scale(0);
				-o-transform: scale(0);
				@include transition(0.2s);
			}
		}

		&:checked + label {
			&::after {
				transform: scale(1);
				-webkit-transform: scale(1);
				-moz-transform: scale(1);
				-ms-transform: scale(1);
				-o-transform: scale(1);
				@include transition(0.2s);
			}
		}
	}
}

.list-interests {
	overflow: hidden;
	li {
		text-align: center;
		float: left;
		margin-top: 20px;
		margin-right: 60px;
		img {
			height: 50px;
		}

		span {
			display: block;
			color: #231F20;
			margin-top: 10px;
		}
	}
}

@media only screen and (max-width: 768px) {
	.list-interests {
		li {
			width: 33.333%;
			margin-right: 0;
		}
	}
}

.cadastro-empresa {
	.my-data {
		position: static;
	}
}

.content-tab-page {
	margin-bottom: 60px;
	display: none;
	h3 {
		text-transform: uppercase;
		color: #FAAE1B;
		font-size:2.4rem;
		font-family: 'Cairo', sans-serif;
		& + .description {
			font-size: 0.85rem;
			max-width: 400px;
			color: #616B71;
			line-height: 1.4;
			margin-top: 5px;
			margin-bottom: 25px;
		}
	}

	input:not([type="range"]), .clone-field {
		outline: none;
		width: 98%;
		height: 38px;
		border: 2px solid #0A879D;
		padding: 0 8px;
		margin-bottom: 10px;
		font-size: 0.9rem;
		font-family: 'Cairo';	
	}

	input[name="number"] {
		width: 91%;
	}

	.clone-field {
		line-height: 30px;
		font-size: 1.8rem;
		color: #FAAE1B;
		cursor: pointer; 
	}

	&.current {
		display: block;
	}

	.text-company {
		font-size: 0.9rem;
		color: #616B71;
		line-height: 1.4;
		p {
			margin-top: 15px;
			text-align: justify;
		}

		ul {
			margin-top: 20px;
			li {
				margin-top: 10px;
				padding-left: 30px;
				position: relative;
				&::before {
					content: '';
					position: absolute;
					top: 0;
					background-repeat: no-repeat;
					left: 0;
					width: 20px;
					height: 20px;
					background-image: url('public/img/_icons/pegada-list.svg');
					background-size: 16px 16px;
					background-position: center center; 
				}
			}
		}

		h4 {
			margin-top: 15px;
			color: #0A879D;
			& + p {
				margin-top: 8px;
			}
		}

		textarea {
			width: 100%;
			height: 130px;
			border-radius: 10px;
			padding: 20px;
			background-color: #AAD8DD;
			border: 0;
			outline: none;
			font-family: 'Cairo';
			margin-top: 15px;
		}

		input:not([type="range"]) {
			width: 100%;
			border-radius: 40px;
			background-color: #AAD8DD;
			border: 0;
			padding: 0 15px;
			margin-top: 10px;
		}

		.tags {
			margin-bottom: 15px;
			span {
				border-radius: 40px;
				padding: 0 15px;
				color: #fff;
				margin-right: 10px;
				cursor: pointer;
			}
		}

		.horario-de-funcionamento {
			input {
				display: inline-block;
				width: auto;
			}

			span {
				font-weight: bold;
			}

			
		}

		.upload-foto {
			width: auto;
			margin-top: 18px;
			float: none;
			overflow: hidden;
			label {
				border: 1px solid #0A879D;
				width: 120px;
				float: left;
				height: 120px;
				line-height: 100px;
				font-size: 3rem;
				color: #FAAE1B;
				margin-right: 10px;
			}

			&.capa {
				max-width: 100%;
			}
		}
	}
}

@media only screen and (max-width: 768px) {
	.clone-field {
		width: 100% !important;
	}

	.content-tab-page {
		margin-bottom: 0;
	

	.select-custom-inner.select-state {
			width: 100%;
			margin-bottom: 8px;
			max-width: none;
		}
	}
	.my-profile-page {
		padding-bottom: 0 !important;
	}
}

.select-custom-inner {
	display: inline-block;
	padding: 0;
	min-width: 120px;
	height: 35px;
	max-width: 120px;
	border-radius: 3px;
	overflow: hidden;
	background-color: #AAD8DD;
	border-radius: 40px;
	position: relative;
	top: 12px;
	background-image: url('public/img/_icons/arrow-select.svg');
	background-repeat: no-repeat;
	background-position: 93% center;
	background-size: 15px 8px;
	cursor: pointer;
	&.select-state {
		width: 90%;
		height: 38px;
		top: 0;
		background-color: transparent;
		border: 2px solid #0A879D;
		border-radius: 0;
		max-width: 90%;
		min-width: 90%;
		select {
			color: #666;
		}
	}
}

.select-custom-inner select {
	padding: 5px 10px;
	width: 130%;
	height: 35px;
	line-height: 25px;
	text-align: center;
	border: none;
	box-shadow: none;
	font-family: 'Cairo';
	font-size: 0.9rem;
	background-color: transparent;
	background-image: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.select-custom-inner select:focus {
	outline: none;
}

@media only screen and (max-width: 768px) {
	.content-tab-page {
		input:not([type="range"]) {
			width: 100%;
		}
	}
}

.next, .finish-register {
	margin: 0 auto;
	display: block;
	border: 0;
	outline: none;
	text-align: center;
	img {
		display: inline;
		width: 40px;
		margin: 20px auto;
		margin-top: 50px;
		cursor: pointer;	
	}	
}

.register-success {
	width: 90%;
	max-width: 600px;
	position: absolute;
	top: 53%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	text-align: center;
	img {
		width: 120px;
	}

	> h2 {
		font-size: 3rem;
		text-transform: uppercase;
		color: #FAAE1B;
		margin: 8px 0;
		font-family: 'Sequel';
	}

	> h4 {
		text-transform: uppercase;
		font-weight: bold;
		font-size: 1.1rem;
		color: #36365D;
	}

	> div {
		margin-top: 25px;
		h5 {
			font-weight: 400;
			text-transform: uppercase;
			font-size: 1.8rem;
			color: #36365D;
			margin-bottom: 10px;
		}

		p {
			font-size: 0.8rem;
			line-height: 1.5;
			color: #616B71;
		}

		a {
			display: table;
			padding: 8px 16px;
			text-transform: uppercase;
			border: 2px solid #EE4224;
			color: #EE4224;
			font-size: 0.8rem;
			margin: 15px auto 0;
			border-radius: 40px;
		}
	}
}

@media only screen and (max-width: 768px) {
	.register-success{
		transform: none;
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		position: static;
		top: 0;
		left: 0;
		margin: 0 auto;
		padding: 50px 0;
	}
}

.pop-up-login {
	position: fixed;
	width: 90%;
	max-width: 550px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	padding: 30px;
	background-color: #0A879D;
	z-index: 99999999;
	display: none;
	&.opened {
		display: block;
	}
	.welcome {
		width: 50%;
		float: left;
		color: #fff;
		h4 {
			font-size: 1.5rem;
			margin-top: 5px;
			& + span {
				font-size: 1.1rem;
				display: block;
				margin: 4px 0;
				margin-bottom: 15px;
			}
		}

		p {
			font-size: 1.1rem;
		}
	}
	img.login-icon {
		width: 25%;
		float: right;
	}

	form {
		display: block;
		margin-top: 25px;
		input {
			background-color: #B6E2E4;
			border-radius: 40px;
			font-family: 'Cairo';
			padding: 0 10px;
			line-height: 30px !important;
			color: #0A879D;
			height: 30px;
			outline: none;
			border: 0;
			width: 100%;
		}
	}

	.register-login {
		span {
			font-size: 0.7rem;
			display: block;
			color: #B6E2E4;
			margin-top: 10px;
			& + a {
				display: table;
				padding: 8px 16px;
				margin-top: 10px;
				font-size: 0.9rem;
				background-color: #b0eceb;
				color: #008a99;
			}
		}

		p {
			font-size: 0.7rem;
			display: block;
			color: #B6E2E4;
			margin-top: 0;
			a {
				display: inline !important;
			}
			img {
				height: 20px;
				display: inline-block;
				position: relative;
				top: 7px;
				margin: 0 5px;
			}
		}
	}

	button {
		display: table;
		padding: 12px 16px;
		margin-top: 10px;
		font-size: 0.9rem;
		background-color: #EE4023;
		color: #fff;
		position: absolute;
		right: 30px;
		bottom: -16px;
		border: 0;
		outline: none;
		cursor: pointer;
	}
}

@media only screen and (max-width: 768px) {
	.pop-up-login {
		.welcome {
			h4 {
				font-size: 1.1rem;
				& + span {
					font-size: 0.95rem;
				}
			}
		}

		img.login-icon {
			width: 40%;
		}
	}
}

.pop-up-chamado {
	width: 90%;
	max-width: 400px;
	position: fixed;
	background-color: #0A879D;
	padding: 30px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	text-align: center;
	-ms-transform: translate(-50%, -50%);
	z-index: 9999999;
	padding-bottom: 50px;
	display: none;
	&.opened {
		display: block;
	}
	img {
		width: 40%;
	}
	h4 {
		text-transform: uppercase;
		font-size: 3rem;
		font-family: 'Sequel';
		color: #B6E2E4;
		margin-top: 12px;
		margin-bottom: 25px;
	}

	p {
		color: #fff;
		&:last-of-type {
			text-transform: uppercase;
			margin-top: 25px;
		}
	}

	a {
		display: table;
		padding: 12px 16px;
		margin-top: 10px;
		font-size: 0.9rem;
		background-color: #EE4023;
		color: #fff;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		bottom: -16px;
		border: 0;
		outline: none;
		cursor: pointer;
	}
}

.bgParallax {
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.slide-pets-full {
	margin-left: 0 !important;
}

@media only screen and (min-width: 768px) {
	.slide-pets-full.has-1-slides, .slide-pets-full.has-2-slides, .slide-pets-full.has-3-slides {
		.slick-track {
			margin-left: 0 !important;
			transform: translate3d(0,0,0) !important;
		}

		.slick-list {
			padding: 0 !important;
		}
	}
}

main.contact-page {
	height: 100%;
	background-image: url('public/img/_structure/background-contato.svg');
	background-size: cover;
	background-position: center center;
	.contact-page-center {
		position: absolute;
		width: 100%;
		top: 50%;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		text-align: center;
		-ms-transform: translateY(-50%);
		h1 {
			font-size: 3rem;
			text-transform: uppercase;
			color: #008A99;
			margin-bottom: 8px;
			font-family: 'Sequel', sans-serif;
			+ p {
				color: #008A99;
				max-width: 650px;
				margin: 0 auto;
				line-height: 1.4;
				margin-bottom: 25px;
			}
		}

		label {
			display: block;
			color: #008A99;
			font-size: 0.9rem;
			margin-bottom: 5px;
		}

		input, textarea {
			width: 100%;
			outline: none;
			border: 0;
			height: 34px;
			margin-bottom: 10px;
			border-radius: 40px;
			background-color: #9FD0D7;
			padding: 0 15px;
			color: #fff;
			font-size: 0.8rem;
		}

		textarea {
			height: 120px;
			padding: 20px;
			border-radius: 25px;
			resize: none;
		}

		button {
			display: table;
			outline: none;
			border: 2px solid #EE4023;
			padding: 8px 16px;
			border-radius: 20px;
			cursor: pointer;
			color: #EE4023;
			margin: 0 auto;
			margin-top: 15px;
			font-size: 0.8rem;
			font-family: 'Cairo';
			@include transition(0.2s);
			&:hover {
				background-color: #EE4023;
				color: #fff;
				@include transition(0.2s);
			}
		}
	}
}

@media only screen and (max-width: 768px) {
	main.contact-page {
		height: auto;
		padding-bottom: 20px;
		.contact-page-center {
			position: relative;
			top: 0;
			transform: none;
			-webkit-transform: none;
			-moz-transform: none;
			-ms-transform: none;
			-o-transform: none;
		}
	}
}

app-contact {
	height: 100% !important;
}

div.ng-tns-c0-0 {
	height: 100%;
}

#pop-up-confirm-contact, #pop-up-confirm-newsletter {
	position: fixed;
	width: 90%;
	max-width: 400px;
	border-radius: 8px;
	background-color: #008A99;
	padding: 20px;
	text-align: center;
	z-index: 9999999;
	display: none;
	margin: 0;
	top: 50%;
	left: 50%;
	padding-bottom: 50px;
	transform: translate(-50%, -50%);
	img {
		height: 80px;
		display: inline-block;
	}
	&.opened {
		display: block;
	}

	p {
		font-size: 0.9rem;
		margin-top: 15px;
		color: rgba(#fff, 0.9);
	}

	h5 {
		font-size: 2.5rem;
		color: #BBDEE3;
		font-family: 'Sequel';
		margin-top: 10px;
	}

	a {
		position: absolute;
		padding: 12px 18px;
		color: #fff;
		left: 50%;
		font-size: 0.8rem;
		transform: translateX(-50%);
		bottom: -12px;
		background-color: #EE4023;
	}
}

.popup.confirm-popup {
	position: fixed;
	width: 90%;
	max-width: 400px;
	border-radius: 8px;
	background-color: #008A99;
	padding: 20px;
	text-align: center;
	z-index: 9999999;
	display: none;
	margin: 0;
	top: 50%;
	left: 50%;
	padding-bottom: 50px;
	transform: translate(-50%, -50%);
	img {
		height: 80px;
		display: inline-block;
	}
	&.opened {
		display: block;
	}

	p {
		font-size: 0.9rem;
		margin-top: 15px;
		color: rgba(#fff, 0.9);
	}

	h5 {
		font-size: 2.5rem;
		color: #BBDEE3;
		font-family: 'Sequel';
		margin-top: 10px;
	}

	.actions {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: -12px;
		width: 100%;
	}

	a {
		padding: 12px 18px;
		background-color: #EE4023;
		color: #fff;
		font-size: 0.8rem;
		display: inline-block;

		&.cancel {
			background-color: transparentize($color: #fff, $amount: 0.2);
			color: #EE4023;
		}
	}
}

/*! Swipebox v1.3.0 | Constantin Saguin csag.co | MIT License | github.com/brutaldesign/swipebox */html.swipebox-html.swipebox-touch{overflow:hidden!important}#swipebox-overlay img{border:none!important}#swipebox-overlay{width:100%;height:100%;position:fixed;top:0;left:0;z-index:999999999999999!important;overflow:hidden;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}#swipebox-container{position:relative;width:100%;height:100%}#swipebox-slider{-webkit-transition:-webkit-transform .4s ease;transition:transform .4s ease;height:100%;left:0;top:0;width:100%;white-space:nowrap;position:absolute;display:none;cursor:pointer}#swipebox-slider .slide{height:100%;width:100%;line-height:1px;text-align:center;display:inline-block}#swipebox-slider .slide:before{content:"";display:inline-block;height:50%;width:1px;margin-right:-1px}#swipebox-slider .slide .swipebox-inline-container,#swipebox-slider .slide .swipebox-video-container,#swipebox-slider .slide img{display:inline-block;max-height:100%;max-width:100%;margin:0;padding:0;width:auto;height:auto;vertical-align:middle}#swipebox-slider .slide .swipebox-video-container{background:0 0;max-width:1140px;max-height:100%;width:100%;padding:5%;-webkit-box-sizing:border-box;box-sizing:border-box}#swipebox-slider .slide .swipebox-video-container .swipebox-video{width:100%;height:0;padding-bottom:56.25%;overflow:hidden;position:relative}#swipebox-slider .slide .swipebox-video-container .swipebox-video iframe{width:100%!important;height:100%!important;position:absolute;top:0;left:0}#swipebox-slider .slide-loading{background:url(public/img/_icons/loader.gif) center center no-repeat}#swipebox-bottom-bar,#swipebox-top-bar{-webkit-transition:.5s;transition:.5s;position:absolute;left:0;z-index:999;height:50px;width:100%}#swipebox-bottom-bar{bottom:-50px}#swipebox-bottom-bar.visible-bars{-webkit-transform:translate3d(0,-50px,0);transform:translate3d(0,-50px,0)}#swipebox-top-bar{top:-50px}#swipebox-top-bar.visible-bars{-webkit-transform:translate3d(0,50px,0);transform:translate3d(0,50px,0)}#swipebox-title{display:block;width:100%;text-align:center}#swipebox-close,#swipebox-next,#swipebox-prev{background-image:url(public/img/_icons/icons.png);background-repeat:no-repeat;border:none!important;text-decoration:none!important;cursor:pointer;width:50px;height:50px;top:0}#swipebox-arrows{display:block;margin:0 auto;width:100%;height:50px}#swipebox-prev{background-position:-32px 13px;float:left}#swipebox-next{background-position:-78px 13px;float:right}#swipebox-close{top:0;right:0;position:absolute;z-index:9999;background-position:15px 12px}.swipebox-no-close-button #swipebox-close{display:none}#swipebox-next.disabled,#swipebox-prev.disabled{opacity:.3}.swipebox-no-touch #swipebox-overlay.rightSpring #swipebox-slider{-webkit-animation:rightSpring .3s;animation:rightSpring .3s}.swipebox-no-touch #swipebox-overlay.leftSpring #swipebox-slider{-webkit-animation:leftSpring .3s;animation:leftSpring .3s}.swipebox-touch #swipebox-container:after,.swipebox-touch #swipebox-container:before{-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-transition:all .3s ease;transition:all .3s ease;content:' ';position:absolute;z-index:999;top:0;height:100%;width:20px;opacity:0}.swipebox-touch #swipebox-container:before{left:0;-webkit-box-shadow:inset 10px 0 10px -8px #656565;box-shadow:inset 10px 0 10px -8px #656565}.swipebox-touch #swipebox-container:after{right:0;-webkit-box-shadow:inset -10px 0 10px -8px #656565;box-shadow:inset -10px 0 10px -8px #656565}.swipebox-touch #swipebox-overlay.leftSpringTouch #swipebox-container:before,.swipebox-touch #swipebox-overlay.rightSpringTouch #swipebox-container:after{opacity:1}@-webkit-keyframes rightSpring{0%{left:0}50%{left:-30px}100%{left:0}}@keyframes rightSpring{0%{left:0}50%{left:-30px}100%{left:0}}@-webkit-keyframes leftSpring{0%{left:0}50%{left:30px}100%{left:0}}@keyframes leftSpring{0%{left:0}50%{left:30px}100%{left:0}}@media screen and (min-width:800px){#swipebox-close{right:10px}#swipebox-arrows{width:92%;max-width:800px}}#swipebox-overlay{background:#0d0d0d}#swipebox-bottom-bar,#swipebox-top-bar{text-shadow:1px 1px 1px #000;background:#000;opacity:.95}#swipebox-top-bar{color:#fff!important;font-size:15px;line-height:43px;font-family:Helvetica,Arial,sans-serif}


/* how to home */
.inner {
	height: 100%;
	position: relative;
	width: 80%;
	margin: 0 auto;
}

.center-section {
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);

}

.section-how-to {
	height: 100vh;
}

@media only screen and (max-width: 768px) {
	.inner {
		width: 95%;
	}
}
.text {
	font-weight: 300;
	p {
		font-weight: 300;
	}
}
.section-how-to:not(#search-full) {
	text-align: center;
}

.section-how-to {

	h3:not(.o-que-procura){
		font-size: 4.5vmin;
		position: relative;
		margin-bottom: 5px;
	}

	
	.text {
		font-size: 0.9rem;
		line-height: 1.5;
		&.left {
			text-align: left;
		}

		ul {
			margin-top: 15px;
			padding-left: 20px;
			li {
				list-style: disc;
				font-weight: 300;
			}
		}
	}
}

.o-que-e-a-rex {
	background-color: #35355C;
	color: #fff;
	h1 {
		font-size: 0.9rem;
		font-weight: 400;
		margin-top: 0;
	}
	img {
		height: 40vmin;
		margin: 30px 0;
	}

	.text {
		max-width: 500px;
		margin: 0 auto;
		h3 {
			line-height: 1.2;
		}
	}
}

@media only screen and (max-width: 768px) {
	.section-how-to  {
		h3:not(.o-que-procura) {
			font-size: 1.2rem;
			
		}

		.text {
			font-size: 0.9rem;
			font-weight: 300;
			p {
				margin-top: 10px;
			}
		}
	}
	.o-que-e-a-rex {
		h3 {
			max-width: 80%;
			margin: 0 auto;
		}	
	}
}

.por-que-existimos {
	background-color: #29BABC;
	.text {
		color: #fff;
		max-width: 500px;
	}
}

@media only screen and (max-width: 768px) {
	.mosaic-image {
		margin-top: 20px;
	}
}

.esquema {
	background-color: #C8234F;
	color: #fff;
	.list-esquema {
		overflow: hidden;
		max-width: 600px;
		margin: 0 auto;
		li {
			width: 50%;
			float: left;
			position: relative;
			list-style: none !important; 
			&:nth-child(1), &:nth-child(2) {
				margin-bottom: 40px;
				margin-top: 40px;
			}
			img {
				height: 15vmin;
				position: relative;
				left: 20px;
			}
			
			p {
				display: table;
				margin: 0 auto;
				position: relative;
				padding-left: 30px;
				margin-top: 8px;
				span {
					position: absolute;
					left: 0;
					font-size: 1.4rem;
					font-weight: bold;
					top: 50%;
					transform: translateY(-50%);
				}
			}
		}
	}
}

@media only screen and (max-width: 768px) {
	.esquema {
		.list-esquema {
			li {
				&:nth-child(1), &:nth-child(2) {
					margin-top: 30px;
				}
				img {
					height: 50px;
				}
			}
		}
	}
}

.mergulhe {
	background-color: #603D6E;
	img {
		width: 90%;
    	max-width: 380px;
	}
	.text {
		color: #fff;
		ul {
			li {
				font-size: 1.05rem;
				line-height: 1.5;
			}
		}
	}
}

@media only screen and (min-width: 768px) {
	.mergulhe {
		img {
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
		}
	}
}

@media only screen and (max-width: 768px) {
	.mergulhe {
		.text {
			p, ul li {
				font-size: 0.8rem !important;
				&.para-navegar {
					margin-top: -20px;
				}
			}
		}
	}
}

.farejar {
	background-color: #29BABC;
	color: #fff;
	overflow: hidden;
	position: relative;
	.center-section {
		top: 50%;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
	}
	> img {
		position: absolute;
	    height: 72%;
	    bottom: -16%;
	    right: -16%;
	}
	.text {
		h3 {
			font-size: 4vmin;
		}
		a {
			display: table;
			padding: 8px 25px;
			width: 100%;
			max-width: 310px;
			border: 1px solid #fff;
			font-weight: bold;
			font-size: 1.4rem;
			color: #fff;
			margin: 15px auto 25px;
			@include transition(0.2s);
			&:hover {
				background-color: rgba(255,255,255,0.2);
				@include transition(0.2s);
			}
		}

		form {
			input {
				outline: none;
				border: 1px solid #fff;
				width: 100%;
				max-width: 350px;
				font-size: 1.2rem;
				margin: 0 auto;
				padding: 8px;
				display: block;
				color: #fff;
				font-family: 'Cairo';
				height: 50px;
				background-color: transparent;
			}

			button {
				    display: table;
				    padding: 12px 22px;
				    color: #fff;
				    background-color: #EE4023;
				    outline: none;
				    border: 0;
				    font-size: 0.8rem;
				    cursor: pointer;
				   margin: 15px auto 0;
				   @include transition(0.2s);
				   &:hover {
				   	background-color: darken(#EE4023, 10%);
				   	@include transition(0.2s);
				   }

			}
		}
	}
}

.pagination {
	position:fixed;
	left:40px;
	top: 50%;
    transform: translateY(-50%);
	font-size:1.4em;
	z-index: 10;
}
.pagination a {
	display:block;
	height:20px;
	margin-bottom:5px;
	color:white;
	position:relative;
	padding:4px;
}
.pagination a.active:after {
	background-image: url('public/img/_icons/arrow-how-to-active.svg');
}
.pagination a .hover-text {
	position:absolute;
	left:15px;
	top:5px;
	min-width: 200px;
	font-size: 0.7rem;
	opacity:0;
	-webkit-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
	padding-right: 15px;
}
.pagination a:hover .hover-text {
	opacity: 1;
}
.pagination a:after {
	background-image: url('public/img/_icons/arrow-how-to.svg');
	background-size: 100% 100%;
	width:20px;
	height:20px;
	display: block;
	content:'';
	position: absolute;
	margin:auto;
	top:0;
	right:4px;
	bottom:0;
}

#scroll-to-see-rex{
	position: absolute;
	bottom: 35px;
	text-align: center;
	color: #fff;
	left: 50%;
	transform: translateX(-50%);
	z-index: 9999;
	span {
		display: block;
		text-align: center;
		font-size: 0.8rem;
		margin-bottom: 10px;
	}
	img {
		height: 25px;
		animation: opacity 0.6s linear infinite alternate;
		-webkit-animation: opacity 0.6s linear infinite alternate;
		-moz-animation: opacity 0.6s linear infinite alternate;
		-ms-animation: opacity 0.6s linear infinite alternate;
		-o-animation: opacity 0.6s linear infinite alternate;
	}
}

@keyframes opacity {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@-webkit-keyframes opacity {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@media only screen and (max-width: 768px) {
	#scroll-to-see-rex {
		bottom: -20px;
	}
}

.content-manifest {
	padding: 50px 0;
	h1, h3 {
		font-size: 5vmin;
		text-transform: uppercase;
		color: #32BCBB;
		margin-top: 0;
	}

	p {
		line-height: 1.5;
		font-size: 0.95rem;
		margin-bottom: 15px;
	}
	.intro-text-manifest {
		text-align: justify;
		text-align-last: center;
		font-weight: 300;
		color: #603E6E;
	}

	.video-container {
		margin-top: 50px;
	}
}

@media only screen and (max-width: 768px) {
	.content-manifest {
		h1, h3 {
			font-size: 1.8rem;
		}
	}
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
    iframe {
    	position: absolute;
	    top:0;
	    left: 0;
	    width: 100%;
	    height: 100%;
    }
}

#mvv {
	padding: 60px 0 30px;
	img {
		height: 50px;
		display: block;
		margin: 0 auto;
		margin-bottom: 15px;
	}

	h4 {
		color: #613E6E;
		font-size: 1.5rem;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 10px;
	}

	p {
		font-size: 0.8rem;
		color: #603E6E;
		width: 80%;
		margin: 0 auto;
		font-weight: 300;
		line-height: 1.5;
		text-align: center;
	}
}

#what-we-deliver {
	padding: 60px 0;
	background-size: cover;
	h4 {
		font-size: 2.1rem;
		color: #fff;
		text-transform: uppercase;
	}
}

#list-deliver {
	padding: 75px 0;
	padding-top: 120px;
	.row:nth-of-type(2) {
		margin-top: 120px;
		div.align-text-manifest {
			float: right;
		}
	}

	div.align-text-manifest {
		width: 92%;
	}
	p {
		line-height: 1.2;
		margin-bottom: 15px;
		font-size: 0.9rem;
		color: #603E6E;
		text-align: justify;
	}

	h3 {
		text-transform: uppercase;
		font-size: 4vmin;
		text-transform: uppercase;
		color: #32BCBB;
		margin-top: 0;
		margin-bottom: 15px;
	}

	ul {
		padding-left: 20px;
		list-style: disc;
	}

	ul li {
		line-height: 1.2;
		font-size: 0.9rem;
		margin-bottom: 0;
		color: #603E6E;
	}

}

@media only screen and (max-width: 768px) {
	#list-deliver {
		div.align-text-manifest  {
			width: 100%;
		}
		.row:nth-of-type(2) {
			margin-top: 0;
		}
	}
}

#we-are {
	margin-top: 50px;
	text-align: center;
	padding-bottom: 70px;
	p {
		font-weight: bold;
		text-transform: uppercase;
		font-size: 4.2vmin;
		color: #613E6E;
		margin-top: 0;
		margin-bottom: 15px;
	}

	a {
		display: table;
		font-size: 1rem;
		border: 3px solid #FAAE1B;
		color: #FAAE1B;
		text-transform: uppercase;
		font-weight: bold;
		padding: 15px 25px;
		margin: 0 auto;
		@include transition(0.2s);
		&:hover {
			background-color: #FAAE1B;
			@include transition(0.2s);
			color: #fff;
		}
	}
}

@media only screen and (max-width: 768px) {
	#we-are {
		margin-top: 0;
	}
}

#terms-page {
	padding: 50px 0;
	h1 {
		text-transform: uppercase;
		font-size: 5vmin;
		color: #FAAE1B;
	}

	p {
		margin-top: 20px;
		line-height: 1.5;
		text-align: justify;
		font-weight: 300;
	}
}

.you-are-logged {
	height: calc(100vh - 395px);
}

.close-pop-up {
	position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: #b0eceb;
    text-align: center;
    font-size: 0;
    text-indent: -9999999px;
    color: transparent;
    top: -15px;
    background-repeat: no-repeat;
    cursor: pointer;
    border: 2px solid #fff;
    background-image: url('public/img/_icons/close-pop-up.svg');
    background-size: 12px 12px;
    background-position: center center;
    right: -15px;
    line-height: 26px;
    font-weight: bold;
    font-family: 'Cairo';
}

#back-to-top {
	bottom: 20px;
	transform: translateX(-50%);
	position: absolute;
	text-align: center;
	color: #fff;
	cursor: pointer;
	left: 50%;
	transform: translateX(-50%);
	z-index: 9999;
	span {
		display: block;
		text-align: center;
		font-size: 0.8rem;
		margin-top: 5px;
	}
	img {
		height: 25px;
		transform: rotate(180deg);
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-o-transform: rotate(180deg);
	}
}

@media only screen and (min-width: 768px) {
	.animal .rate .company span, .animal .rate .people span {
		font-size: 0.6rem;
		margin-right: -2px;
	}
}

.content-tab-page .clone-field, .content-tab-page input:not([type=range]) {
	line-height: 30px;
	border-radius: 0 !important;
}

@media only screen and (max-width: 768px) {
	.ads {
		.container {
			width: 100%;
			.animal .animal-info > div:first-of-type {
				padding-left: 10px;
			}
		}
	}

	.select-custom-inner {
		margin-bottom: 10px;
	}

	.content-tab-page .text-company .horario-de-funcionamento span {
	    position: relative;
	    top: -10px;
	}
}

@media only screen and (max-width: 768px) {
	.my-profile-page {
		.upload-foto {
			height: auto !important;
		}
	}
}

@media only screen and (max-width: 768px) {
	#fixed-mob-search {
		.page-top.fixed {
			position: fixed;
			top: 50px;
		}
	}
}

.ads {
	min-height: calc(100vh - 300px);
}