<shared-main-container>
  <div id="list-places" class="ads">
    <div class="container">
      <div class="row gutters">
        <div class="col">
          <table>
            <tr>
              <th>Email</th>
              <th>Assinado em</th>
              <th>Ações</th>
            </tr>
            <tr *ngFor="let item of list;">
              <td>{{ item.email }}</td>
              <td>{{ item.createdAt }}</td>
              <td><a (click)="remove(item)" title="Remover Assinate">Remover</a></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</shared-main-container>