<shared-main-container>
  <div id="list-interests" class="ads">
    <div class="container">
      <div class="row gutters" *ngFor="let group of groupedResults;">
        <div class="col col-4" *ngFor="let interest of group;">
          <admin-interest-card [interest]="interest"></admin-interest-card>
        </div>
      </div>
    </div>
  </div>
</shared-main-container>

<app-footer></app-footer>